<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-toast/paper-toast.html">

<dom-module id="dali-toast">
    <template>
        <style>
        </style>

        <paper-toast id="toast0" text="[[toastText]]" duration={{duration}}></paper-toast>

    </template>

    <script>
        class DaliToast extends Polymer.Element {
            static get is() {
                return 'dali-toast';
            }
           
            static get properties() {
                return {
                    showToast: {
                        type: Boolean,
                        value: false,
                        notify: true,
                        observer: '_showToastChange'
                    },
                    toastText: {
                        type: String,
                        notify: true,
                        observer: '_toastTextChange'
                    },
                    duration: {
                        type: Number,
                        notify: true,
                        value: 5000
                    }
                };
            }


            /**
             * Muestra toast con el nuevo texto.
             * No es necesario modificar showToast a true.
             * */
            _toastTextChange(newValue){
                if(newValue){
                    this.$.toast0.close();
                    this._showToastChange(true)
                }else{
                    this.$.toast0.close();
                }
            }

            /**
             * Muestra toast con el texto que ya tiene
             **/
            _showToastChange(newValue){
                if(newValue){
                    this.$.toast0.open();
                    this.showToast = false;
                }
            }
        }

        window.customElements.define(DaliToast.is, DaliToast);
    </script>
</dom-module>