<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../dali-icon/dali-icon.html">

<dom-module id="dali-icon-item">
    <template>
        <style>
            :host {
                display: block
            }

            paper-icon-item:hover{
                background-color: lavender
            }

        </style>

    <paper-icon-item>
            <dali-icon icon-name="{{icon}}" type="{{iconType}}" slot="item-icon"></dali-icon>
            <slot></slot>
    </paper-icon-item>

        

    </template>

    <script>
        class DaliIconItem extends Polymer.Element {
            static get is() {
                return 'dali-icon-item';
            }
            
            static get properties() {
                return {
                    icon: {
                        type: String,
                        notify: true
                    },
                    iconType: {
                        type: String,
                        notify: true
                    }
                };
            }

          

        }

        window.customElements.define(DaliIconItem.is, DaliIconItem);
    </script>
</dom-module>