<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../../../../../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../../../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../../../../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../../../../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../../../../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../../../../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../../../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="./configuracion-servicios-content.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">

<dom-module id="configuracion-servicios-layout">
    <template>
        <style include="my-colors">
         
            app-toolbar {
                background-color: #4285f4;
                color: #fff;
            }
            paper-icon-button {
                --paper-icon-button-ink-color: white;
            }
            app-header {
                @apply --layout-fixed-top;
                color: #fff;
                left: 0 !important;
                right: 0 !important;
            }
            app-drawer {
                left: 0;
                top: 0;
            }
            app-drawer-layout{
                top: -3em;
            }
        </style>

        <!-- <span>
            <dali-icon-button
            on-tap="_showConfig"
            icon="settings"
            type="button-action-normal-v"
            tooltip-text="Configurar servicios"
            ></dali-icon-button>
        </span> -->

 
    </template>

    <script>
        class ConfiguracionServiciosLayout extends Polymer.Element {
            
            static get is() {
                return 'configuracion-servicios-layout';
            }

            static get properties() {
                return {
                    disabled: {
                        type: Boolean,
                        notify: true
                    },
                    target: {
                        type: String
                    },
                    config: {
                        type: Object,
                        notify: true
                    },
                    hostServiceConfig: {
                        type: Object,
                        notify: true
                    },
                    configuracionServicios: {
                        type: String,
                        notify: true
                    }
                };
            }

            _patchOverlay(e) {
                if (e.target.withBackdrop) {
                    e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
                }
            }

            _guardarSalir(evt){
                this.$.alignedDialog.close()
            }

            _showConfig(evt){
                if(this.target){
                    this.parentNode.parentElement.parentElement.parentNode.querySelector("#configuracionServiciosContent").open(evt)
                }else{
                    console.error("Parametro target vacío.")
                }
            }

            _getConfigFromDB(){
                
            }
        }

        window.customElements.define(ConfiguracionServiciosLayout.is, ConfiguracionServiciosLayout);
    </script>
</dom-module>