<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="./configuracion-grupos.html">
<link rel="import" href="./edicion-grupos.html">
<link rel="import" href="./edicion-servicios.html">


<dom-module id="configuracion-servicios-content">
    <template>

        <iron-ajax
            id="obtenerServiciosAjax"
            url="[[configuracionServicios.hostServicios]]:[[configuracionServicios.portServicios]][[configuracionServicios.obtenerServiciosService.path]]"
            handle-as="[[configuracionServicios.obtenerServiciosService.handleAs]]"
            last-response="{{servicios}}"                       
            content-type="[[configuracionServicios.obtenerServiciosService.contentType]]"
            method="[[configuracionServicios.obtenerServiciosService.method]]"   
            auto
        ></iron-ajax>

        <style include="my-colors">
            #cabecera{
                margin-top: 0.5em;
                
            }
            paper-dialog-scrollable {
                margin-top: 0px;
            }

            paper-dialog.size-position {
                top: 16px;
            }
            
        </style>

    <paper-dialog id="dialog" class="width-96 size-position" modal>
        <div id="cabecera" class="container flex-horizontal ">
            <div><h2>Administrador de servicios</h2></div>
            <div id="space" class="flexchild"></div>
            <paper-tabs 
                class="spaceTabs button-action-go" 
                selected="0"
                noink>
                <paper-tab data-args="gruposContent" on-tap="seleccionarContenido" selected>GRUPOS</paper-tab>
                <paper-tab data-args="serviciosContent" on-tap="seleccionarContenido">SERVICIOS</paper-tab>
                <paper-tab data-args="camposContent" on-tap="seleccionarContenido">CAMPOS</paper-tab>
            </paper-tabs>
        </div>
       
        <paper-dialog-scrollable >
            <div id$="[[visivilidadConfig.0]]">
                <edicion-grupos
                    id="edicionGrupos"
                    config="{{edicionGruposConfig}}"
                    host-service-config="{{hostServiceConfig}}"
                ></edicion-grupos>
            </div>
           <div id$="[[visivilidadConfig.1]]" hidden="true">
               <edicion-servicios
                    id="edicionServicios"
                    servicios="{{servicios}}"
                    configuracion-servicios="{{configuracionServicios}}"
                ></edicion-servicios>
           </div>
            
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss class="button-action-cancel">Cerrar</paper-button>
        </div>
    </paper-dialog>
        
        
    </template>

    <script>
        
        class ConfiguracionServiciosContent extends Polymer.Element {
            static get is() {
                return 'configuracion-servicios-content';
            }

            static get properties() {
                return {
                    servicios: {
                        type: Array,
                        notify: true
                    },
                    hostServiceConfig: {
                        type: Object
                    },
                    configuracionServicios: {
                        type: Object,
                        notify: true
                    },
                    edicionGruposConfig: {
                        type: Object
                    },
                    visivilidadConfig: {
                        type: Array,
                        notify: true,
                        value: ["gruposContent","serviciosContent","camposContent"]
                    },
                    config: {
                        notify: true,
                        type: Object
                    }
                };
            }


            reloadServicios(){
                console.log("Ha cambiado el login, resincronizndo servicios")
                this.$.obtenerServiciosAjax.generateRequest()
            }

            ready(){
                super.ready();
                console.log();

                Polymer.RenderStatus.afterNextRender(this, function() {
                   console.log(); 
                });
            }

            /**
             * Selecciona el contenido para editar
             * */
            seleccionarContenido(evt){
                
                if(evt){
                    var forContent = evt.currentTarget.dataset.args
                    if(forContent){
                        this.visivilidadConfig.forEach(element => {
                            var content = Polymer.dom(this.root).querySelector("#" + element)
                            if(content){
                                if(element == forContent){
                                    Polymer.dom(this.root).querySelector("#" + element).hidden = false;
                                }else{
                                    Polymer.dom(this.root).querySelector("#" + element).hidden = true;
                                }
                            }
                            
                        });
                    }
                }
            }


            open(evt){
                this.$.dialog.open();
                this.$.edicionGrupos.listarGrupos();
            }

        }

        window.customElements.define(ConfiguracionServiciosContent.is, ConfiguracionServiciosContent);
    </script>
</dom-module>