<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="./edicion-grupos.html">

<dom-module id="configuracion-grupos">
    <template>
       
        <style include="my-colors">        
        </style>

        <edicion-grupos></edicion-grupos>
    </template>

    <script>
        
        class ConfiguracionGrupos extends Polymer.Element {
            static get is() {
                return 'configuracion-grupos';
            }
        }

        window.customElements.define(ConfiguracionGrupos.is, ConfiguracionGrupos);
    </script>
</dom-module>