<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="./nuevo-servicio-component.html">

<dom-module id="edicion-servicios">
    <template>
        <style include="my-colors">
            .scroll-servicios{
                height: 39em;
                width: 99%;
            }
        </style>

        <div class="container flex flex-center-align tall">
            <span class="contentTitle flexchild-vertical">Configuración de servicios</span>
            <div class="flexchild"></div>
            <paper-button 
            id="guardarButton" 
            on-tap="_abrirDialogCrearServicio"
            class="button-action-normal">
                <iron-icon icon="vaadin:plus"></iron-icon>
                <span class="text-12">
                    Crear nuevo servicio
                </span>
            </paper-button>

        </div>
       
        <span>Lista de servicios disponibles</span>
        <div class="container flex-horizontal">
            
            <iron-scroll-threshold class="scroll-servicios">
                    <div role="listbox">
                        <template is="dom-repeat" items="{{servicios}}" as="servicio">
                            <paper-icon-item  servicio="{{servicio}}" on-tap="_selectServiceForGroup">
                                <iron-icon icon="vaadin:globe" slot="item-icon"></iron-icon>
                                <paper-item-body two-line >
                                    <div>[[servicio.title]]</div>
                                    <div secondary>Información del servicio</div>
                                </paper-item-body>
                                <dali-icon-button
                                    icon="vaadin:list-ul"
                                    tooltip-text="Administrar servicios"
                                ></dali-icon-button>
                                <dali-icon-button
                                    icon="vaadin:edit"
                                    tooltip-text="Editar grupo"
                                ></dali-icon-button>
                                <dali-icon-button
                                    icon="vaadin:trash"
                                    tooltip-text="Editar grupo"
                                    type="button-action-cancel" 
                                    type="cancel" 
                                ></dali-icon-button>
                            </paper-icon-item>
                    </template>
                </div>
            </iron-scroll-threshold>
        </div>
      
    </div>


    

    </template>

    <script>
        class EdicionServicios extends Polymer.Element {
           
            static get is() {
                return 'edicion-servicios';
            }

            static get properties() {
                return {
                    servicios: {
                        type: Array,
                        notify: true
                    },
                    configuracionServicios: {
                        type: Object,
                        notify: true
                    }
                };
            }

            _abrirDialogCrearServicio(evt){
                    this.parentNode.host.parentNode.parentNode.parentNode.querySelector("#nuevoServicioDialog").open()
            }
        }

        window.customElements.define(EdicionServicios.is, EdicionServicios);
    </script>
</dom-module>