<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../../../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../fuse-rest-call/fuse-rest-call.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../dali/dali-icon-item/dali-icon-item.html">

<dom-module id="edicion-grupos">
    <template>

        <!-- <iron-ajax
            id="callFuseAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.obtener.path]]"
            handle-as="json"
            on-response="_handleResponseGetGrupos"                       
            content-type="[[hostServiceConfig.contentType.applicationJson]]"
            method="[[hostServiceConfig.method.GET]]"  
        ></iron-ajax>  -->
        <!-- <iron-ajax
            id="accionesGrupoAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.acciones.path]]"
            handle-as="json"
            on-response="_handleResponseAccionGrupos"                       
            content-type="[[config.acciones.contentType]]"
            method="[[accionMethod]]"     
        ></iron-ajax>  -->

        <!-- <iron-ajax
            id="obtenerServiciosajax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.obtenerServicios.path]]"
            handle-as="json"
            on-response="_handleResponseObtenerServicios"                       
            content-type="[[config.obtenerServicios.contentType]]"
            method="[[hostServiceConfig.method.GET]]"     
        ></iron-ajax> -->

        <!-- Lista grupos disponibles segun usuario en header 'this.headers.usuario' -->
        <iron-ajax
            id="obtenerListadoGruposAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.obtenerGrupos.path]]"
            handle-as="json"
            on-response="handleResponseGetGrupos"                       
            content-type="[[config.obtenerServicios.contentType]]"
            method="[[hostServiceConfig.method.GET]]"  
        ></iron-ajax>
        <!-- Accion de borrar grupo -->
        <iron-ajax
            id="borrarGrupoAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.borrar.path]][[idBorrar]]"
            handle-as="json"
            on-response="_handleResponseBorrarGrupos"                       
            content-type="[[config.borrar.contentType]]"
            method="[[hostServiceConfig.method.DELETE]]"     
        ></iron-ajax>

        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>

        <!-- 
            Llama al servicio node de asignar servicios a grupos
         -->
        <iron-ajax
            id="asignarServiciosGrupoAjax"
            url="http://localhost:3000/grupoServicios/servicios/[[grupoSeleccionadoEdicionServicios._id]]"
            handle-as="json"
            on-response="_handleResponseAsignarServiciosGrupo"                       
            content-type="application/json",
            method="PUT"     
        ></iron-ajax>


        <style include="my-colors">
            .menu-grupos{
                width: 100%;
            }
            
            .scroll-grupos{
                height: 20em;
            }   
            .custom-width{
                width: 100%;
            }      
        </style>

        <div class="container flex flex-center-align tall">
            <span class="contentTitle flexchild-vertical">[[config.titulo]]</span>
            <div class="flexchild"></div>
            <paper-button 
                id="guardarButton" 
                on-tap="crearNuevoGrupo"
                class="button-action-normal">
                    <iron-icon icon="vaadin:plus"></iron-icon>
                    <span class="text-12">
                        Crear nuevo grupo
                    </span>
            </paper-button>
        </div>

        <div class="container flex-horizontal">
            <div class="menu-grupos">
                <span class="subtitle contentTitleTall">[[config.gruposDisponbiles]]</span>
                <iron-scroll-threshold class="scroll-grupos">
                    <div role="listbox">
                        <template is="dom-repeat" items="{{grupos}}" as="grupo">
                            <dali-icon-item  grupo="[[grupo]]">
                                <iron-icon icon="folder" slot="item-icon"></iron-icon>
                                <paper-item-body two-line on-tap="_selectGroup">
                                    <div>[[grupo.title]]</div>
                                    <div secondary>creado: [[grupo.fechaCreacion]]</div>
                                </paper-item-body>
                                <dali-icon-button
                                    icon="vaadin:edit"
                                    tooltip-text="Cambiar nombre de grupo"
                                    on-tap="_editarGrupo"
                                ></dali-icon-button>
                                <dali-icon-button
                                    icon="vaadin:trash"
                                    tooltip-text="Eliminar grupo"
                                    type="button-action-cancel" 
                                    on-tap="_borrarGrupo"
                                ></dali-icon-button>
                        </dali-icon-item>
                        </template>
                    </div>
                </iron-scroll-threshold>
                </div>
        </div>
        

    </template>

    <script>
        
        class EdicionGrupos extends Polymer.Element {

            static get is() {
                return 'edicion-grupos';
            }

            
            static get properties() {
                return {
                    grupos: {
                        type: Array,
                        notify: true
                    },
                    servicios: {
                        type: Array,
                        notify: true
                    },
                    serviciosModificados:{
                        type: Array,
                        notify: true,
                        value: []
                    },
                    grupoSeleccionadoEdicionServicios: {
                        type: Object,
                        notify: true
                    },
                    datosCreacion: {
                        type: String,
                        notify: true
                    },
                    today: {
                        type: String,
                        computed: '_getToday()'
                    },
                    idGrupo: {
                        type: String,
                        notify: true
                    },
                    idBorrar: {
                        type: String,
                        notify: true
                    },
                    nombreGrupo: {
                        type: String,
                        notify: true,
                        observer: '_nombreGrupoChanged'
                    },
                    keyGrupo: {
                        type: String,
                        notify: true
                    },
                    inputDisabled: {
                        type: Boolean,
                        value: true,
                        notify: true
                    },
                    AccionMethod: {
                        type: String,
                        notify: true
                    },
                    currentAction:{
                        type: String,
                        notify: true,
                        value: "Datos del grupo seleccionado"
                    },
                    nuevoGrupoNombre: {
                        type: String,
                        notify: true
                    },
                    config: {
                        type: Object,
                        notify: true,
                        observer: 'configChanged'
                    },
                    hostServiceConfig: {
                        type: Object,
                        notify: true
                    },
                    toaster:{
                        type: Object
                    }
                };
            }

            /**
             * Cuando la configuracion se carga
             * */
            configChanged(newValue){
                var toaster = this.parentNode.parentNode.parentNode.parentNode.host.parentNode.querySelector("#principalToaster")
                if(toaster){
                    this.set("toaster", toaster)
                }
            }


            /**
             * Maneja la respuesta de obtener todos los grupos
             * para la lista de grupos disponibles
             * */
            handleResponseGetGrupos(evt){
                var response = evt.detail.response;

                if(response){
                    response.map(grupo => {
                        grupo.fechaCreacion = this._getToday(new Date(grupo.fechaCreacion))
                    });

                    this.grupos = response;
                }
            }

            /**
             * Llama a iron ajax para buscar el listado de grupos disponibles
             * */
            listarGrupos(){
                this.$.authStorage.reload()

                if(this.authVariables && this.authVariables.username){
                    this.$.obtenerListadoGruposAjax.headers.username =  this.authVariables.username
                    this.$.obtenerListadoGruposAjax.generateRequest()
                }else{
                    console.error("No se puede leer la autenticacion del sistema. Por favor reinicie sesion en la aplicacion")
                }
            }

            /**
            * Inicia flujo para crear el nuevo grupo en DB
            */
            crearNuevoGrupo(evt){
                var nuevoGrupoComponent = this.parentNode.parentElement.parentNode.parentNode.host.parentNode.querySelector("#nuevoGrupoComponent")
                nuevoGrupoComponent.edicionGrupos = this
                nuevoGrupoComponent.callBackAgregarGrupo = function(grupo){
                    if(grupo){
                        grupo.fechaCreacion = this._getToday(new Date(grupo.fechaCreacion))
                        this.push('grupos', grupo)
                    }
                }.bind(this)
                nuevoGrupoComponent.open();
            }

            /**
             * Borra el grupo seleccionado
             */
            _borrarGrupo(evt){
                var grupoSeleccionado = this.getGrupoFromList(evt.currentTarget);
                this.idBorrar = grupoSeleccionado._id.toString().trim();

                this.$.borrarGrupoAjax.body= {algo: "algo"}; //bug
                this.$.borrarGrupoAjax.generateRequest()
            }

            /**
             * Obtiene el grupo desde el component padre.
             * Se utuiliza para eliminar grupos
             * */
             getGrupoFromList(target){
                 return target.parentElement.grupo
             }

             /**
              * Respuesta del servicio que borra grupos
              * en el servidor
              * */
             _handleResponseBorrarGrupos(evt){
                var status = evt.detail.status;
                console.log(status)
                
                if(status == 201 || status == 200){

                    var index = this.grupos.findIndex(grupo => grupo._id == this.idBorrar)
                    
                     this.splice('grupos', index, 1);
                    var textoOk = "Se ha borrado el grupo exitosamente" 
                    console.log(textoOk)
                    this.toaster.toastText = textoOk
                    this.toaster.showToast = true;
                }
            }


            // ready(){
            //     super.ready();
            //     console.log();

            //     Polymer.RenderStatus.afterNextRender(this, function() {
            //        console.log(); 
            //     });
            // }

            /**
             * Accion de editar. Disponibiliza los componentes par la edicion
             * */
            // _editarGrupo(evt){
            //     this._selectGroup(evt)
            //     this.inputDisabled = false
            //     this.$.guardarButton.hidden = false
            //     this.$.cancelarButton.hidden = false
            //     this.$.nombreGrupoInput.focus();
            // }

            /**
             * Cancela la acciones de la asignacion de servicis
             * */
            // _cancelarAsignacionServicios(evt){
            //     this.$.serviciosCollapse.opened = !this.$.serviciosCollapse.opened 
            //     this.$.edicionCollapse.opened = !this.$.edicionCollapse.opened
            // }

            /*
            Termina la asignacion de servicios a grupos
            */
            // _terminarAsignacionServicios(evt){
            //     var isAsignacion = true;

            //     if(this.serviciosModificados && this.serviciosModificados.length > 0){
            //         var serviciosAgregar = [],
            //             serviciosEliminar = []

            //         for(var i=0;i<this.serviciosModificados.length;i++){
            //             var servicioModificado = this.serviciosModificados[i]
            //             if(servicioModificado.selected){
            //                 console.log("Servicio agregado para grupo: " + servicioModificado.title)
            //                 serviciosAgregar.push(servicioModificado._id)
            //             }else{
            //                 console.log("Servicio eliminado para grupo: " + servicioModificado.title)
            //                 serviciosEliminar.push(servicioModificado._id)
            //             }
            //         }

            //         this.grupoSeleccionadoEdicionServicios.agregarServicios = serviciosAgregar
            //         this.grupoSeleccionadoEdicionServicios.eliminarServicios = serviciosEliminar

            //         this.$.asignarServiciosGrupoAjax.body = this.grupoSeleccionadoEdicionServicios
            //         this.$.asignarServiciosGrupoAjax.generateRequest();
            //     }

            //     this.$.serviciosCollapse.opened = !isAsignacion 
            //     this.$.edicionCollapse.opened = isAsignacion
               
            // }

            /**
             * Cancela la edicion del grupo
             * */
            // _cancelar(evt){
            //     var isCrear = false;
            //     this.nombreGrupo = ""
            //     this.keyGrupo = ""
            //     this.currentAction = this.config.inicio
            //     this._toggleCrearGuardar()
            //     this.inputDisabled = !isCrear
            //     this.$.guardarButton.hidden = !isCrear
            //     this.$.cancelarButton.hidden = !isCrear
            // }

            // _toggleCrearGuardar(){
            //     this.$.guardarButton.hidden = !this.$.guardarButton.hidden
            //     this.$.cancelarButton.hidden = !this.$.cancelarButton.hidden
            // }


            

            
            // _nombreGrupoChanged(newValue){
            //     this.keyGrupo = newValue.replace(/\s/g,'').toLowerCase()
            // }

            /**
             * Evento de seleccionar un servicio para agregarlo al grupo
             * */
            // _selectServiceForGroup(evt){
            //     const servicioSeleciconado = evt.currentTarget.servicio
            //     const checkId = "#" + this.config.checkboxPrefix + servicioSeleciconado._id
            //     const isChecked = !Polymer.dom(this.root).querySelector(checkId).checked 
            //     Polymer.dom(this.root).querySelector(checkId).checked = isChecked

            //     if(isChecked){
            //         var existInGroup  = this.grupoSeleccionadoEdicionServicios.servicios.find(servicioId => {return servicioId == servicioSeleciconado._id})
                    
            //         if(!existInGroup){
            //             var exist = this.serviciosModificados.find(servicio => {return servicio._id == servicioSeleciconado._id})
            //             if(!exist){
            //                 this.serviciosModificados.push(servicioSeleciconado)
            //             }
            //         }else{
            //             var index = this.serviciosModificados.findIndex(servicio => servicio._id == servicioSeleciconado._id)
            //             this.splice('serviciosModificados', index, 1);
            //         }
            //     }else{
            //         var existInGroup  = this.grupoSeleccionadoEdicionServicios.servicios.find(servicioId => {return servicioId == servicioSeleciconado._id})

            //         if(existInGroup){
            //             this.serviciosModificados.push(servicioSeleciconado)
            //         }else{
            //              var index = this.serviciosModificados.findIndex(servicio => servicio._id == servicioSeleciconado._id)
            //              this.splice('serviciosModificados', index, 1);
            //         }
            //     }

            //     console.log()
            // }

            /**
             * Accion de editar de la lista de servicios
             * */
            // _editarServicios(evt){
            //     var grupoSeleccionado = this.getGrupoFromList(evt.currentTarget);
            //     this.currentAction = this.config.listaServicios

            //     this.grupoSeleccionadoEdicionServicios = grupoSeleccionado

            //     console.log("Grupo Seleccionado: " + JSON.stringify(grupoSeleccionado))

            //     this.$.serviciosCollapse.opened = true 
            //     this.$.edicionCollapse.opened = false 
            //     this.$.obtenerServiciosajax.generateRequest()
            // }

            /**
             * Maneja la trespuesta de obtener servicios 
             * para asignarlos a los grupos
             * */
            // _handleResponseObtenerServicios(evt){
            //     var response = evt.detail.response;

            //     response = response.map(servicio => {
            //         if(servicio.grupoServicio == this.grupoSeleccionadoEdicionServicios._id){
            //             servicio.selected = true
            //         }

            //         return servicio
            //     });

            //     this.servicios = response
            // }

            

            /*
             * Accion que selecciona un grupo y llena las variables del componente
             */
            // _selectGroup(evt){
            //     var grupoSeleccionado = this.getGrupoFromList(evt.currentTarget);
            //     console.log("grupo seleccionado: " + JSON.stringify(grupoSeleccionado));

            //     this.nombreGrupo = grupoSeleccionado.title;
            //     this.keyGrupo = grupoSeleccionado.key;
            //     this.idGrupo = grupoSeleccionado._id;

            //     //this.currentAction = this.config.inicio
            //     this._toggleCrearGuardar()
            //     this.inputDisabled = true
            //     this.$.guardarButton.hidden = true
            //     this.$.cancelarButton.hidden = true
            // }

            /**
             * Respuesta de la accion de guardar un grupo
             */
            // _handleResponseAccionGrupos(evt){
            //     var status = evt.detail.status;
            //     console.log(status)
                
            //     if(status == 201 || status == 200){
            //         this.push('grupos', evt.detail.response);
            //         //Llamar a toaster
            //         console.log("Guardado exitoso.")
            //     }
            // }

            

            

            _getToday(fecha){
                var today;

                if(fecha){
                    today = fecha;
                }else{
                    today = new Date()
                }

                var dd = today.getDate(),
                    mm = today.getMonth()+1, //January is 0!
                    yyyy = today.getFullYear();

                if(dd<10) {dd = '0'+dd} 
                if(mm<10) {mm = '0'+mm} 

                today = dd + '/' + mm + '/' + yyyy;
                return today;
            }
        

        }

        window.customElements.define(EdicionGrupos.is, EdicionGrupos);
    </script>
</dom-module>