<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../../../../../../../src/components/apis/service-api/components/layout-component/dali/dali-input/dali-input.html">

<dom-module id="nuevo-grupo-component">
    <template>

        <iron-ajax
            id="accionesGrupoAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.edicionGrupos.acciones.crear.path]]"
            handle-as="[[hostServiceConfig.handleAs.json]]"
            on-response="_handleResponseNuevoGrupos"         
            on-error="handleErrorGuardarGrupo"              
            content-type="[[hostServiceConfig.contentType.applicationJson]]"
            method="[[config.edicionGrupos.acciones.crear.method]]"     
        ></iron-ajax> 
        
        <style include="my-colors">
            :host {
                display: block
            }
        </style>

        <paper-dialog id="dialog" class="width-50" opened-changed="openedChanged" modal>
            <h2>Crear nuevo grupo de servicios</h2>
            <div class="container flex-horizontal">
                <dali-input 
                    id="nombreGrupoInput"
                    class="flexchild"
                    label="Nombre del grupo"
                    help-message="Nombre del grupo de servicios. Puede contener números"
                    value="{{nombreGrupo}}"
                ></dali-input>
            </div>
            <div class="container flex-end-justified">
                <paper-button dialog-dismiss class="button-action-cancel" on-tap="cancelar">Cancelar</paper-button>
                <paper-button class="button-action-go" on-tap="_crearNuevoGrupo">Crear servicio</paper-button>
            </div>
        </paper-dialog>

        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>

    </template>

    <script>
    
        class NuevoGrupoComponent extends Polymer.Element {
            static get is() {
                return 'nuevo-grupo-component';
            }

            static get properties() {
                return {
                    nombreGrupo: {
                        type: String,
                        notify: true
                    },
                    config: {
                        type: Object,
                        notify: true,
                        observer: 'configChanged'
                    },
                    envConfig: {
                        type: Object,
                        notify: true
                    },
                    hostServiceConfig: {
                        type: Object,
                        notify: true
                    },
                    toaster:{
                        type: Object,
                        notify: true
                    }
                };
            }

            /**
             * Cuando la propiedad open del dialogo cambia
             * */
            openedChanged(evt){
                console.log();
            }

            /**
             * Una vez cargada la configuracion, se asigna el 
             * toaster para mensajes al usuario
             * */
            configChanged(newValue){
                if(newValue){
                    var toaster = this.parentNode.querySelector("#principalToaster");
                    if(toaster){
                        this.set("toaster", toaster)
                    }
                }
            }

            /**
             * Maneja error al momento de mandar a guardar el grupo
             * */
            handleErrorGuardarGrupo(evt){
                if(evt.detail.request.status == 412){
                    this.toaster.toastText = "Este nombre de grupo no está disponible. Por favor elija otro."
                    this.toaster.showToast = true;
                    this.$.nombreGrupoInput.invalid = true
                }
            }

            /**
             * Abre dialogo
             * */
            open(){
                this.$.dialog.open();
                this.$.nombreGrupoInput.focus();
            }

            /**
             * Crea nuevo grupo segun nombre por parametro
             * */
            _crearNuevoGrupo(evt){
                var nuevoGrupoNombre = this.nombreGrupo
                this.$.authStorage.reload()

                if(!this.authVariables || !this.authVariables.username){
                    var error = "No se puede crear el grupo. Hay problema con la autenticación. Por favor salga y vuelva entra a la aplicación"
                    console.error(error)
                    this.toaster.toastText = error
                    return;
                }

                if(nuevoGrupoNombre){
                    var grupo = {
                        title: nuevoGrupoNombre,
                        key: nuevoGrupoNombre.replace(/\s/g,'').toLowerCase(),
                        fechaCreacion: new Date(),
                        username: this.authVariables.username 
                    }

                    this.log("Creando nuevo grupo: " + JSON.stringify(grupo))

                    this.$.accionesGrupoAjax.body = grupo
                    this.$.accionesGrupoAjax.generateRequest();
                }
            }

            /**
             * Maneja la respuesta de guardar nuevo grupo
             * */
            _handleResponseNuevoGrupos(evt){
                this.log("Se ha guardado el grupo")
                if(this.callBackAgregarGrupo){
                    this.callBackAgregarGrupo(evt.detail.response)
                    this.toaster.toastText = "Se ha generado nuevo grupo: " + this.nombreGrupo
                    this.nombreGrupo = ""
                    this.$.nombreGrupoInput.invalid = false
                    this.$.dialog.close();
                }
            }

            /**
             * Accion de cancelar
             * */
            cancelar(evt){
                this.nombreGrupo = ""
            }

            log(text){
                if(this.envConfig.logEnabled){
                    console.log(text)
                }
            }

        }

        window.customElements.define(NuevoGrupoComponent.is, NuevoGrupoComponent);
    </script>
</dom-module>