<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/timeu-wizard/timeu-wizard.html">
<link rel="import" href="../../../../../../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../dali/dali-input/dali-input.html">
<link rel="import" href="../dali/dali-check/dali-check.html">
<link rel="import" href="../dali/dali-list/dali-list.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../dali/dali-icon/dali-icon.html">
<link rel="import" href="../dali/dali-input/dali-input.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">

<dom-module id="nuevo-servicio-component">
    <template>

        <!-- 
            Guarda el nuevo servicio en db
         -->
        <iron-ajax
            id="nuevoServicioAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.edicionServicios.acciones.guardarNuevoServicio.path]]"
            handle-as="json"
            on-response="_handleResponseNuevoGrupos"                       
            content-type="application/json",
            method="[[config.edicionServicios.acciones.guardarNuevoServicio.method]]"     
        ></iron-ajax> 

        <!-- 
            Trae todos los campos para su seleccion
         -->
        <iron-ajax
            id="obtenerCamposAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.edicionCampos.acciones.traerTodos.path]]"
            handle-as="json"
            on-response="_handleObtenerCampos"                       
            content-type="application/json",
            method="[[config.edicionCampos.acciones.traerTodos.method]]"     
        ></iron-ajax> 

        <style include="my-colors">
            :host {
                display: block
            }

            .scroll-campos{
                height: 39em;
            }

            .listWidth{
                width: 50%;
            }

            h5{
                margin: 0;
                font-weight: normal;
                font-size: 14px;
                color: dimgray;
            }

            h6{
                margin: 0;
                padding-left: 1em;
                font-weight: normal;
                font-size: 14px;
            }
        </style>

        <timeu-wizard 
            id="wizard" 
            class="wizard"
            steps='["Datos del servicio","Selección de campos", "Configuración de campos", "Resumen"]' 
            step="{{wizardStep.step}}">
        </timeu-wizard>       

        <div hidden="{{wizardStep.hideStep1}}">
            <dali-input 
                id="nombreServicio"
                label="Nombre del servicio"
                help-message="Identificador del servicio. Puede contener números. Ej: Crear requerimiento"
                required
            ></dali-input>
            <dali-input 
                id="pathServicio"
                label="Path del servicio"
                help-message="Dirección en dónde se encuentra el servicio. Debe comenzar con '/' Ej: /cxf/private/compromiso"
                required
            ></dali-input>
            <dali-input 
                id="tituloAccion"
                label="Título de la acción"
                help-message="Título del botón de acción que se pintará en pantalla Ej: Crea requerimento!"
                required
            ></dali-input>
            <dali-input 
                id="ipHost"
                label="IP o nombre del servidor"
                help-message="Dirección IP o nombre del host en dónde se aloja el servicio Ej: 192.168.0.1"
                prefix-text="http://"
                required
            ></dali-input>
            <dali-input 
                id="puertoHost"
                label="Puerto del servidor"
                help-message="Puerto del servidor que escucha el llamado a los servicios. Ej: 8181"
                required
            ></dali-input>
            <p></p>
            <dali-check
                id="usaAutenticacion"
                checked="{{servicio.selected}}"
                label="Usa autenticación"
                help-message="Identifica si este servicio utiliza autenticación para ser llamado."
            ></dali-check>
            <p></p>
            <dali-list
                id="contentTypeList"
                items="[[configuracionServicios.types.contentType]]"
                help-message="Tipo del contenido que aceptará el servicio"
                label="Content/Type"
                required
            ></dali-list>
            <p></p>
            <dali-list
                id="metodoList"
                items="[[configuracionServicios.types.methods]]"
                help-message="Método de comunicación con el servicio"
                label="Método"
                required
            ></dali-list>
            <div class="container flex-end-justified">
                <paper-button dialog-dismiss class="button-action-cancel" on-tap="_cancelar">Cancelar</paper-button>
                <paper-button on-tap="_validarDatosServicio" class="button-action-go">
                    Selección de campos
                    <iron-icon class="space-left" icon="icons:arrow-forward" ></iron-icon>
                </paper-button>
            </div>
        </div>

        <div hidden="{{wizardStep.hideStep2}}">
            <p></p>
            <span class="contentTitle">Seleccione los campos que desea incluir en el servicio:</span>
            <div  class="container flex-horizontal">
                <div class="container flex-horizontal listWidth">
                    <div class="container flex-vertical  width-100">
                        <dali-input 
                            id="inputSearchCamposNuevos"
                            class="width-96"
                            label="Buscar campos"
                            icon-type="normal"
                            prefix-icon="search"
                            no-label-float
                        ></dali-input>
                        <iron-scroll-threshold class="scroll-campos width-100">
                                <div role="listbox">
                                    <template is="dom-repeat" items="{{campos}}" as="campo">
                                        <div class="container flex-horizontal flex-center-align" >
                                            <paper-icon-item 
                                                class="flexchild"  
                                                campo="{{campo}}" 
                                                on-mouseover="_onFocusSelectCampos"
                                                on-mouseout="_onBlurSelectCampos"
                                                on-tap="_selectCampo">
                                                    <iron-icon icon="icons:toc" slot="item-icon"></iron-icon>
                                                    <paper-item-body two-line >
                                                        <div class="text-14">[[campo.title]]</div>
                                                        <div secondary>Tipo: [[campo.type]]</div>
                                                    </paper-item-body>
                                                    <dali-icon id="actionIcon" type="go" icon-name="icons:chevron-right" hidden></dali-icon>
                                            </paper-icon-item>
                                            <dali-icon-button
                                                    icon="icons:zoom-in"
                                                    tooltip-text="Más información"
                                            ></dali-icon-button>
                                        </div>
                                </template>
                            </div>
                        </iron-scroll-threshold>
                    </div>
                </div>
                <div class="container flex-horizontal listWidth">
                    <div class="container flex-vertical  width-100">
                        <dali-input 
                            id="inputSearchCamposNuevos"
                            class="width-96"
                            label="Buscar campos"
                            icon-type="normal"
                            prefix-icon="search"
                            no-label-float
                        ></dali-input>
                            <iron-scroll-threshold class="scroll-campos width-100">
                                    <div role="listbox">
                                        <template is="dom-repeat" items="{{camposSeleccionados}}" as="campo">
                                            <div class="container flex-horizontal flex-center-align" >
                                                <paper-icon-item 
                                                    class="flexchild"  
                                                    campo="{{campo}}" 
                                                    on-mouseover="_onFocusSelectCampos"
                                                    on-mouseout="_onBlurSelectCampos"
                                                    on-tap="_deselectCampo">
                                                        <iron-icon icon="icons:toc" slot="item-icon"></iron-icon>
                                                        <paper-item-body two-line >
                                                            <div class="text-14">[[campo.title]]</div>
                                                            <div secondary>Tipo: [[campo.type]]</div>
                                                        </paper-item-body>
                                                        <dali-icon id="actionIcon" label="Quitar" icon-name="icons:chevron-left" hidden></dali-icon>
                                                </paper-icon-item>
                                                <dali-icon-button
                                                        icon="icons:zoom-in"
                                                        tooltip-text="Más información"
                                                ></dali-icon-button>
                                            </div>
                                    </template>
                                </div>
                            </iron-scroll-threshold>
                    </div>
                </div>

            </div>
            <div class="container flex-end-justified">
                    <paper-button class="button-action-cancel" on-tap="prevStep">
                        <iron-icon class="space-right" icon="icons:arrow-back" ></iron-icon>                        
                        Datos del servicio
                    </paper-button>
                    <paper-button on-tap="nextStep" class="button-action-go">
                        Resumen
                        <iron-icon class="space-left" icon="icons:arrow-forward" ></iron-icon>
                    </paper-button>
            </div>
        </div>
        <div hidden="{{wizardStep.hideStep3}}">
            <span class="contentTitle">Estas son las configuraciones de los campos</span>
            
        </div>        
        <div hidden="{{wizardStep.hideStep4}}">
                
                <div class="container flex-horizontal">
                    <div class="listWidth">
                        <span class="contentTitle">Datos de la creación del servicio:</span>
                        <p></p>
                        <h5>Titulo: </h5><h6>{{servicio.title}}</h6><p></p>
                        <h5>Dirección del servidor: </h5><h6>{{servicio.host}}</h6><p></p>
                        <h5>Puerto del servidor: </h5><h6>{{servicio.port}}</h6><p></p>
                        <h5>Path del servicio: </h5><h6>{{servicio.path}}</h6><p></p>
                        <h5>Titulo de la acción: </h5><h6>{{servicio.actionTitle}}</h6><p></p>
                        <h5>Content/Type: </h5><h6>{{servicio.contentType}}</h6><p></p>
                        <h5>Método: </h5><h6>{{servicio.method}}</h6><p></p>
                        <template is="dom-if" if="{{servicio.autenticacion}}">
                        
                        </template>
                        <h5>Usa autenticación: </h5><h6>{{usaAutenticacion}}</h6><p></p>
                        <p></p>
                    </div>
                    <div class="listWidth">
                        <span class="contentTitle">Campos seleccionados:</span>                        
                        <iron-scroll-threshold class="scroll-campos width-100">
                                <div role="listbox">
                                    <template is="dom-repeat" items="{{camposSeleccionados}}" as="campo">
                                        <div class="container flex-horizontal flex-center-align" >
                                            <paper-icon-item 
                                                class="flexchild"  
                                                campo="{{campo}}">
                                                    <iron-icon icon="icons:toc" slot="item-icon"></iron-icon>
                                                    <paper-item-body two-line >
                                                        <div class="text-14">[[campo.title]]</div>
                                                        <div secondary>Tipo: [[campo.type]]</div>
                                                    </paper-item-body>
                                            </paper-icon-item>
                                            <dali-icon-button
                                                    icon="icons:zoom-in"
                                                    tooltip-text="Más información"
                                            ></dali-icon-button>
                                        </div>
                                </template>
                            </div>
                        </iron-scroll-threshold>
                    </div>
                </div>
                <div class="container flex-end-justified">
                        <paper-button class="button-action-cancel" on-tap="prevStep">
                        <iron-icon class="space-right" icon="icons:arrow-back" ></iron-icon>                            
                        Selección de campos
                        </paper-button>
                        <paper-button class="button-action-go" on-tap="_crearServicio">Crear servicio</paper-button>
                </div>
            </div>
    </template>

    <script>
        class NuevoServicioComponent extends Polymer.Element {
            static get is() {
                return 'nuevo-servicio-component';
            }
            static get properties() {
                return {
                    configuracionServicios: {
                        type: Object,
                        notify: true
                    },
                    servicio: {
                        type: Object,
                        notify: true
                    },
                    campos: { 
                        type: Array,
                        notify: true
                    },
                    camposSeleccionados: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    usaAutenticacion: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    wizardStep: {
                        type: Object,
                        notify: true,
                        value: {
                            stepCount: 4,
                            step: 1,
                            hideStep1: false,
                            hideStep2: true,
                            hideStep3: true,
                            hideStep4: true
                        }
                    }
                };
            }


            /**
             * Guarda el servicio en la base de datos
             * */
            _crearServicio(evt){
                if(this.servicio){
                    this.servicio.campos = this.camposSeleccionados
                    this.$.nuevoServicioAjax.body = this.servicio
                    this.$.nuevoServicioAjax.generateRequest();

                }else{
                    console.error("Error critico. No se pueden leer las variables del shasdowDOM")
                }
            }

            /**
             * Maneja la respuesta del guardado del nuevo servicio
             * */
             _handleResponseNuevoGrupos(evt){
                 var status = evt.detail.status
                console.log("Esta es la respuesta del nuevo servicio: " + status)
                if(status == 200 || status == 201){
                    //Lanzar mensaje TOAST
                    //Cerrar dialog
                    console.log()
                }else{
                    //Lanzar error porque no pudo hacer el guardado
                }
            }

            /**
             * Pasa el campo seleccionado a la lista de seleccionados
             * y lo quita de la lista de disponbiles
             * */
            _selectCampo(evt){
                var campoSeleccionado = evt.currentTarget.campo
                
                var index = this.campos.findIndex(campo => campo._id == campoSeleccionado._id)
                this.splice('campos', index, 1);
                this.push('camposSeleccionados', campoSeleccionado);
                console.log();
            }

            /**
             * Pasa el campo de la lista de seleccionados 
             * a lista de disponibles
             * */
            _deselectCampo(evt){
                var campoSeleccionado = evt.currentTarget.campo
                
                var index = this.camposSeleccionados.findIndex(campo => campo._id == campoSeleccionado._id)
                this.splice('camposSeleccionados', index, 1);
                this.push('campos', campoSeleccionado);
                console.log();
            }


            /**
             * Modifica el estilo del item en focus
             * */
            _onFocusSelectCampos(evt){
                var target = evt.currentTarget                       
                target.classList.toggle("focusedItem", true);  
                target.lastElementChild.hidden = false
            }

            _onBlurSelectCampos(evt){
                var target = evt.currentTarget                       
                target.classList.toggle("focusedItem", false);
                target.lastElementChild.hidden = true
                
            }

            /**
             * Maneja la respuesta de obtener los campos para
             * que el usuario los seleccione como parte del servicio
             * */
            _handleObtenerCampos(evt){
                var campos = evt.detail.response

                if(campos){
                    this.campos = campos
                }else{
                    console.log("Error al obtener los campos de la Base de datos.")
                }
            }

            /**
             * Guarda servicio despues de validaciones
             * */
            _validarDatosServicio(evt){
                var camposValidos = this.validaCampos(evt),
                    servicio

               if(camposValidos){
                    console.log("Campos validos. Guardando servicio.")  
                    servicio = new Object  
                    servicio.title = this.$.nombreServicio.value               
                    servicio.host = this.$.ipHost.value               
                    servicio.port = this.$.puertoHost.value               
                    servicio.path = this.$.pathServicio.value   
                    servicio.actionTitle = this.$.tituloAccion.value  
                    servicio.contentType = this.$.contentTypeList.$.list.selectedItem.value
                    servicio.method = this.$.metodoList.$.list.selectedItem.value
                    servicio.autenticacion = this.$.usaAutenticacion.checked

                    if(servicio.autenticacion){
                        this.usaAutenticacion = "Sí"
                    }else{
                        this.usaAutenticacion = "No"
                    }
                    this.nextStep()
                }

                
                this.servicio = servicio
                this.camposSeleccionados = []
                this.$.obtenerCamposAjax.generateRequest();

            }

            /**
             * Logica que oculta los pasos anteriores y muestra el siguiente
             * del parametro de entrada
             * Ej: entrada 1, muestra 2
             * */
            nextStep(){
                var nextStep = this.wizardStep.step + 1
                
                this.wizardStep.step = nextStep;

                for(var i=0;i<this.wizardStep.stepCount;i++){
                    var hideStep = "hideStep" + (i+1)
                    this.wizardStep[hideStep] = (i+1 != nextStep)
                    this.notifyPath('wizardStep.' + hideStep);
                }

                this.notifyPath('wizardStep.step');
            }

            /**
             * Logica que oculta los pasos anteriores y muestra el siguiente
             * del parametro de entrada
             * Ej: entrada 1, muestra 2
             * */
             prevStep(){
                var actualStep = this.wizardStep.step
                var prevStep = actualStep - 1
                
                this.wizardStep.step = prevStep;

                for(var i=0;i<this.wizardStep.stepCount;i++){
                    var hideStep = "hideStep" + (i+1)
                    this.wizardStep[hideStep] = (i+1 != prevStep)
                    this.notifyPath('wizardStep.' + hideStep);
                }

                this.notifyPath('wizardStep.step');
            }

            /**
             * Valida los campos ants de enviarlos
             * */
            validaCampos(evt){
                var validations = [
                    this.$.nombreServicio,
                    this.$.pathServicio,
                    this.$.tituloAccion,
                    this.$.ipHost,
                    this.$.puertoHost,
                    this.$.contentTypeList,
                    this.$.metodoList
                ]
                    
                return  validations.map(inputForm => {
                    return inputForm.validate(evt)
                }).filter(validationConform => {
                    console.log()
                    return validationConform == false                
                }).length == 0
            }

            /**
             * Limpia elementos
             * */
            _cancelar(evt){
                this.servicio = null
                this.wizardStep.step = 1
                const hidden = true

                

                for(var i=0;i<this.wizardStep.stepCount;i++){
                    if(i==0){
                        hidden = false
                    }

                    var hideStep = "hideStep" + (i+1)
                    this.wizardStep[hideStep] = hidden
                    this.notifyPath('wizardStep.' + hideStep);
                }
            }

        }

        window.customElements.define(NuevoServicioComponent.is, NuevoServicioComponent);
    </script>
</dom-module>