<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../dali-icon/dali-icon.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">

<dom-module id="dali-list">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }
            .space{
                margin-left: 0.5em;
            }
        </style>

        <div class="container flex flex-center-align">
            <paper-dropdown-menu label="{{label}}">
                <paper-listbox 
                    id="list"
                    on-focus="_onFocus"
                    slot="dropdown-content" >
                        <template is="dom-repeat" items="[[items]]">
                            <paper-item value="{{item.key}}" campo-id="{{item.key}}">[[item.value]]</paper-item>
                        </template>
                    
                </paper-listbox>
            </paper-dropdown-menu>
    
            <dali-icon
                class="space"
                icon-name="help-outline"
                tooltip-text="{{helpMessage}}"
            ></dali-icon>
        </div>

       

    </template>

    <script>
        
        class DaliList extends Polymer.Element {
           
            static get is() {
                return 'dali-list';
            }

            static get properties() {
                return {
                    helpMessage: {
                        type: String,
                        notify: true
                    },
                    items: {
                        type: Array,
                        notify:true
                    },
                    label: {
                        type: String,
                        notify: true
                    },
                    required: {
                        type: Boolean,
                        notify: true
                    }
                };
            }

            /**
             * Limpia lista de valiaciones
             * */
            _onFocus(evt){
                this.$.list.parentElement.invalid = false
                this.$.list.parentElement.errorMessage = null
            }

            /**
             * Valida seleccion de al menos un campo
             * */
            validate(evt){
                var isValid = true
                if(this.required){
                    var list = this.$.list

                    if(!list.selectedItem){
                        list.parentElement.invalid = true
                        list.parentElement.errorMessage = "Campo requerido"
                        isValid = !list.parentElement.invalid
                    }
                }

                return isValid
            }
        }

        window.customElements.define(DaliList.is, DaliList);
    </script>
</dom-module>