<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../../shared/shared-styles.html">
<link rel="import" href="../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../service-api/components/config/config-component.html">
<link rel="import" href="../../../apis/service-api/components/layout-component/dali/dali-icon/dali-icon.html">
<link rel="import" href="../../service-api/components/layout-component/dali/dali-toast/dali-toast.html">

<dom-module id="auth-component">
    <template>
    <style include="my-colors">
    </style>
     <custom-style>
        <style is="custom-style">
            .flex-end-justified {
                @apply --layout-horizontal;
                @apply --layout-end-justified;
            }
            .login{
                width: 50%;
            }
            .button-tall-login{
                width: 7em;
                height: 3em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                margin-right: 3.7em;
            }
            .shadow-16dp { 
                @apply --shadow-elevation-16dp; 
            }
            .space{
                margin-top: 15%
            }

            .inputIcon{
                margin-right: 10px
            }
            .textFooter{
                font-size: 10px;
            }
        </style>
    </custom-style>

    <!-- 
        Configuracion inicial
    -->
    <config-component
        services-config="{{servicesConfig}}"
        services-config-content="{{servicesConfigContent}}"
        app-config="{{appConfig}}"
    ></config-component>

    <!-- 
        Llama a servicio de login
    -->
    <iron-ajax
        id="loginAjax"
        url="{{config.configuracionServicios.hostServicios}}:{{config.configuracionServicios.portServicios}}{{config.path}}"
        handle-as="json"
        on-response="loginResponse"
        on-error="_logResponseError"
        content-type="application/json"
        method="[[config.methodLogin]]"
    ></iron-ajax>
    <!--
        Llama al servicio de logout
    -->
    <iron-ajax
        id="logoutAjax"
        url="[[config.configuracionServicios.hostServicios]]:[[config.configuracionServicios.portServicios]][[config.path]]"
        handle-as="json"
        on-response="_logoutResponse"
        content-type="application/json"
        method="[[config.methodLogout]]"
    ></iron-ajax>
    <!--
        Llama al servicio de logout
    -->
    <iron-ajax
        id="isLogedIntAjax"
        url="{{config.configuracionServicios.hostServicios}}:{{config.configuracionServicios.portServicios}}{{config.path}}/{{authVariables.token}}"
        handle-as="json"
        on-response="_isLogedIdResponse"
        content-type="application/json"
        method="[[config.methodIsLogedIn]]"
    ></iron-ajax>

    <!-- 
        Componente localStorage para guardar los datos del usuario
     -->
    <iron-localstorage 
        id="authStorage"
        name="auth-storage"
        value="{{authVariables}}"
        on-iron-localstorage-load-empty="_initializeStorage"
    ></iron-localstorage>

    <div class="space"></div>
    <div id="loginWraper" class="container flex-center-justified">
        <paper-card class="width-35 card-background shadow-16dp" heading="Autenticación" alt="">
                <div class="card-content white-background container flex-center-justified" >
                    <div class="width-70">
                        <paper-input id="userAuth" label=" Nombre de usuario" on-keydown="_pressEnter">
                            <dali-icon icon-name="vaadin:user" slot="prefix" color="darkgrey" class="inputIcon"></dali-icon>
                        </paper-input>
                        <p />
                        <paper-input id="passAuth" type="password" label=" Contraseña" on-keydown="_pressEnter">
                            <dali-icon icon-name="vaadin:key" slot="prefix" color="darkgrey" class="inputIcon"></dali-icon>
                        </paper-input>
                    </div>
                </div>
                <div class="card-actions white-background flex-end-justified">
                    <paper-button on-tap="_autenticar" class="button-action-go button-tall-login">Entrar</paper-button>
                </div>
        </paper-card>
    </div>

    <div class="container flex-end-justified">
        <a class="textFooter" target="_blank" href="http://mvn.sigfe.gob.cl/arquitectura/consola-interoperabilidad">Documentación en línea</a>
    </div>
    <div class="container flex-end-justified">
        <div class="textFooter">v0.25</div>
    </div>
          
          

    <dali-toast id="authToaster" toast-text="{{toastText}}" duration="6000"></dali-toast>

    </template>

    <script>
        class AuthComponent extends Polymer.Element {
        
            static get is() {return 'auth-component';}
           
            static get properties() {
                return {
                    userAuth: {
                        type: Boolean,
                        value: false,
                        notify: true
                    },
                    config: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    authVariables: {
                        type: Object,
                        notify: true,
                        observer: '_authVariableChanged'
                    },
                    toastText: {
                        type: String,
                        notify: true
                    },
                    appConfig: {
                        type: Object,
                        notify:true,
                        observer: '_appConfigChandeg'
                    }
                };
            }

            /**
             * Carga la configuracion inicial para el componente
             * */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _authVariableChanged(newValue){
                if(newValue){
                    console.log("######## este el el json::: " + JSON.stringify(newValue) + " ##### Este era...")
                    console.log("### : " + JSON.stringify(this.authVariables))
                    console.log("$$$ : " + this.authVariables.token)
                }

                if(this.authVariables && this.authVariables.token){
                        this.$.isLogedIntAjax.generateRequest();
                }
            }

            /**
             * Se lanza cuando la configuracion es cargada
             * */
            _appConfigChandeg(newValue){
                this.set("config.configuracionServicios", this.appConfig.configuracionServicios);
                this.set("config.methodLogin", this.appConfig.authComponent.methodLogin);
                this.set("config.methodLogout", this.appConfig.authComponent.methodLogout);
                this.set("config.methodIsLogedIn", this.appConfig.authComponent.methodIsLogedIn);
                this.set("config.path", this.appConfig.authComponent.path);
                this.set("config.authPath", this.appConfig.authComponent.authPath);

                if(this.authVariables && this.authVariables.token){
                        this.$.isLogedIntAjax.generateRequest();
                }
            }

            /**
             * Metodo que maneja tecla enter
             * */
             _pressEnter(evt){
                switch(evt.keyCode){
                    case 13: //Enter
                        this._autenticar();
                        break;
                }  
            }

            /**
             * Respuesta de isLogedin
             * */
            _isLogedIdResponse(evt){
                var isLogedIn = evt.detail.response.isLogedIn
                if(isLogedIn){
                    this.userAuth = true;
                }else{
                    this.userAuth = false;
                }
            }

            /**
            Metodo que inicia el flujo de cerrar sesion
            */
            cerrarSesion(){
                this.$.logoutAjax.body = {    
                    token : this.authVariables.token
                }

                this.$.logoutAjax.generateRequest();
            }

            /**
            Call back de cerrar sesion
            */
            _logoutResponse(evt){
                this.set("userAuth",false);
                this.authVariables = {};
                console.log("El usuario a perdido la sesion.");
            }

            /**
             * Maneja la respuesta del login
             * */
            loginResponse(evt){
                var token = evt.detail.response.token,
                    roles = evt.detail.response.roles,
                    username = this.$.userAuth.value
                if(token && roles){
                    console.log("Usuario autenticado.");

                    this.set("authVariables.token", token);
                    this.set("authVariables.roles", roles);
                    this.set("authVariables.username", username);
                    this.set("authVariables.time", new Date());

                    this.notifyPath("authVariables.token");
                    this.notifyPath("authVariables.roles");
                    this.notifyPath("authVariables.username");
                    this.notifyPath("authVariables.time");

                    this.set("userAuth",true);

                    this.$.userAuth.value = "";
                    this.$.passAuth.value = "";

                    var rolesToPages = {roles: roles};
                    var user = {
                        roles: roles,
                        username: username
                    }

                    /**
                     * Cuando la autenticain es correcta,
                     * se recargan los componentes de acuerdo a la autenticaion actual
                     * */
                    this.realoadComponents(rolesToPages, user)

                }else{
                    console.error("ERROR RECUPERANDO TOKEN DE AUTENTICACION Y ROLES DEL USUARIO");
                }
            }

            /**
             * Reinicia los componentes y los deja con 
             * con el mismo estatus que cuando empieza la ejecucion
             * */
            realoadComponents(rolesToPages, user){
                this.reloadSesion(user);
                this.reloadServices(rolesToPages);
                this.reloadInteract();
                this.reloadBusqueda();
                this.reloadAmbiente(rolesToPages);
                this.reloadAuditoria(rolesToPages);
                this.reloadAuthPanel(user);
                this.reloadEditorAmbiente(rolesToPages);
            }

            reloadEditorAmbiente(roles){
                this.parentElement.parentElement.querySelector("service-api-layout").$.editarAmbienteLayout.reload(roles.roles);
            }

            /**
            * Oculta showInteract
            */
            reloadInteract(){
                this.parentElement.parentElement.querySelector("service-api-layout").$.drawerLayout.querySelector("main-content").$.interact.reload();
            }

            /**
             * Reinicia la busqueda des servicios en drawer
             * */
            reloadBusqueda(){
                this.parentElement.parentElement.querySelector("service-api-layout").$.drawerContent.$.daliSearchBox.reload();
            }

            reloadAuthPanel(user){
                this.parentElement.parentElement.querySelector("service-api-layout").$.sesionComponent.reload(user);
            }

            reloadAuditoria(roles){
                this.parentElement.parentElement.querySelector("service-api-layout").$.auditoriaComponent.reload(roles);
            }

            reloadSesion(user){
                this.parentElement.parentElement.querySelector("service-api-layout").$.sesionComponent.username = user.username;
            }

            /**
             * - Recarga componente de servicios disponibles (Busca servicios con los nuevos roles)
             * - Oculta el servicio seleccionado
             * - Contrae grupos del drawer
             * */
            reloadServices(roles){
                var serviceApiLayout = this.parentElement.parentElement.querySelector("service-api-layout");

                serviceApiLayout.reloadServices(roles);
                serviceApiLayout.$.drawerContent.reload()
                serviceApiLayout.$.drawerLayout.querySelector("main-content").reload()
            }

            reloadAmbiente(roles){
                 this.parentElement.parentElement.querySelector("service-api-layout").reloadAmbiente(roles);
            }

            /**
             * Maneja respuesta de error de login
             * */
            _logResponseError(evt, r, t){
                var status  =  evt.detail.request.status,
                    message = status == 401 ? ". Nombre de usuario o contraseña invalidos.": ". Error interno, favor consulte a su adminstrador."

                this.toastText = "Hubo un error en la autenticaion. Error: " + status + message;
                this.$.authToaster._showToastChange(this.toastText);
            }

            /**
             * Metodo que incia el flujo d autenticacion
             * */
            _autenticar(){

                if(!this.$.userAuth.value || !this.$.passAuth.value){
                    this.toastText = "Credenciales inválidas. Necesita agregar nombre de usuario y Contraseña"
                    this.$.authToaster._showToastChange(this.toastText);
                    return;
                }

                this.$.loginAjax.body = {
                    usuario: this.$.userAuth.value,
                    password: this.$.passAuth.value
                };

                this.$.loginAjax.generateRequest(); 
            }

            _initializeStorage(){
                this.authVariables = {
                    token: "",
                    roles: [],
                    username: "",
                    time: ""
                }
            }
        }

        window.customElements.define(AuthComponent.is, AuthComponent);
    </script>
</dom-module>