<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../../../../../bower_components/paper-spinner/paper-spinner.html">



<dom-module id="dali-loading-component">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }

            .redondo{
                width: 6em;
                border-radius: 6em;
            }
            .content{
                height: 12em;
            }
            .child {
                @apply --layout-self-center;
            }
            .ancho{
                width: auto;
            }
        </style>

        <paper-dialog id="loadingDialog" class="redondo" modal>

                <div class="container flex-horizontal">
                        <div class="flexchild"></div>
                        <div class="flexchild"><paper-spinner active></paper-spinner></div>
                        <div class="flexchild"></div>
                </div>
        </paper-dialog>


    </template>

    <script>
        class DaliLoadingComponent extends Polymer.Element {
            static get is() {return 'dali-loading-component';}

            
            static get properties() {
                return {
                    
                };
            }

            open(){
                this.$.loadingDialog.open();
            }

            close(){
                this.$.loadingDialog.close();
            }
        }

        window.customElements.define(DaliLoadingComponent.is, DaliLoadingComponent);
    </script>
</dom-module>