<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../shared/shared-styles.html">
<link rel="import" href="./dali-loading-component.html">


<link rel="import" href="auth-component.html">
<link rel="lazy-import" href="../../service-api/components/layout-component/service-api-layout.html">
<link rel="lazy-import" href="my-view404.html"> 

<dom-module id="main-component">
    <template>
        <style></style>
         <custom-style>
            <style is="custom-style">
                .flex-center-justified {
                    @apply --layout-horizontal;
                    @apply --layout-center-justified;
                }

                .login{
                    width: 50%;
                }
            </style>
        </custom-style>
        
        <app-location
            route="{{route}}"
            url-space-regex="^[[rootPath]]">
        </app-location>

        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}">
        </app-route>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">

           <div name="auth" class="flex-cen
           r-justified"> 
                <auth-component 
                    route="{{route}}"
                    class="login"
                    user-auth="{{userAuth}}">
                </auth-component>
           </div>

            <!-- <template is="dom-if" if="[[userAuth]]"> -->
                <service-api-layout
                    user-auth="{{userAuth}}"
                    name="service-api" >
                </service-api-layout>
            <!-- </template> -->
            
          <my-view404 name="view404"></my-view404>
        </iron-pages>

        <!-- loading modal -->
        <dali-loading-component id="daliLoadingComponent"></dali-loading-component>
    </template>

    <script>
        class MainComponent extends Polymer.Element {
           
            static get is() {
                return 'main-component';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: String,
                    rootPath: String,
                    userAuth: {
                        type: Boolean,
                        notify: true,
                        observer: '_changeAuth'
                    },
                    navigation:{
                        type: Object,
                        value:{
                            "auth": { nombre: "auth", dir:"auth-component.html"},
                            "service-api": {nombre: "service-api", dir: "../../service-api/components/layout-component/service-api-layout.html"},
                            "view404": {nombre: "view404", dir: "my-view404.html"}
                        }
                    }
                };
            }

            _routePageChanged(page) {
                if (!page){
                    this._pageNotInformed(page);
                    }else{
                        if(this.userAuth){
                            this._pageExist(page);
                        }else{
                            this.page = 'auth';
                        }
                }
            }

            _changeAuth(newValue, oldValue){
                if(newValue) {
                    console.log("Usuario autenticando...");
                    this._routePageChanged('service-api');
                }else{
                    console.log("Usuario NO autenticando...");
                    this._routePageChanged('auth');
                }
            }

            _pageNotInformed(page){
                if (this.userAuth)
                    this.page = 'service-api';
                else 
                    this.page = 'auth';
            }

            _pageExist(page){
                let exist = false;
                for (var key in this.navigation) {
                    if (key == page){
                    this.page = page;
                    exist = !exist;
                    break;
                    }
                }
                if (!exist){
                    this.page = 'view404';
                }else{
                    this.page = page;
                }
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails

                const resolvedPageUrl = this.resolveUrl(this.navigation[page].dir);
                //const resolvedPageUrl = this.resolveUrl('../../service-api/components/layout-component/service-api-layout.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            _showPage404() {
                this.page = 'service-api-layout';
            }
        }

        window.customElements.define(MainComponent.is, MainComponent);
    </script>
</dom-module>