<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="config-component">
    <template>

        <!-- 
            Busca las configuraciones inciales del sistema 
        -->
        <iron-ajax
            id="intialConfigAjax"
            url="src/components/apis/service-api/components/config/config/config.json"
            handle-as="json"
            on-response="_handleResponseInitialConfig"
            method="GET"
            auto
        ></iron-ajax>

        <!-- 
            Busca las configuraciones iniciales de los servicios.
            Es llamado cuando la configuracion incial es cargada
        -->
        <iron-ajax
                id="gruposConfig"
                url="[[appConfig.hostServiceConfig.hostServiceNode]]:[[appConfig.hostServiceConfig.portServiceNode]][[appConfig.configComponent.pathGruposServicios]]"
                last-response="{{servicesConfig}}"
                on-response="_handleResponseConfig"
                method="POST"
                content-type="application/json"
        ></iron-ajax>

        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>

    </template>

    <script>
        class ConfigComponent extends Polymer.Element {
            static get is() { return 'config-component'; }

            static get properties() {
                return {
                    appConfig: {
                        type: Object,
                        notify: true
                    },
                    servicesConfig: {
                        type: Object,
                        notify: true,
                        observer: '_serviceConfigChange'
                    },
                    servicesConfigContent: {
                        type: Object,
                        notify: true
                    },
                    authVariables:{
                        type: Object,
                        notify: true
                    }
                };
            }


            reloadServices(authVariables){
                console.log("Cambia laautenticaion. Trayendo nuevos servicios. datos de auth: " + JSON.stringify( this.authVariables));
                this.$.gruposConfig.body = authVariables.roles.map(rol => {
                    return rol.name
                });

                this.$.gruposConfig.generateRequest();
            }

            log(text){
                if(this.appConfig.envConfig.logEnabled){
                    console.log(text)
                }
            }

            /**
             * Response de la configuracion inicial.
             * Carga los datos necesarios para comenzar con la app
             * */
            _handleResponseInitialConfig(evt){
                this.appConfig = evt.detail.response
                this.log("APPCONFIG : " + JSON.stringify(this.appConfig))
                this.log("Obteniendo configuracion inicial")
                if(this.authVariables && this.authVariables.roles && this.authVariables.roles.length > 0){
                    this.log("Configuración inicial cargada, cargando configuracion de los servicios")

                    this.$.gruposConfig.body = this.authVariables.roles.map(rol => {
                        return rol.name
                    });
                    
                    if(!this.servicesConfig){
                        this.$.gruposConfig.generateRequest();
                    }
                }
            }

            _serviceConfigChange(newValue){
                console.log("La configuracion ha cambiado!!!!!!!!!!!!!!!!!!!!!!!!!!!!! " + JSON.stringify( newValue));
            }

            _computedHeaders(){
                // return {
                //     'Access-Control-Allow-Origin': 'http://localhost:3000',
                //     'Access-Control-Allow-Methods': 'GET, POST, OPTIONS, PUT, DELETE',
                //     'Access-Control-Allow-Headers': 'X-Requested-With,content-type',
                //     'Access-Control-Allow-Credentials': true
                // }
            }

            _handleResponseConfig(evt){
                console.log("Configuracion de los servicios cargada");
                //console.log("response config: " + JSON.stringify(evt.detail.response));
                //this.$.configContent.generateRequest();
            }

            _handleResponseContent(evt){
                var contentResponse = evt.detail.response;

                contentResponse.forEach(content => {
                    var config = this.servicesConfig.filter(config => config.key == content.key)[0];
                    content.title = config.title;
                    content.autenticacion = config.autenticacion;
                    content.host = config.host;
                });

                this.servicesConfigContent = contentResponse;
            }

            handleError(){
                console.log("configuration err");
            }
        }

        window.customElements.define(ConfigComponent.is, ConfigComponent);
    </script>
</dom-module>