<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/font-roboto/roboto.html">

<dom-module id='my-colors'>
    <template>>
        <style>
            html {
                --width-icon : 20px;
            }
            
            body{
                font-family: 'Roboto', 'Noto', sans-serif;
            }
            .font-roboto{
                font-family: 'Roboto', 'Noto', sans-serif;
            }
            .button-tall{
                font-size: 17px;
            }
            .content-button-tall-fit{
                margin-top: 2.7%;
            }
            .full-height{
                height: 100%;
            }
            .fit-content {
                @apply --layout-self-stretch;
                color: red;
            }
            .flex-center-align {
                @apply --layout-horizontal;
                @apply --layout-center;
            }
            .flex-center-justified {
                @apply --layout-horizontal;
                @apply --layout-center-justified;
            }
            .manito:hover{
                cursor: pointer;
            }
            .formatButton{
                color:black;
            }
            .color-wrong{
                color: palevioletred;
            }

            .color-good{
                color: forestgreen;
            }
            .color-clear{
                color: lightcoral;
            }
            .color-go{
                color: cornflowerblue;
            }
            .dato-anexo{
                color: lightcoral;
            }
            .flex-end-align {
                @apply --layout-horizontal;
                @apply --layout-end;
            }
            .flex {
                @apply --layout-horizontal;
            }
            .no-padding{
                padding: 0;
            }
            .padding-1{
                padding-bottom: 1%;
            }
            .text-12{
                font-size: 12px;
            }
            .text-14{
                font-size: 14px;
            }
            .grey{
                color: grey;
            }
            .space-top{
                padding-top: 12px;
                display: block;
            }
            .space-left{
                padding-left: 1em;
            }
            .space-right{
                padding-right: 1em;
            }
            .width-35{
                width: 35%;
            }
            .width-50{
                width: 50%;
            }
            .width-70{
                width: 70%;
            }
            .width-100{
                width: 100%;
            }
            .width-96{
                width: 96%;
            }
            .paper-card-size-50{
                    width: 50%;
            }
            .card-auth-background{
                background-color: var(--google-green-700);
                --paper-card-header-color: #fff;
            }
            .card-background{
                background-color: var(--google-blue-500);
                --paper-card-header-color: #fff;
            }
            .danger-dialog{
                background-color: lemonchiffon
            }
            .button-file{
                background-color: var(--google-green-500);
                color:#fff;
            }
            .button-action-card{
                background-color: var(--google-blue-700);
                color:#fff;
            }
            .button-action-cancel{
                color: lightcoral;
            }
            .button-action-delete{
                background-color: lightcoral;
                color: #fff;
            }
            .card-title-backgorund{
                background-color: orange;
            }
            iron-icon{
                width: 20px;
            }
            .width-icon{
                width: 37px;
            }
            .button-action-normal{
                color: var(--paper-light-blue-400);
            }
            .button-action-normal-v{
                color: white;
            }
            .button-action-go{
                background-color: var(--paper-light-blue-500);
                color:#fff;
            }
            .border-radius-20{
                border-radius: 20px;
            }
            .button-response-card{
                background-color: var( --paper-indigo-100);
                color:#000;
            }
            .button-new-card{
                background-color: var(--paper-yellow-400);
                color:#000;
            }
            .input-action{
                color: darkslateblue;
            }
            .white-background{
                background-color: #fff;
            }
            .color-white{
                color: #fff;
            }
            .flex-end-justified {
                @apply --layout-horizontal;
                @apply --layout-end-justified;
            }
            .flex-horizontal {
                @apply --layout-horizontal;
            }
            .flex-vertical{
                @apply --layout-vertical;
            }
            .flexchild {
                @apply --layout-flex;
            }
            .contentTitle{
                margin-left: 0%;
                font-size: 17px;
                color: silver;
            }
            .contentTitleTall{
                margin-top: 2%;
                display: block;
            }
            .tall{
                padding-top: 1em;
            }
            .wizard{
                --timeu-wizard-filling-color: var(--paper-light-blue-500);
                --timeu-wizard-active-color: var(--paper-light-blue-500);
                --timeu-wizard-anim-speed:1s
            }
            .focusedItem{
                background-color: var(--google-blue-100);
            }
            paper-tabs{
                --paper-tabs-selection-bar-color:var(--paper-light-blue-200);
            }
            paper-tab{
                width: 7em;
            }
            span{
                margin-left: 1em;
            }
         </style>
        </template>
      </dom-module>

