<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="../../../../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../../../../bower_components/bwt-datatable/bwt-datatable-card.html">
<link rel="import" href="../../../../../../../bower_components/bwt-datatable/bwt-datatable-column.html">
<link rel="import" href="../../../../../../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/utils/async.html">


<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../../historial-servicios/historial-servicios.html">
<link rel="import" href="../dali/dali-button/dali-button.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">

<dom-module id="historial-layout">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }

            paper-dialog-scrollable {
                margin-top: 0px;
            }

            paper-dialog.size-position {
                top: 3px;
            }
        </style>

        <historial-servicios 
            id="historialComponent">
        </historial-servicios>

        <span>
            <dali-icon-button
                on-tap="_obtenerHistorial"
                icon="history"
                type="button-action-normal-v"
                tooltip-text="Ver historial de llamadas"
            ></dali-icon-button>
        </span>

        <!-- 
            Dialogo del historial
         -->
        <paper-dialog id="historialDialog" class="width-96 size-position">
            <h2>Historial de servicios</h2>
            <paper-button value="Mostrar cargando" on-tap="mostarCargando">

            </paper-button>
            <paper-dialog-scrollable>
                <!-- <paper-datatable-card  
                    class="width-96"
                    header="Users"
                    page-size="3"
                    data-source="{{buscarDatos}}"
                    > -->
                    <paper-datatable
                        data="{{historialObtenido}}"
                        selected-items="{{selectedItems}}">
                        <div no-results>
                                Loading or no more items...
                        </div>

                        <paper-datatable-column 
                            header="Servicio" 
                            property="servicio" 
                            type="String" >
                                <template>
                                    [[item.servicio]] <br />
                                    <div style="color:darkgray; font-size: 13px">
                                        [[item.host]]
                                    </div>
                                </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Fecha" property="fecha" type="String" ></paper-datatable-column>
                        <paper-datatable-column header="Método" property="metodo" type="String" ></paper-datatable-column>
                        <paper-datatable-column header="Acciones" type="String">
                            <template>
                                <dali-button 
                                    historial="[[item]]" 
                                    ver="[[item.headers]]" 
                                    dialog-title="Headers de servicio [[item.servicio]]" 
                                    on-tap="_verDetalleAccion"
                                    >ver Headers
                                </dali-button>
                                <dali-button 
                                    historial="[[item]]"
                                    ver="[[item.body]]" 
                                    dialog-title="Body de servicio [[item.servicio]]" 
                                    on-tap="_verDetalleAccion">
                                        Ver body
                                </dali-button>
                                <dali-button 
                                    historial="[[item]]" 
                                    ver="[[item.respuesta]]" 
                                    hidden="[[!item.respuesta]]"
                                    dialog-title="Respuesta de servicio [[item.servicio]]" 
                                    on-tap="_verDetalleAccion">
                                        Ver respuesta
                                </dali-button>
                            </template>
                        </paper-datatable-column>
                    </paper-datatable>
                <!-- </paper-datatable-card> -->

                <!-- Pie de tabla -->
                <div class="container flex-end-justified">
                        <div class="container flex-center-align">
                            <div>
                                <dali-icon-button  
                                    icon="chevron-left" 
                                    on-tap="paginaAnterior"
                                    type="button-action-go">
                                </dali-icon-button>
                            </div>
                            &nbsp;
                            <div>
                                página [[paginaActual]]/[[paginasTotales]]
                            </div>
                            &nbsp;
                            <div>
                                <dali-icon-button 
                                    icon="chevron-right" 
                                    type="button-action-go"
                                    on-tap="paginaSiguiente">
                                </dali-icon-button>
                            </div>
                       </div>
                </div>

                <div class="container flex-end-justified">
                        <div>
                            Resultados totales [[totalResultados]]
                        </div>
                </div>
                
            </paper-dialog-scrollable>
                <div class="buttons">
                <paper-button dialog-dismiss on-tap="cerrarDialogo" class="button-action-cancel">Cerrar</paper-button>
                </div>
            
        </paper-dialog>

         <!-- 
            dialogo generico
        -->
        <paper-dialog id="dialog" class="width-50">
                <div class="container flex-horizontal">
                    <h2 class="flexchild">{{dialogTitle}}</h2>
                    
                    <!-- <paper-button 
                        id="buttonCopy" 
                        class="button-action-normal"
                        >
                        <iron-icon id="icon"  icon="vaadin:copy"></iron-icon>
                        <span class="text-12">
                            Copiar al portapapeles
                        </span>
                    </paper-button>  -->
                </div>
               
                <paper-dialog-scrollable >
                    <div>
                        {{dialogBody}}
                    </div>
                </paper-dialog-scrollable>
                <div class="buttons">
                        <paper-button 
                            dialog-dismiss
                            class="button-action-cancel">Cerrar</paper-button>
                </div>
            </paper-dialog>
    </template>

    <script>
        class HistorialLayout extends Polymer.Element {
            
            static get is() {
                return 'historial-layout';
            }

            static get properties() {
                return {
                    historialObtenido: {
                        type: Array,
                        notify: true
                    },
                    itemSeleccionado: {
                        type: Object,
                        notify: true
                    },
                    dialogBody: {
                        type: Object,
                        notify: true
                    },
                    dialogTitle: {
                        type: Object,
                        notify: true
                    },
                    constants: {
                        type: Object,
                        value: {
                            respuesta: {c: "respuesta"}
                        }
                    },
                    buscarDatos: {
                        notify: true,
                        value: {
                            get: function(sort, page, pageSize){
                                return this._buscarData(sort, page, pageSize).bind(this)
                            }.bind(this)
                        }
                    },
                    paginaActual:{
                        type: Number,
                        notify: true,
                        value: 1
                    },
                    paginasTotales:{
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    totalResultados:{
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    ocultarSiguientePagina:{
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    ocultarAnteriorPagina:{
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    loadingComponent:{
                        type: Object,
                        computed: 'computeLoading()'
                    },
                    showLoading:{
                        type: Boolean,
                        value: false,
                        observer: 'showLoadingObserver'
                    }
                };
            }

            /**
             * Selecciona el componente de cargado
             * */
            computeLoading(){
                return this.parentNode.parentNode.parentNode.parentNode.host.parentNode.parentNode.querySelector("#daliLoadingComponent")
            }

            mostrarCargando(){
                this.loadingComponent.open()
            }

            ocultarCargando(){
                this.loadingComponent.close()
            }


            /**
             * Accion de cerra dialogo.
             * Restaura tabla al estado inicial
             * */
            cerrarDialogo(evt){
                this.set("historialObtenido", [])
            }

            /**
             * Hace llamado a historial, aunmentando la pagina
             * */
            paginaSiguiente(evt){
                if(this.paginaActual < this.paginasTotales){
                    this.mostrarCargando()
                    this.$.historialComponent.numeroPagina = this.paginaActual + 1
                    this.$.historialComponent.obtenerHistorial();
                    //this.$.historialDialog.open();
                } 
            }

            /**
             * Hace llamado a historial, disminuyendo la pagina
             * */
             paginaAnterior(evt){
                if(this.paginaActual > 1){
                    this.mostrarCargando()
                    this.$.historialComponent.numeroPagina = this.paginaActual - 1
                    this.$.historialComponent.obtenerHistorial();
                    //this.$.historialDialog.open();
                } 
            }

            _buscarData(sort, page, pageSize){
                return {
                    get: function(sort, page, pageSize){
                        return new Promise((resolve, reject) => {
                            resolve(this.historialObtenido)
                        })
                    }
                }
            }

            showLoadingObserver(newValue){
                if(newValue){
                    this.mostrarCargando();
                }else{
                    this.ocultarCargando();
                }
            }


            /**
             * Selecciona elemento y abre popUp de respuesta
             * */
            _verDetalleAccion(evt){

                var det = evt.currentTarget
                this.mostrarCargando(); 
                Polymer.Base.async(function(){
                    this.doMostrarDetalle(det);
                    this.ocultarCargando();
                }.bind(this, det), 100)       
            }

            doMostrarDetalle(currentTarget){
                const historial = this.itemSeleccionado = currentTarget.historial
                this.dialogBody = currentTarget.ver
                this.dialogTitle = currentTarget.dialogTitle
                this.$.dialog.open()
            }

            /**
             * Maneja la respues de obtener historial 
             * */
            _historialResponse(evt){
                var response = evt.detail.response

                try{
                    if(response){
                    var data = response.docs
                    var historial = data.map(historia => {
                        var fechas =  historia.fecha.split("T")

                        return  {
                            _id: historia._id,
                            servicio : historia.servicio.title,
                            fecha: fechas[0].toString() + " " + fechas[1].split(".")[0],
                            metodo: historia.data.method,
                            datosEnvio: historia.data.host + ":" + historia.data.port  + historia.data.path,
                            body: JSON.stringify(historia.data.body),
                            headers: JSON.stringify(historia.data.headers),
                            respuesta: JSON.stringify(historia.respuesta),
                            tikcet: JSON.stringify(historia.ticket),
                            host: historia.data.host + ":" + historia.data.port
                        }
                    });
                }
                
                    this.set("paginaActual", response.page)
                    this.set("paginasTotales", response.pages)
                    this.set("totalResultados", response.total)
                    this.set("historialObtenido", historial);
                }catch(err){
                    console.error("Ha ocurrido un erro en el historial: " + err)
                }
                this.ocultarCargando();
            }

            

            /**
             * Obtiene el historial de llamados a servicios
             * */
            _obtenerHistorial(evt){
                this.$.historialComponent.obtenerHistorial();
                this.$.historialDialog.open();
            }

        }

        window.customElements.define(HistorialLayout.is, HistorialLayout);
    </script>
</dom-module>