<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../../../../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../../../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../../../../../shared/shared-styles.html">
<link rel="import" href="../dali/dali-icon/dali-icon.html">

<dom-module id="sesion-component">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }
            .datosUsuario{
                font-size: 13px;
            }

            .cerrarSesionAction{
                float: right;
                background-color: dodgerblue;
                width: 87%;
                color: white;
            }

             .button:hover{
                padding: 0;
                background-color: cornflowerblue;
            }

            .button{
                padding: 0;
            }

            .menuButton{
                height: 64px;
            }

            .icon{
                padding-right: 4px;
                padding-left: 4px;
            }

            paper-tooltip{
                top: 66px !important;
            }
        </style>

        <!-- 
            Componente localStorage para guardar los datos del usuario
        -->
        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>

        
            <paper-menu-button id="botonSession" vertical-offset="60" class="button"> 
                <div slot="dropdown-trigger" id="menu" class="container flex-center-align menuButton">
                    <div class="icon">
                        <dali-icon
                            icon-name="face"
                            color="button-action-normal-v"
                        ></dali-icon>
                    </div>
                    <div class="datosUsuario">
                            [[username]] <br />
                    </div>
                    <dali-icon icon-name="arrow-drop-down" color="white"></dali-icon>

                </div>
                <paper-listbox slot="dropdown-content">
                        <paper-item on-tap="_cerrarSesion" class="manito">Cerrar sesión</paper-item>
                </paper-listbox>
            </paper-menu-button>
            <paper-tooltip for="menu" animation-delay="1000">Configuración de la cuenta</paper-tooltip>
    </template>

    <script>
        class sesionComponent extends Polymer.Element {
            
            static get is() {return 'sesion-component'}

            static get properties() {
                return {
                    username: {
                        type: String,
                        notify: true
                    }
                };
            }

            _cerrarSesion(evt){
                this.parentNode.parentElement.parentElement.parentNode.host.parentElement.querySelector("auth-component").cerrarSesion();
            }

            ready() {
            super.ready();

            Polymer.RenderStatus.afterNextRender(this, function() {
                this.username = this.authVariables.username;

                var fechas = this.authVariables.time.split("T");
                this.horaConexion = fechas[0].toString() + " " + fechas[1].split(".")[0];
            });
        }

        /**
         * Recarga el nombre de usuario en componente
         * */
        reload(user){
            if(user && user.username){
                var username = user.username

                this.set("username", username)
            }
        }

        }

        window.customElements.define(sesionComponent.is, sesionComponent);
    </script>
</dom-module>