<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">


<dom-module id="dali-search-box">
    <template>
        <style include="my-colors">
            :host {
                display: block;
                --paper-searchbox-light-background: rgba(255, 255, 255, 0.15);
                --paper-searchbox-light-color: rgba(255, 255, 255, 0.9);
                --paper-searchbox-light-background-hover: rgba(255, 255, 255, 0.225);
                --paper-searchbox-light-color-hover: var(--paper-searchbox-light-color);
                --paper-searchbox-light-background-raised: #FFF;
                --paper-searchbox-light-color-raised: #333;
            }
            #container {
                width: 100%;
                display: block;
                margin: 0 auto;
                border-radius: 2px;
                background: var(--paper-searchbox-background, --paper-searchbox-light-background);
                color: var(--paper-searchbox-color, --paper-searchbox-light-color);
                transition: var(--paper-searchbox-transition, 0.25s);
            }
            :host #container.has-value {
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
                background: var(--paper-searchbox-light-background-raised);
                color: var(--paper-searchbox-color-raised, --paper-searchbox-light-color-raised);
            }
            input{
                background: none;
                font: inherit;
                font-size: 1em;
                border: none;
                outline: none;
                margin: 0;
                padding: 0.25em 0;
                width: calc(100% - 2.5em);
                display: inline-block;
                float: left;
                color: inherit;
                cursor: default;
            }
            ::-webkit-input-placeholder{
                color: inherit;
                opacity: 0.5;
            }
            iron-icon {
                float: left;
                display: inline-block;
                width: 1.5em;
                height: 1.5em;
                margin: 0.15625em 0.3em 0.15625em 0;
                color: lightslategray
            }
            #pad{
                padding: 0 0.5em 0 1em;
            }
            #result{
                background-color: white;
                height: 100%;
            }
            :host #container.container-white{
                background-color: white;
            }

            .submenu{
                margin-left: -1em;
                font-weight: normal;
            }

            .nombreGrupo{
                font-size: 11px;
                margin-left: 1em;
                margin-top: -1em;
                color: dimgrey;
            }
        </style>

        <div id="container"  on-blur="_onInput" >
            <div id="pad">
                <paper-input no-label-float label="[[placeholder]]" value="{{value::input}}" id="input" on-keyup="_onInput" 
                on-change="_onInput">
                    <iron-icon icon="search" slot="prefix"></iron-icon>
                    <paper-icon-button 
                        class="color-clear"
                        slot="suffix" 
                        on-tap="_clear" 
                        hidden="[[hiddenClear]]" 
                        icon="vaadin:close-small"
                        title="limpiar">
                    </paper-icon-button>
                </paper-input>
                <div style="clear:both"></div>
            </div>
        </div>

        <iron-collapse id="result" class="result" >
            <span class="grey text-12 space-top">Servicios encontrados: [[result.length]]</span>

            <template is="dom-repeat" items="{{result}}" as="servicio">

                    <paper-icon-item  on-tap="_selectService" service="[[servicio]]">
                        <dali-icon 
                            class="iconGroup"
                            slot="item-icon" 
                            icon-name="chevron-right" 
                            color="darkgray">
                        </dali-icon>
                            <div class="submenu">
                                <span class="text-12">[[servicio.title]]</span>
                                <div class="nombreGrupo">Grupo: [[servicio.nombreGrupo]]</div>
                            </div>
                    </paper-icon-item>


                    <!-- <paper-icon-item  service="[[servicio]]" on-tap="_selectService">
                            <iron-icon icon="send" slot="item-icon"></iron-icon> <span>[[servicio.title]]</span>
                    </paper-icon-item> -->
            </template>
        </iron-collapse>

    </template>

    <script>
        class DaliSearchBox extends Polymer.Element {
            static get is() {
                return 'dali-search-box';
            }
            static get properties() {
                return {
                    data: {
                        type: Array,
                        notify: true,
                        observer: '_dataChanged'
                    },
                    servicios: Array,
                    selectedService: {
                        type: Object,
                        notify: true
                    },
                    result: {
                        type: Array,
                        notify: true
                    },
                    placeholder: String,
                    hiddenClear: {
                        type: Boolean,
                        value: true,
                        notify: true
                    }
                };
            }

            reload(){
                this.value = null
                this._onInput(null)
            }

            _selectService(evt){
            var configuredService = evt.currentTarget.service;
            console.log("Seleccionado: " + configuredService._id);

            var infoToMainContent = {
                campos:         configuredService.campos,
                title:          configuredService.title,
                autenticacion:  configuredService.autenticacion,
                path:           configuredService.path,
                host:           configuredService.host,
                method:         configuredService.method,
                actionTitle:    configuredService.actionTitle,
                port:           configuredService.port,
                contentType:    configuredService.contentType,
                urlParameter:   configuredService.urlParameter,
                _id:            configuredService._id
            }

            this.selectedService = infoToMainContent
        }

            _clear(evt){
                this.value = null;
                this._onInput(evt)
            }

            _dataChanged(grupos){
                if(grupos){
                    var servicios = [];
                    
                    grupos.forEach(grupo => {
                        grupo.servicios.forEach(servicio => {
                            servicio.nombreGrupo = grupo.title
                            servicios.push(servicio)
                        })
                    }) 
    
                    this.servicios = servicios
                }
            }

            _onInput(evt){
                var value = this.value
                var isEmpty = (value == '' || value == void(0));

                this.hiddenClear = isEmpty;
                this.$.container.classList.toggle('has-value', !isEmpty);
                this.$.container.classList.toggle('container-white', !isEmpty);
                this.$.result.opened= !isEmpty;

                var result = this.servicios.filter(servicio => {
                        var servicioSeleccionado

                        if(value && servicio.title.toLowerCase().includes(value.toLowerCase().trim())){
                            servicioSeleccionado = servicio
                        }

                        return servicioSeleccionado
                });

                this.set('result', [])
                this.set('result', result)

                console.log()
            }

            _focus(evt){
                this.$.input.focus();
            }

        }

        window.customElements.define(DaliSearchBox.is, DaliSearchBox);
    </script>
</dom-module>