<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../../../../bower_components/toggle-icon/toggle-icon.html">
<link rel="import" href="../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="./dali/dali-search-box/dali-search-box.html">
<link rel="import" href="./dali/dali-icon/dali-icon.html">
<link rel="import" href="../../../../../../src/components/shared/shared-styles.html">


<dom-module id="drawer-content">
    <template>
        <style include="my-colors"> 

            :host {
                --paper-item-icon-width:30px;
            }
            .submenu{
                margin-left: -1em;
                font-weight: normal;
            }

            .iconGroup{
                color:red;
            }

            .content-icon{
                color:red;
            }
        </style>

        <dali-search-box 
            id="daliSearchBox"
        placeholder="Buscar Servicios"
        data="[[menuConfig]]"
        selected-service="{{selectedService}}"
        ></dali-search-box>

        <span class="grey space-top">Listado de servicios</span>
        <template is="dom-repeat" id="templateGrupo" items="[[menuConfig]]" as="grupo">
                <paper-icon-item on-tap="_toggleWithIcon" grupo-key="[[grupo.key]]" class="manito" >
                    <dali-icon 
                        class="iconGroup"
                        slot="item-icon" 
                        icon-name="expand-more" 
                        color="darkgray">
                    </dali-icon>
                    
                    <div>
                        [[grupo.title]]
                    </div>
                </paper-icon-item>
                <iron-collapse id="collapse-[[grupo.key]]" >
                    <template is="dom-repeat" items="[[grupo.servicios]]" as="servicios">
                        <paper-listbox selected="0" class="no-padding manito">
                            <paper-icon-item  on-tap="_selectService" service="[[servicios]]">
                                <dali-icon 
                                    class="iconGroup"
                                    slot="item-icon" 
                                    icon-name="chevron-right" 
                                    color="darkgray">
                                </dali-icon>
                                <div class="submenu">
                                    <span class="text-12">[[servicios.title]]</span>
                                </div>
                            </paper-icon-item>
                        </paper-listbox>
                    </template>
                 </iron-collapse>
        </template>
    </template>
</dom-module>

<script>
    class DrawerContent extends Polymer.Element {
        static get is() {return 'drawer-content';}

        static get properties() {
            return {
                menuConfig: {
                    type: Object,
                    notify: true,
                    observer: '_menuConfigChange'
                },
                selectedService: {
                    type: Object,
                    notify: true
                },
                iconoGrupo: {
                    type: String,
                    value: "expand-more",
                    notify: true
                }
            };
        }

        reload(){
            var collapses = Polymer.dom(this.root).querySelectorAll("iron-collapse")

            collapses.forEach(element => {
                element.opened = false;
            });
        }

        _toggle(evt){
            var grupoKey = evt.currentTarget.grupoKey
            var collapse = Polymer.dom(this.root).querySelector("#collapse-" + grupoKey)

            var opened = collapse.__data.opened
           
            collapse.toggle();
        }

        _toggleWithIcon(evt){
            var grupoKey = evt.currentTarget.grupoKey
            var collapse = Polymer.dom(this.root).querySelector("#collapse-" + grupoKey)

            var opened = collapse.__data.opened

            collapse.toggle();
        }

        _checkedChangedIcon(){
            console.log()
        }

        _selectService(evt){
            var configuredService = evt.currentTarget.service;
            console.log("Seleccionado: " + configuredService._id);

            var infoToMainContent = {
                campos:                 configuredService.campos,
                title:                  configuredService.title,
                autenticacion:          configuredService.autenticacion,
                path:                   configuredService.path,
                host:                   configuredService.host,
                method:                 configuredService.method,
                actionTitle:            configuredService.actionTitle,
                port:                   configuredService.port,
                contentType:            configuredService.contentType,
                urlParameter:           configuredService.urlParameter,
                handleAs:               configuredService.handleAs,
                _id:                    configuredService._id
            }

            this.selectedService = infoToMainContent
        }

        _menuConfigChange(newValue){
                console.log();
            }
    }
    customElements.define(DrawerContent.is, DrawerContent)
</script>