<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="./dali/dali-file-reader/dali-file-reader.html">
<link rel="import" href="./dali/dali-show-interact/dali-show-interact.html">
<link rel="import" href="./dali/dali-icon/dali-icon.html">
<link rel="import" href="./dali/dali-button/dali-button.html">
<link rel="import" href="./dali/dali-toast/dali-toast.html">
<link rel="import" href="./dali/dali-check/dali-check.html">
<link rel="import" href="../historial-servicios/historial-servicios.html">

<dom-module id="main-content">
    <template>
        <style include="my-colors">
            .campoTitle{
                color:black;
            }
        </style>

        <!-- 
            Obtiene la configuracion de los campos
         -->
        <iron-ajax
                id="obtenerCamposAjax"
                url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.camposService.path]][[idCampos]]"
                last-response="{{servicesConfig}}"
                handle-as="json"
                on-response="_handleResponseCampos"
                method="[[config.camposService.GET]]"
        ></iron-ajax>

        <!-- 
            Llama al servicio seleccionado

         -->
        <iron-ajax
                id="callServiceIronAjax"
                url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[hostServiceConfig.callFusePath]]"
                method="[[hostServiceConfig.method.POST]]"
                content-type="application/json"
                on-response="_handleResponseService"
                on-iron-ajax-error="_handleResponseServiceError"
        ></iron-ajax>

        <!-- 
            Componente localStorage que contiene los datos del ambiente
        -->
        <iron-localstorage 
            id="ambienteStorage"
            name="ambiente-storage"
            value="{{ambienteSeleccionado}}"
        ></iron-localstorage>

        <!-- 
            Componente de historial
        -->
        <historial-servicios
            id="auditoriaServiciosAjax"
            is-historial-called="{{saveHistorialState.isHistorialCalled}}"
        >
        </historial-servicios>

        <style include="my-colors"> </style>
        <paper-card 
            id="cardContent"
            class="width-100 card-title-backgorund color-white white-background" 
            heading="{{selectedService.title}}" alt="{{selectedService.title}}">
            <div class="card-content" >
                <template is="dom-if" if="{{selectedService.autenticacion}}">
                    <span class="contentTitle">Autenticación</span>
                    <div class="card-content white-background width-50" >
                        <paper-input id="userAuth" label="Usuario" value="" on-focus="_focus"></paper-input>
                        <paper-input id="passAuth" type="password" label="Contraseña" value=""  on-focus="_focus"></paper-input>
                    </div>
                </template>

                <template is="dom-if" if="{{campos}}">
                    <span class="contentTitle contentTitleTall">Datos del servicio</span>
                </template>
                <template is="dom-if" if="{{!campos}}">
                    <span class="contentTitle contentTitleTall">Este servicio no tiene campos, puede llamarlo directamente.</span>
                </template>
                <!-- Campos normales -->
                <template is="dom-repeat" items="[[campos]]" as="campo">
                    este es el orden
                    [[campo.order]]
                    <!-- 
                        Prefijo
                    -->
                    <template is="dom-if" if="[[campo.wraperField]]">
                        <p></p>
                        <dali-check
                            id="[[config.camposAssigment.wraper]][[campo._id]]"
                            checked="{{campo.wraperField.selected}}"
                            help-message="Se envolverá el campo: '[[campo.title]]' en el siguiente contenido: [[campo.wraperField.prefix]]"
                            tooltipo-position="top"
                            label="Envolver campo con: [[campo.wraperField.title]]">
                        </dali-check>
                    </template>

                    <!-- 
                        Tipo texto
                     -->
                    <template is="dom-if" if="{{_isEqualTo(campo.type, 'text')}}">
                        <paper-input 
                            id="[[config.camposAssigment.text]][[campo._id]]" 
                            label="[[campo.title]]" 
                            hidden="[[campo.hidden]]"
                            value="[[campo.defaultValue]]">
                        </paper-input>
                    </template>

                    <!-- 
                        Tipo area
                     -->
                    <template is="dom-if" if="{{_isEqualTo(campo.type, 'area')}}">
                            <div class="container flex-horizontal">
                                <paper-textarea  
                                    class="flexchild"
                                    id="[[config.camposAssigment.area]][[campo._id]]" 
                                    label="[[campo.title]]"
                                    on-keyup="_validateJson"
                                    value="[[campo.blank]]">
                                </paper-textarea >
                                <dali-button 
                                    class="formatButton" 
                                    tooltip-text="Formatear Json" 
                                    for="[[config.camposAssigment.area]][[campo._id]]"
                                    on-tap="_formatToJson">
                                        <dali-icon 
                                            icon-name="lightbulb-outline" 
                                            type="go">
                                        </dali-icon>
                                </dali-button>
                            </div>
                    </template>

                    <!-- 
                        Tipo lista
                     -->
                    <template is="dom-if" if="{{_isEqualTo(campo.type, 'list')}}">
                        <p></p>
                        <paper-dropdown-menu label="[[campo.title]]">
                            <paper-listbox 
                                id="list-[[campo._id]]"
                                slot="dropdown-content"
                                selected="0"
                                on-selected-item-changed="_listChanged">
                                    <template is="dom-repeat" items="[[campo.content]]" as="content">
                                        <paper-item value="{{content.key}}" campo-id="[[campo._id]]" depends="[[content.depends]]">[[content.value]]</paper-item>
                                    </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                    </template>

                    <!-- 
                        Tipo archivo
                     -->
                    <template is="dom-if" if="{{_isEqualTo(campo.type, 'file')}}">
                        <div class="campoTitle tall">
                            [[campo.title]]
                        </div>
                        <dali-file-reader
                            id="file-[[selectedService._id]]"
                            accept=".xml"
                            toast-text="{{toastText}}"
                            files="[[files]]"
                        ></dali-file-reader>
                    </template>
                </template>

                <!-- 
                    Campos dependientes 
                -->                    
                <template is="dom-repeat" items="{{camposDependientesSeleccionados}}" as="campo">
                    <!-- 
                        Tipo texto
                     -->
                    <template is="dom-if" if="{{_isEqualTo(campo.type, 'text')}}">
                        <paper-input id="[[config.camposAssigment.text]][[campo._id]]" label="[[campo.title]]" value="[[campo.blank]]"></paper-input>
                    </template>

                    <!-- 
                        Tipo area
                     -->
                    <template is="dom-if" if="{{_isEqualTo(campo.type, 'area')}}">
                            <div class="container flex-horizontal">
                                    <paper-textarea  
                                        class="flexchild"
                                        id="[[config.camposAssigment.area]][[campo._id]]" 
                                        label="[[campo.title]]"
                                        on-keyup="_validateJson"
                                        value="[[campo.blank]]">
                                    </paper-textarea >
                                    <dali-button 
                                        class="formatButton" 
                                        tooltip-text="Formatear Json" 
                                        for="[[config.camposAssigment.area]][[campo._id]]"
                                        on-tap="_formatToJson">
                                            <dali-icon 
                                                icon-name="lightbulb-outline" 
                                                type="go">
                                            </dali-icon>
                                    </dali-button>
                            </div>
                    </template>
                </template>
            </div>

            <div class="card-actions white-background container flex-horizontal">
                <div class="content-button-tall-fit">
                </div>
                <div class="flexchild"></div>

                <template is="dom-if" if="[[isResponse]]">
                    <paper-button on-tap="_nuevaLlamada" class="button-new-card button-tall">
                        <iron-icon icon="vaadin:arrow-backward" ></iron-icon>
                        <span>Nueva llamada</span>
                    </paper-button>
                </template>
                <template is="dom-if" if="[[readyToCall]]">
                    <paper-button on-tap="_callService"  class="button-action-go">
                        <iron-icon icon="vaadin:arrow-circle-right" ></iron-icon>
                        <span>[[selectedService.actionTitle]]</span>
                    </paper-button>
                </template>
            </div>
        </paper-card>
        <dali-show-interact 
            id="interact" 
            content="{{interactContent}}"
        ></dali-show-interact>

    </template>

    <script>

        class MainContent extends Polymer.Element {
            static get is() {return 'main-content';}

            static get properties() {
                return {
                    servicesConfigContent: {
                        type: Object,
                        notify: true
                    },
                    files: {
                        type: Array,
                        notify: true
                    },
                    selectedService: {
                        type: Object,
                        notify: true,
                        observer:'_serviceSelectedChange'
                    },
                    serviceKey:{
                        type: String,
                        notifiy: true
                    },
                    serviceUrl: {
                        type: String
                    },
                    serviceParam: String,
                    urlParams: Array,
                    urlPathParams: Array,
                    bodyParams:{
                        type: Array
                    },
                    headers: {
                        //computed:'_computeHeaders()'
                    },
                    idCampos: Array,
                    campos: Array,
                    camposDependientes: {
                        type: Array,
                        notify: true    
                    },
                    camposDependientesSeleccionados: {
                        type: Array,
                        notify: true    
                    },
                    host: String,
                    isResponse: {
                        type: Boolean,
                        value: false,
                        notifiy: true
                    },
                    readyToCall: {
                        type: Boolean,
                        value: false,
                        notifiy: true
                    },
                    interactContent: {
                        tpye: Array,
                        notify: true
                    },
                    config : {
                        type: Object,
                        notify: true
                    },
                    hostServiceConfig:{
                        type: Object,
                        notifiy: true
                    },
                    file:{
                        type: Object,
                        value: {
                            paramName: String, 
                            paramType: String,
                            contenido: String
                        },
                    },
                    saveHistorialState: {
                        type: Object,
                        notify: true,
                        value: {
                            isHistorialCalled: false,
                            isServiceCalled: false
                        }
                    },
                    toastText: {
                        type: String,
                        notify: true
                    },
                    authVariables: {
                        type: Object,
                        notify: true
                    },
                    ordenCampos: {
                        type: Object,
                        notify: true

                    },
                    loadingComponent:{
                        type: Object,
                        notifiy: true,
                        computed: "computeLoadingComponent()"
                    }
                };
            }

            ready(){
                super.ready()
                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            /**
             * Carga componente de loaging
             * */
            computeLoadingComponent(){
                return this["parentNode"].parentNode.parentNode.host.parentNode.parentNode.querySelector("#daliLoadingComponent")
            }

            /**
             * Funcion que recarga componentes graficos
             * luego de la autenticacion */
            reload(){
                Polymer.dom(this.root).querySelector("#cardContent").hidden = true
            }

            /**
             * Inicia el flujo de la pagina.
             * Obtiene el servicio seleccionado y configura las
             * variables que se utilizaran en el resto del proceso.
             * Busca en DB los campos configurados en el servicio
             * */
            _serviceSelectedChange(newValue, oldValue){
                console.log("Seleccionando servicio [" + JSON.stringify(newValue) + "]");
                var campos = newValue.campos
                this.files = [];
                this.idCampos = campos.map(campo => {return campo.fromField});
                this.urlParams = campos.filter(campo => {return campo.parameterType == "url"});
                this.urlPathParams = campos.filter(campo => {return campo.parameterType == "path"});
                this.bodyParams = campos.filter(campo => {return (campo.parameterType == "asBody" || campo.parameterType == "body")});
                this.camposDependientesSeleccionados = null
                this.campos = null
                this.$.interact._close();

                //se resetea el estado de la autenticaion
                var userAuth =  Polymer.dom(this.root).querySelector("#userAuth")
                var passAuth =  Polymer.dom(this.root).querySelector("#passAuth")
                if(userAuth && passAuth){
                    userAuth.invalid = false;
                    userAuth.value = '';
                    passAuth.invalid = false;
                    passAuth.value = '';
                }

                //Reseteo del orden de los campos
                this.set("ordenCampos", campos.map(campo => {
                    var order = 0;
                    if(campo.order){
                        order = campo.order
                    }
                    return {id: campo.fromField, order: order}
                }).sort(function(a,b) {return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0);} ))
                
                if(campos && campos.length > 0){
                    this.$.obtenerCamposAjax.generateRequest();
                }else{
                    /**
                     * Si no tiene parametros se predispone
                     * a hacer un llamado con los datos obtenidos actualmente
                     * */
                    this.readyToCall = true;
                    this.isResponse = false;
                }
                Polymer.dom(this.root).querySelector("#cardContent").hidden = false
            }

            /**
             * Tipo area. Metodo para validar Json
             * */
            _validateJson(evt){
                var input = evt.currentTarget;
                var value = input.value

                if(value){
                    try{
                        value = JSON.parse(value)
                        input.errorMessage = null
                        input.invalid = false
                    }catch(err){
                        input.errorMessage = "Json inválido"
                        input.invalid = true
                    }
                }else{
                    input.errorMessage = null
                    input.invalid = false
                }
            }

            /**
             * Formatea json
             * */
            _formatToJson(evt){
                var target = evt.currentTarget,
                    input =  Polymer.dom(this.root).querySelector("#"+target.for),
                    value = input.value

                if(value && !input.invalid){
                    try{
                        value = JSON.parse(value);
                        input.value = JSON.stringify(value, null, 2);
                    }catch(err){

                    }
                }
            }


            /**
             * Respuesta de la obtencion de campos.
             * Se separa los campos "this.campos" que se pintaran
             * de manera automatica y los campos dependientes "this.camposDependientes"
             * que seran pintados si es que una lista con alguna dependencia es seleccionada.
             * Al momento de llamar al servicio, el programa se da cuenta de que se ha seleccionado
             * una lista con dependencias y las incluye como parametros de la url, path o body
             * */
            _handleResponseCampos(evt){
                console.log("Datos de campos: " + JSON.stringify(evt.detail.response))

                var dependencias = evt.detail.response.map(campo => {
                    if(campo.content){
                        return campo.content.map(cont => { if(cont.depends) return cont.depends})
                    }
                });

                dependencias = this.flatten(dependencias)

                var campos = evt.detail.response.filter(campo => {
                    return !dependencias.includes(campo._id)
                });

                if(campos){
                    campos.map(campo => {
                        var campoOrdenado = this.ordenCampos.find(campoOrdenado => {return campo._id == campoOrdenado.id})
                        campo.order = campoOrdenado.order
                        return campo
                    })
                }
                campos = campos.sort(function(a,b) {return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0);});

                /**
                 * Asignar valores por defecto y hidden segun corresponde
                 * */
                campos = campos.map(campo => {
                    var campoServicio = this.selectedService.campos.find(campoServicio => {
                        return campoServicio.fromField == campo._id
                    })
                    
                    if(campo && campoServicio){
                        campo.hidden = campoServicio.hidden
                        campo.defaultValue = campoServicio.defaultValue
                    }

                    return campo
                })

                /**
                 * Asignar envoltorio.
                 * Se asiganan los envoltorios configurados en el servicio
                 * a los campos traidos de la base de datos
                 * */
                if(this.selectedService){
                    this.selectedService.campos.forEach(campoSelectedService => {
                        var campo = campos.find(campo => {return campoSelectedService.fromField == campo._id})
                        if(campo){
                            campo.wraperField = campoSelectedService.wraperField;
                        }
                    })
                }

                //Asignacion de campos propiedad de clase
                this.campos = campos

                //Asignacion de campos dependientes
                var camposDependientes = evt.detail.response.filter(campo=> {
                    return !this.campo
                    s.includes(campo)
                })
                .map(campo => {
                        var campoOrdenado = this.ordenCampos.find(campoOrdenado => {return campo._id == campoOrdenado.id})
                        campo.order = campoOrdenado.order
                        return campo
                    })
                .sort(function(a,b) {return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0);});

                this.camposDependientes = camposDependientes

                this.readyToCall = true;
                this.isResponse = false;
            }

            /**
             * Aplana colecciones
             * https://code.i-harness.com/es/q/a5c981
             * */
            flatten(arr) {
                return arr.reduce((flat, toFlatten) => {
                    return flat.concat(Array.isArray(toFlatten) ? this.flatten(toFlatten) : toFlatten);
                }, []);
            }

            /**
             * Evento que se gatilla cuando alguna lista cambia su contenido.
             * Si existe dependencia de algun campo en "this.camposDependendientes"
             * gestiona el pintado.
             * si no tiene dependencias, las lista "this.camposDependendientes" se borra
             * */
            _listChanged(evt){
                var dependsAsigment = "depends-"

                if(evt.currentTarget.selectedItems[0]){
                    var dependeciasCampo    = evt.currentTarget.selectedItems[0].depends,
                        dependenciaId       = dependsAsigment + evt.currentTarget.selectedItems[0].campoId
                    if(dependeciasCampo){
                        var camposDependientesSeleccionados = this.camposDependientes.filter(camposDependiente => {
                            return dependeciasCampo.includes(camposDependiente._id)
                        }).map(campo => {
                            campo.dependenciaId = dependenciaId
                            return campo
                        });

                        if(!this.camposDependientesSeleccionados || this.camposDependientesSeleccionados.length == 0){
                            /**
                             *  No hay nada en la lista y es primera vez que se seleccionan
                             * campos dependientes
                             * */
                            this.set('camposDependientesSeleccionados', camposDependientesSeleccionados)
                        }else{
                            /**
                             * Ya hay campos dependientes seleccionados y
                             * deben ser agregados a la coleccion.
                             * 
                             * Se quitan los elementos puestos en los campos dependientes
                             * seleccionados previamente por la misma lista
                             * */
                            var camposAQuitar = this.camposDependientesSeleccionados.filter(campo => {
                                return dependenciaId == campo.dependenciaId
                            });

                            camposAQuitar.forEach(campoAQuitar => {
                                var index = this.camposDependientesSeleccionados.findIndex(campo => dependsAsigment + campo._id == dependenciaId)
                    
                                this.splice('camposDependientesSeleccionados', index, 1);
                            });
                            

                            //Agregar elementos
                            camposDependientesSeleccionados.forEach(campo => {
                                this.push('camposDependientesSeleccionados', campo)
                            });
                        }
                        
                        //this.camposDependientesSeleccionados

                        console.log()
                    }
                    // else{
                    //     this.camposDependientesSeleccionados = []
                    // }
                } 
            }

            _isEqualTo(title, string) {
                return title == string;
            }

            /**
             * Busca en la lista de campos cargada desde la db
             * */
            _selectDbCampo(idCampo){
                var campo = this.campos.filter(campo => {return campo._id == idCampo})
                if(campo.length == 0){
                    //Lanzar Error, no se puede seleccionar el campo
                }
                return campo[0]
            }

            /**
             * Busca en la lista de campos dependientes cargada desde la db
             * */
            _selectDbCampoDependiente(idCampo){
                var campo = this.camposDependientesSeleccionados.filter(campo => {return campo._id == idCampo})
                if(campo.length == 0){
                    //Lanzar Error, no se puede seleccionar el campo
                }
                return campo[0]
            }

            _selectElement(idElement){
                return Polymer.dom(this.root).querySelector("#"+idElement);
            }

            /**
             * Agrega los errores a una cola de errores para mostrarlos al tiempo
             * No implementado aun
             * */
            _addError(field, type){
                if(!field){
                    //Lanzar error
                }
            }

            /**
             * Obtiene los parametros de la url configurados
             * en el servicio
             * */
            _obtainsParams(){
                var paramIni = this.config.services.paramIni,
                    paramEq = this.config.services.paramEq,
                    paramSep = this.config.services.paramSep;

                var listType = this.config.camposType.listType,
                    textType = this.config.camposType.textType;

                var listAssig = this.config.camposAssigment.list,
                    textAssig = this.config.camposAssigment.text;

                var urlParamsTemp = this.urlParams.map(dbParam => {
                    var parameterName = dbParam.parameterName
                    var typeDbParam = this._selectDbCampo(dbParam.fromField).type;
                    var valueParam;

                    switch(typeDbParam){
                            case listType:
                                var list = this._selectElement(listAssig + dbParam.fromField);
                                if(list){
                                    valueParam = list.selectedItem.value;
                                }else{
                                    //Arrojar error
                                }
                                
                            case textType:

                            default: //Lanzar error, no hay tipo de parametro
                    }

                    if(valueParam){
                        var ret = [parameterName + paramEq + valueParam];
                        return ret;
                    }else{
                        //Lanzar error, no se ha podido seleccionar el parametro
                    }
                })

                var urlParams = "";

                for(var i=0;i<urlParamsTemp.length;i++){
                    urlParams = paramSep + urlParamsTemp + paramSep
                }

                //Asigna solo si existen
                if(urlParamsTemp && urlParamsTemp.length != 0){
                    urlParams = paramIni + urlParams.substring(1,urlParams.length-1)
                }
                
                console.log("Parametros finales: " + urlParams)

                return urlParams;
            }

            /*
            Asigna value al body dependiendo de los parametros subyacentes
            */
            _asignarBody(parameterType, parameterName, value, body){
                if(parameterType == this.config.paramTypes.asBody){
                    return value
                }else{
                    return body[parameterName] =  value;
                }
            }

            _loadFiles(evt){
                var input = Polymer.dom(this.root).querySelector("#content-file");
                input.value = evt.target.result;
            }

            /** 
             * Obtiene body desde los campos
             **/
            _obtainBody(){
                var body = new Object;

                for(var i=0;i<this.bodyParams.length;i++){
                    var campoToBody = this.bodyParams[i];
                
                    var campo = this._selectDbCampo(campoToBody.fromField);
                    
                    if(!campo){
                        //Es un campo dependiente
                        campo = this._selectDbCampoDependiente(campoToBody.fromField)
                    }

                    if(!campo){
                        //Sigue sin existir, es un campo dependiente no seleccionado
                        continue
                    }

                    var typeDbParam = campo.type,
                    parameterType = campoToBody.parameterType,
                    parameterName = campoToBody.parameterName;
                    
                    switch(typeDbParam){
                            case this.config.camposType.listType:
                            var elemento = "list-" + campoToBody.fromField
                                var list = this._selectElement(elemento);
                                if(list){
                                    if(parameterType == "body"){
                                        if(!body.body) body.body = new Object;
                                        body.body[parameterName] = list.selectedItem.value
                                        //body.body = this._asignarBody(parameterType, parameterName, list.selectedItem.value, body)                                    
                                    }else{
                                        console.log("Not suported yet!");
                                    }
                                }else{
                                    console.error("No se puede obtener el elemento de pantalla: " + elemento)
                                }

                                break;
                            case this.config.camposType.textType:
                                var elemento = this.config.camposAssigment.text + campoToBody.fromField
                                var input = this._selectElement(elemento);
                                
                                if(input){
                                    var value = input.value
                                    if(value){

                                        if(!body.body){
                                            body.body = new Object
                                        }

                                        //body = body
                                        body.body[parameterName] = value;
                                    }else{
                                        //Lanzar error
                                    }
                                }else{
                                    console.error("No se ha podido seleccionar el campo: " + elemento);
                                    //Lanzar error
                                }
                                break;
                            case this.config.camposType.areaType:
                                var elemento = this.config.camposAssigment.area + campoToBody.fromField
                                var input = this._selectElement(elemento);
                                
                                if(input){
                                    var value = JSON.parse(input.value)
                                    if(value){

                                        if(!body.body){
                                            body.body = new Object
                                        }

                                        body.body[parameterName] = value;
                                        
                                    }else{
                                        //Lanzar error
                                    }
                                }else{
                                    console.error("No se ha podido seleccionar el campo: " + elemento);
                                    //Lanzar error
                                }
                                break;
                            case this.config.camposType.fileType:
                                body.body = Polymer.dom(this.root).querySelector("#" + this.config.camposAssigment.file + this.selectedService._id)._getResult();
                            default: //Lanzar error, no hay tipo de parametro
                    }

                    /**
                     * Si existe un envoltorio para el campos
                     * */
                    body.body = this.envolver(campo, body.body)
                     

                    if(parameterType == this.config.paramTypes.asBody){
                        break;
                    }
                }

                this.$.ambienteStorage.reload();
                var host = this.ambienteSeleccionado.host,
                    port = this.ambienteSeleccionado.port;

                body.host       = host;
                body.port       = port;
                body.path       = this.selectedService.path + this._obtainUrlPathParams();
                body.urlParams  = this._obtainsParams();
                body.headers    = this._obtainHeaders();
                body.method     = this.selectedService.method;
                body.logBody    = true;
                body.protocolo  = this.ambienteSeleccionado.protocolo;
                body.body       = body.body
                
                return body;
            }

            getString(content){
                const acceptType = "text/xml";
                var parser = new DOMParser();

                parser.parseFromString(content, acceptType);
            }

            /**
            * - Agrega envoltorio al campo por parametro.
            * - Ejecuta logica para introducir valores dinamicos a la cabecera segun este configurado
            */
            envolver(campo, content){
                const acceptType = "text/xml"
                const defaultEncoding = "UTF-8"
               if(campo.wraperField){
                    var wraperFild = campo.wraperField,
                    selected = wraperFild.selected;

                    if(selected){
                        var textoPrefijo = wraperFild.prefix,
                            textosufijo = wraperFild.suffix,
                            dinamics = wraperFild.dinamic

                        if(window.DOMParser){
                            var parser = new DOMParser();

                            var parseContent = parser.parseFromString(content, acceptType);
                            var xmlVersion = parseContent.xmlVersion
                            var xmlEncoding = parseContent.xmlEncoding

                            /**
                             * Verificacion del encoding.
                             * - Prevalece el encoding del archivo que se esta subiendo
                             * - Si el encoding no exsite en el archivo que se esta subiendo, toma por defecto el del envoltorio
                             * - Si no esta presente en el envoltorio, se selecciona el valor por defecto: UTF-8
                             * */
                            if(!xmlEncoding){
                                var prefijoConSufijoString = parser.parseFromString(textoPrefijo + textosufijo, acceptType),
                                
                                xmlEncoding = prefijoConSufijoString.xmlEncoding

                                if(!xmlEncoding){
                                    xmlEncoding = defaultEncoding
                                }
                            }

                            var stringContent = new XMLSerializer().serializeToString(parseContent.documentElement);
                            //TODO: Hacer de mejor forma
                            var xmlLine = "<?xml version=\"$v\" encoding=\"$e\" ?> ".replace("$v", xmlVersion).replace("$e", xmlEncoding)
                            var xmlDoc=parser.parseFromString(textoPrefijo + stringContent + textosufijo, acceptType);
                                xmlDoc=new XMLSerializer().serializeToString(xmlDoc.documentElement);
                                xmlDoc=parser.parseFromString(xmlLine + xmlDoc, acceptType);

                            console.log();
                            try{
                                var execute = {}
                                dinamics.forEach(dinamic => {
                                    var tag = dinamic.tag,
                                        ns = dinamic.ns;
                                    execute = dinamic.execute;
                                    
                                    var tag = xmlDoc.getElementsByTagName(ns + ":" + tag)[0];
                                    if(tag){
                                        try{
                                            tag.textContent = eval(execute)
                                        }catch(err){
                                            console.error("No se puede ejecutar la instruccion del envoltorio: " + execute)
                                        }
                                    }else{
                                        console.error("No se encuentra el tag. Por favor revisar configuracion de Envoltorio.")
                                    }
                                });
                                var newContent = new XMLSerializer().serializeToString(xmlDoc.documentElement.parentNode);
                                return newContent;

                            }catch(err){
                                console.error("No se ha podido ejecutar el codigo Javascript: " + execute + ", mandando xml con errores a servicio")
                            }
                        }else{
                            console.error("Error. No se encuentra")
                        }    
                    }else{
                        return content
                    }
               }else{
                   return content
               }
            }

            /*
            obtiene path segun parametros ingresados por el usuario
            */
            _obtainUrlPathParams(){
                if(this.urlPathParams){
                    const space = "/"
                    var path = "";

                    var orderedPathParams = this.urlPathParams.sort((a, b) => a.order - b.order),
                    params = orderedPathParams.map(urlParam => {
                        var campoFromParam = this.campos.filter(campo => {return campo._id == urlParam.fromField})[0]
                        
                        if(campoFromParam){

                            var value,
                                tipoCampo = campoFromParam.type;

                            switch(tipoCampo){
                                case this.config.camposType.listType:
                                    var list = this._selectElement(this.config.camposAssigment.list + urlParam.fromField)

                                    if(list){
                                        return list.selectedItem.value;
                                    }else{
                                        //Arrojar error
                                        console.error("No se puede seleccionar Lista." + this.config.camposAssigment.list + urlParam.fromField)
                                    }

                                    break;
                                case this.config.camposType.textType:
                                    var input = this._selectElement(this.config.camposAssigment.text + urlParam.fromField)

                                    if(input){
                                        return input.value;
                                    }else{
                                        //Arrojar error
                                        console.error("No se puede seleccionar Lista." + this.config.camposAssigment.list + urlParam.fromField)
                                    }

                                    break;
                                default: //Lanzar error
                            }
                            
                            return urlParam;
                        }else{
                            console.error("No se puede obtener el tipo de campo para completar el PATH")
                            //Arrojar error
                        }

                        
                    });

                    for(var i=0; i<params.length;i++){
                        path=path+params[i]+space
                    }

                    return path;
                }else{
                    return "";
                }
            }

            /**
             * Obtiene los headers.
             * Si tiene la autorizacion configurada, los campos imput
             * user y pass seran parte tambien de los headers calculados
             * */
            _obtainHeaders(){
                console.log("Obteniendo headers")
                var headers = new Object;

                if(this.selectedService.autenticacion){
                    try{
                        var user = Polymer.dom(this.root).querySelector("#userAuth").value,
                        pass = Polymer.dom(this.root).querySelector("#passAuth").value,
                        base64Auth = window.btoa(user + ":" + pass);

                        if(this.selectedService.autenticacion){
                            headers.authorization= 'Basic ' + base64Auth;
                        }
                    }catch(ex){
                        console.error("Error al obtener la autenticaion.");
                        console.error(ex)
                    }
                    
                }

                headers[this.config.contentType.value] = this.selectedService.contentType;

                return headers;
            }

            /**
             * Validate de authentication fields
             * */
            _validateAuth(){
                var inputUser = Polymer.dom(this.root).querySelector("#userAuth"),
                    inputPass = Polymer.dom(this.root).querySelector("#passAuth"),
                    user = inputUser.value,
                    pass = inputPass.value,
                    okUser = false,
                    okPass = false;

                if(!user){
                    inputUser.invalid = true
                    inputUser.errorMessage = "Campo requerido"
                }else{
                    okUser = true
                }

                if(!pass){
                    inputPass.invalid = true
                    inputPass.errorMessage = "Campo requerido"
                }else{
                    okPass = true
                }

                return okUser && okPass;
            }

            _focus(evt){
                var input = evt.currentTarget

                input.invalid = false
                input.errorMessage = null
            }

            /**
             * Hace llamada al servicio
             * */
            _callService(evt){

                var authValid = true;
                if(this.selectedService && this.selectedService.autenticacion){
                    authValid = this._validateAuth();
                }

                if(authValid){
                    var body = this._obtainBody();
                    this._escribirHistorial(body);
    
                    this.$.callServiceIronAjax.body = body;
                    this.$.callServiceIronAjax.generateRequest();
                    this.toastText = "Invocando servicio. Esperando respuesta."
                    this.loadingComponent.open()
                }
            }

            /**
             * Llama a componente para escribir el historial
             * */
            _escribirHistorial(body){
                var servicioHistorial = {
                    title: this.selectedService.title,
                    _id: this.selectedService._id,
                    grupoServicio: this.selectedService.grupoServicio
                }
                this.$.auditoriaServiciosAjax.guardarServicio(body, servicioHistorial);
            }

            /**
             * Resetea controles para comenzar el proceso nuevamente.
             * */
            _nuevaLlamada(evt){
                this.$.interact._toggle()
                this._togleResponseControls();
            }

            _escribirRespuestaEnHistorial(status, response){
                this.$.auditoriaServiciosAjax.guardarRespuesta(status, response);
            }

            /**
             * respuesta de la llamada al servicio fuse.
             * se pinta ticket en toaster y se acciona el interact
             * */
            _handleResponseService(evt){
                console.log("Respuesta del servicio: " + JSON.stringify(evt.detail.response))
                this.loadingComponent.close()
                this.toastText = "Respuesta obtenida: " +  JSON.stringify(evt.detail.response).substr(0, 20) + "..."

                //Borrar valores de autenticacion
                var userAuth = Polymer.dom(this.root).querySelector("#userAuth")
                if(userAuth){
                    userAuth.value = ''
                }
                var passAuth = Polymer.dom(this.root).querySelector("#passAuth")
                if(passAuth){
                    passAuth.value = ''
                }

                this._escribirRespuestaEnHistorial(evt.detail.status, evt.detail.response)
                var ticketTemp;

                if(Array.isArray(evt.detail.response)){
                    if(evt.detail.response.length == 1 && evt.detail.response){
                        ticketTemp = evt.detail.response[0]
                    }
                }else{
                    if(evt.detail.response){
                        ticketTemp = evt.detail.response.ticket
                    }
                }


                var ticket = ticketTemp,
                    toastText,
                    estado,
                    idTicket,
                    descripcion,
                    textItems = [];

                if(ticket){
                    /**
                     * Si es una respuesta con ticket
                     * */
                    
                    idTicket = ticket.idTicket || ticket.ticket
                    this.toastText = "Respuesta obtenida. Mostrando datos de ticket: " + idTicket
                    estado = ticket.estado
                    textItems.push({
                            label: "Descripcion",
                            value: ticket.descripcion || ticket.detalle
                            },{
                            label: "Numero de ticket",
                            value: idTicket,
                            isTicket: true
                        })
                }else{
                     /**
                     * Si es una respuesta sin ticket o Array
                     * */
                    var response =  evt.detail.response,
                        estado;

                    if(response){
                        estado = response.estado
                    }
                    
                    this.toastText = "Respuesta obtenida. Mostrando datos."
                        
                    for (var clave in response){
                        if (response.hasOwnProperty(clave)) {
                            var value = response[clave],
                                area;
                                value =  JSON.stringify(value) 
                                area = true      

                            textItems.push({"label": clave, "value": value, "area": area})
                        }
                    }
                }

                //Se marca el llamado para finalizar primera fase de historial
                this.set("saveHistorialState.isServiceCalled", true)

                var interactContentState = estado == "OK";

                this.interactContent = {
                    title: "Respuesta servicio",
                    state: interactContentState,
                    textItems: textItems
                }
                this._togleResponseControls();
            }

            _handleResponseServiceError(evt){
                console.log("Error llamando al servicio: " + this.selectedService.title)
                
                var statusCode = evt.detail.request.status,
                    errorText

                if(statusCode != 200 && statusCode != 201 && statusCode != 202){
                    switch(statusCode){
                        case 404:
                            errorText = "El servicio no se encuentra disponible."
                            break
                        case 500:
                            errorText = "Hubo un error indeterminado en el servidor."
                            break
                        case 401:
                            errorText = "Las credenciales de autenticación del servicio no son válidas. No autorizado."
                            break
                        default:
                            errorText = "Hubo un error indeterminado en el servidor."
                    }
                }

                this._escribirRespuestaEnHistorial(statusCode, evt.detail);
                this.loadingComponent.close()                
                this.toastText = errorText + " Error " + statusCode
                this["parentNode"].parentNode.parentNode.querySelector("#principalToaster").showToast = true
            }

            _togleResponseControls(){
                this.isResponse = !this.isResponse;
                this.readyToCall = !this.readyToCall;
            }
        }
        customElements.define(MainContent.is, MainContent)
    </script>
</dom-module>