<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/font-roboto/roboto.html">
<link rel="import" href="../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="./dali/dali-toast/dali-toast.html">
<link rel="import" href="../../../../../../src/components/shared/shared-styles.html">

<!-- custom -->
<link rel="import" href="../config/config-component.html">
<link rel="import" href="main-content.html">
<link rel="import" href="drawer-content.html">
<link rel="import" href="../layout-component/dali/dali-ticket-search/dali-ticket-search.html">
<link rel="import" href="../layout-component/dali/dali-ticket-search/dali-ticket-content.html">
<link rel="import" href="../layout-component/dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../layout-component/dali/dali-icon/dali-icon.html">
<link rel="import" href="../layout-component/configuracion-servicios/configuracion-servicios-layout.html">
<link rel="import" href="../layout-component/configuracion-servicios/configuracion-servicios-content.html">
<link rel="import" href="../layout-component/configuracion-servicios/nuevo-grupo-component.html">
<link rel="import" href="../layout-component/historial-layout/historial-layout.html">
<link rel="import" href="../layout-component/auditoria-layout/auditoria-component.html">
<link rel="import" href="../layout-component/sesion-component/sesion-component.html">
<link rel="import" href="../layout-component/ambiente-component/ambiente-component.html">
<link rel="import" href="../layout-component/ambiente-component/edit-ambiente-layout.html">
<link rel="import" href="../layout-component/ambiente-component/edit-ambiente-component.html">


<dom-module id="service-api-layout">
    <template>
        <style include="my-colors">
            app-header {
                    background-color: #4285f4;
                    color: #fff;
                    left: 0px !important;
                    right: 0px !important;
            }
            app-header paper-icon-button {
                --paper-icon-button-ink-color: #fff;
            }
            app-drawer-layout {
                --app-drawer-layout-content-transition: margin 0.2s;
            }
            app-drawer {
                --app-drawer-content-container: {
                    background-color: #eee;
                }
            }

            .ambientes{
                --paper-dropdown-menu: {
                    color: red;
                }
            }
            .drawer-content {
                margin-top: 64px;
                height: calc(100% - 80px);
                overflow: auto;
                background-color: white;
            }
            .flex-center-align {
                @apply --layout-horizontal;
                @apply --layout-center;
            }
            /* for dialog */
            #alignedDialog {
                margin: 0;
            }
            .ticket-search-width{
                width: 36%;
            }
        </style>

        <!-- 
            Configuracion inicial
         -->
        <config-component
                id="configComponent"
                services-config="{{servicesConfig}}"
                services-config-content="{{servicesConfigContent}}"
                app-config="{{appConfig}}"
        ></config-component>

        <!-- 
            INICIO DIALOGOS
         -->
            <!-- 
                Dialogo de configuracion de servicios
            -->
            
            <configuracion-servicios-content
                id="configuracionServiciosContent"
                config="[[appConfig.configurarServiciosLayout]]"
                host-service-config="{{appConfig.hostServiceConfig}}"
                configuracion-servicios="{{appConfig.configuracionServicios}}"
                edicion-grupos-config="[[appConfig.edicionGrupos]]"
                >
            </configuracion-servicios-content>
               

            <!-- 
                Dialogo nuevo servicio
             -->
            <paper-dialog id="nuevoServicioDialog" class="width-70" modal>
                    <h2>Crear nuevo servicio</h2>
                    <h2>Crear nuevo servicio</h2>
                        <nuevo-servicio-component
                            id="crearServicioComponent"
                            configuracion-servicios="[[appConfig.configuracionServicios]]"
                            config="[[appConfig.configurarServiciosLayout]]"
                            env-config="[[appConfig.envConfig]]"
                            host-service-config="{{appConfig.hostServiceConfig}}"
                        ></nuevo-servicio-component>
            </paper-dialog>

            <!-- 
                Crear nuevo grupo
             -->
            <nuevo-grupo-component
                id="nuevoGrupoComponent"
                config="[[appConfig.configurarServiciosLayout]]"
                env-config="[[appConfig.envConfig"
                host-service-config="{{appConfig.hostServiceConfig}}"
            ></nuevo-grupo-component>

            <!-- 
                Editar ambientes
             -->
            <edit-ambiente-component 
                id="editAmbienteComponent"
                config="[[appConfig.ambienteComponent]]"
                host-service-config="{{appConfig.hostServiceConfig}}"
                >
            </edit-ambiente-component>

        <!-- 
            FIN DIALOGOS
         -->

        <!-- 
            Layout principal
         -->
        <app-header-layout>
            <app-header fixed effects="waterfall" slot="header">
                <app-toolbar class="container flex-horizontal">
                    <paper-icon-button id="toggle" icon="menu"></paper-icon-button>
                    <div class="font-roboto">Service api</div>
                    <div style="width: 5em;"></div>

                    <!-- Envolver  en componente-->
                    <dali-ticket-search
                        id="dali-ticket-search"
                        class="ticket-search-width"
                    ></dali-ticket-search>
                    
                    <dali-ticket-content
                        id="dali-ticket-content"
                        target="dali-ticket-search"
                        config="[[appConfig.daliTicketContent]]"
                        host-service-config="[[appConfig.hostServiceConfig]]"
                        toast-text="{{toastText}}"
                    ></dali-ticket-content>
                    <!-- envolver en componente -->

                    <!-- 
                        Seleccion del ambiente al que llaman los servicios
                        e historial de busqueda
                     -->
                     <span>
                        <ambiente-component id="ambienteComponent"></ambiente-component>
                     </span>

                    <span>
                        <edit-ambiente-layout id="editarAmbienteLayout"></edit-ambiente-layout>
                    </span>
                    <configuracion-servicios-layout
                        target="toggle"
                        config="[[appConfig.configurarServiciosLayout]]"
                        configuracion-servicios="[[appConfig.configuracionServicios]]"
                        host-service-config="[[appConfig.hostServiceConfig]]"
                    ></configuracion-servicios-layout>

                    <!-- Componente de auditoria -->
                    <auditoria-component id="auditoriaComponent"></auditoria-component>
                    <!-- Historial de llamadas -->
                    <historial-layout></historial-layout>

                    <div class="flexchild" >
                    </div>

                    <!-- Componente grafico de sesion -->
                    <sesion-component id="sesionComponent"></sesion-component>
                   
                </app-toolbar>
            </app-header>

            <app-drawer-layout id="drawerLayout">
                <app-drawer slot="drawer">
                    <div class="drawer-content">
                        <drawer-content
                            id="drawerContent"
                            menu-config="{{servicesConfig}}",
                            selected-service="{{selectedService}}"
                        ></drawer-content>
                    </div>
                </app-drawer>

                <main-content
                        selected-service="{{selectedService}}"
                        services-config-content="{{servicesConfigContent}}"
                        toast-text="{{toastText}}"
                        config="[[appConfig.mainContent]]"
                        host-service-config="[[appConfig.hostServiceConfig]]"
                ></main-content>
            </app-drawer-layout>
        </app-header-layout>

        <dali-toast id="principalToaster" toast-text="{{toastText}}"></dali-toast>
    </template>

</dom-module>

<script>
    class ServiceApiLayout extends Polymer.Element {
        static get is() {return 'service-api-layout';}

        static get properties(){
            return {
                userAuth: {
                    type: Boolean,
                    value: false,
                    notify: true
                }
            }
        }

        reloadServices(authVariables){
            console.log("Cambiando la autenticaion")
            if(authVariables){
                this.$.configComponent.reloadServices(authVariables);
            }
        }

        reloadAmbiente(roles){
            this.$.ambienteComponent.reloadAmbiente(roles);
        }

        _hola(evt){
            console.log("este es el boton")
            this.$.crearServicioComponent._crearNuevoServicio()
        }

        _modal(evt){
           // var daliTicketSearch = Polymer.dom(this.root).querySelector("#dali-ticket-search");
            //this.$.alignedDialog.positionTarget = daliTicketSearch;
            this.$.alignedDialog.open();
        }
    }
    customElements.define(ServiceApiLayout.is, ServiceApiLayout)
</script>