<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../../bower_components/granite-clipboard/granite-clipboard.html">
<link rel="import" href="../../../../../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../dali-button/dali-button.html">
<link rel="import" href="../dali-icon/dali-icon.html">

<!-- Implement read text only. Next features soon -->

<dom-module id="dali-show-interact">
    <template>
        <style include="my-colors">
            .width-input{
                width: 99%;
            }

            .download{
                color:blue;
            }
        </style>
        
        <iron-collapse id="collapse">
            <div class="container flex-horizontal tall">
                <div id="interactState" class="tall">
                    <span>[[title]]</span>
                    <span><iron-icon icon="[[icon]]"></iron-icon></span>
                </div>  
                <div class="flexchild">&nbsp;</div>    
                <template is="dom-if" if="{{showDownload}}">
                        <dali-button type="button-action-go" on-tap="abrirDialogoDescargar">
                            <dali-icon icon-name="file-download" color="white"></dali-icon>
                            Descargar
                        </dali-button>
                </template>
            </div>

            <template is="dom-repeat" items="{{textItems}}">
                <div class="flex-horizontal">
                    <div class="width-input">
                        <template is="dom-if" if="{{!item.area}}">
                            <paper-input 
                            label="[[item.label]]" 
                            value="[[item.value]]" 
                            readonly>
                                <template is="dom-if" if="{{item.isTicket}}">           
                                    <granite-clipboard slot="suffix" text="[[item.value]]">                         
                                        <dali-button 
                                            id="buttonCopy" 
                                            class="input-action"
                                            on-tap="_copy">
                                            <dali-icon id="icon" type="go"  icon-name="vaadin:copy"></dali-icon>
                                            <span class="text-12">
                                                Copiar al portapapeles
                                            </span>
                                        </dali-button>
                                    </granite-clipboard>
                                    <div slot="suffix">
                                        <dali-button 
                                        ticket="[[item.value]]"
                                        on-tap="_buscarTicket"
                                        id="buttonSearch" 
                                        slot="suffix" 
                                        class="input-action">
                                            <dali-icon id="icon" type="go" icon-name="vaadin:search-plus"></dali-icon>
                                            <span class="text-12">
                                                Buscar ticket
                                            </span>
                                        </dali-button>
                                    </div> 
                                </template>
                            </paper-input>
                        </template>
                        <template is="dom-if" if="{{item.area}}">                    
                            <paper-textarea 
                                label="[[item.label]]" 
                                value="[[item.value]]" 
                                readonly>
                            </paper-textarea>
                        </template>
                    </div>
                </div>
            </template>
        </iron-collapse>

        <paper-dialog id="descargarDialog">
            <br />
            <span>
                Descargar contenido
            </span> 

            <div class="container flex-horizontal">
                <paper-dropdown-menu 
                vertical-offset="60"
                    label="Seleccione extensión a descargar" 
                    class="download">
                    <paper-listbox 
                        id="extensionList" 
                        selected="0"
                        slot="dropdown-content">
                            <template is="dom-repeat" items="{{downloadFileTypes}}" as="type">
                                <paper-item 
                                    value="[[type]]">
                                    <paper-item-body two-line >
                                        <div>
                                            [[type]]
                                        </div>
                                    </paper-item-body>
                                </paper-item>
                            </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>
            <div>
                <paper-checkbox 
                id="descargarPorNodo"
                on-tap="descargarNodoChange">
                    Descargar sólo un nodo
                </paper-checkbox>
            </div>

            <div hidden="[[seleccionNodo]]">
                <paper-dropdown-menu 
                id="seleccionNodoDropDownMenu"
                vertical-offset="60"
                label="Seleccione nodo a darcargar" 
                class="download">
                    <paper-listbox  
                        id="descargarNodoList"
                        selected="0"
                        slot="dropdown-content">
                            <template is="dom-repeat" items="{{textItems}}" as="item">
                                <paper-item 
                                    value="[[item.label]]">
                                    <paper-item-body two-line >
                                        <div>
                                            [[item.label]]
                                        </div>
                                    </paper-item-body>
                                </paper-item>
                            </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>

            <div class="buttons">
                <paper-button dialog-dismiss class="button-action-cancel">Cerrar</paper-button>
                <paper-button dialog-dismiss class="button-action-cancel">
                    <dali-button type="button-action-go" on-tap="download">
                            <dali-icon icon-name="file-download" color="white"></dali-icon>
                            Descargar contenido
                    </dali-button>
                </paper-button>
            </div>
        </paper-dialog>


    </template>

    <script>
        class DaliShowInteract extends Polymer.Element {
            static get is() {
                return 'dali-show-interact';
            }

            static get properties() {
                return {
                    //Object Content
                    content: {
                        type: Object,
                        observer: '_contentChange',
                        default: {
                            title: String,
                            state: Boolean,
                            textItems: [{
                                label:  String,
                                value: String,
                                isTicket: Boolean
                            }]                            
                        },
                        notify: true
                    }, 
                    title: {
                        type: String,
                        notify: true
                    },
                    icon: {
                        type: String,
                        notify: true,
                        observer: '_iconChange'
                    },
                    textItems: Array,
                    elementsToShow:{
                        type: Array,
                        notify: true,
                        observer: '_elementsToShowChange'
                    },
                    interactState: {
                        type: Boolean,
                        value: false
                    },
                    opened: {
                        type: Boolean,
                        value: false,
                        notify: true,
                        observer: '_openedChange'
                    },
                    showDownload: {
                        type: Boolean,
                        value: true
                    },
                    downloadFileTypes:{
                        type: Object,
                        value: [
                            "xml",
                            "txt"
                        ]
                    },
                    seleccionNodo: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    config: {
                        type: Object,
                        value: {
                            types: {
                                textType: "text"
                            },
                            icons: {
                                ok: "vaadin:check",
                                nok: "vaadin:frown-o"
                            }
                        }
                    }
                };
            }

            reload(){
                this.$.collapse.opened = false;
            }

            /**
             * Buscar ticket 
             * */
            _buscarTicket(evt){
                var ticket = evt.currentTarget.ticket,
                    daliTicketSearch = this.parentNode.host.parentNode.parentNode.querySelector("#dali-ticket-search");

                daliTicketSearch.valueSearch = ticket;
                daliTicketSearch._buscar(null);
            }


            /**
             * Chackbox descargar solo un nodo
             * */
            descargarNodoChange(evt){
                this.seleccionNodo = !evt.currentTarget.checked
            }

            /**
             * Inicia la descarga del archivo
             */
            download(evt){

                var isNodoChecked = this.$.descargarPorNodo.checked,
                    textToDownload,
                    extension = this.$.extensionList.selectedItem.value;

                if(isNodoChecked){
                    var descargarNodoValue = this.$.descargarNodoList.selectedItem.value;

                    for(var i=0; i<this.textItems.length;i++){
                        if(this.textItems[i].label == descargarNodoValue){
                            try{
                                textToDownload = JSON.parse(this.textItems[i].value);
                            }catch(err){
                                textToDownload = this.textItems[i].value;
                            }
                            break;
                        }
                    }
                }else{
                    textToDownload = JSON.stringify(this.textItems);
                }

                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + textToDownload);
                element.setAttribute('download', "file." + extension);

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);

                if( this.$.seleccionNodoDropDownMenu.contentElement && 
                    this.$.seleccionNodoDropDownMenu.contentElement.selected){
                    this.$.seleccionNodoDropDownMenu.contentElement.selected = null
                }
            }

            /**
             * Trata de descargar el contenido
             * */
            abrirDialogoDescargar(evt) {
                if( this.$.seleccionNodoDropDownMenu.contentElement){
                    this.$.seleccionNodoDropDownMenu.contentElement.selected = null
                }

                this.$.seleccionNodoDropDownMenu.contentElement.selected = 0

                this.$.descargarDialog.open();
            }

            _copy(evt){
                console.log();
            }

            /**
             * Create the object response to show.
             * Add a indented list with the content
             * */
            _elementsToShowChange(newValue){
                if(newValue){
                   if(Array.isArray(newValue)){
                       var tex = JSON.stringify(newValue)
                       console.log((tex))
                   }
                }
            }

            /**
                Change class for state
            */
            _iconChange(newValue){
                var isOk = newValue == this.config.icons.ok
                this.$.interactState.classList.toggle('color-good', isOk);
                this.$.interactState.classList.toggle('color-wrong', !isOk);
                    
            }

            /** 
                Change opened collapse value 
            */
            _openedChange(newValue){
                //this.$.collapse.opened = newValue;
            }

            _open(){
                this.$.collapse.opened = true;
            }

            _close(){
                this.$.collapse.opened = false;
            }

            _toggle(){
                this.$.collapse.toggle();
            }

            /**
                Fill the items to deploy in screen.
                Change the icons to show
            */
            _contentChange(newValue){
                var opened = false,
                    icon;

                if(newValue){
                    this.textItems = newValue.textItems;
                    this.elementsToShow = newValue.textItems;
                    this.title = newValue.title;
                    this.state = newValue.state;
                    // if(this.state){
                    //     icon = "vaadin:check"
                    // }else{
                    //     icon = "vaadin:frown-o"
                    // }
                    opened = true;
                }
                this.$.collapse.opened = opened;   
                this.icon = icon             
            }
        }

        window.customElements.define(DaliShowInteract.is, DaliShowInteract);
    </script>
</dom-module>