<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../config/config-component.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../dali/dali-button/dali-button.html">
<link rel="import" href="../dali/dali-input/dali-input.html">
<link rel="import" href="../dali/dali-icon/dali-icon.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">
<link rel="import" href="../../../../../../../bower_components/websocket-component/shared-websocket-component.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">

<dom-module id="auditoria-component">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }

            paper-dialog-scrollable {
                margin-top: 0px;
            }

            paper-dialog.size-position {
                top: 3px;
            }

            .subtitle{
                color: dimgrey;
                font-size: 14px;
                font-style: normal;
                margin-top: 0;
            }

            .streamWraper{
                border: 1px;
                border-color: gainsboro;
                border-style: solid;
                padding: 8px;
            }

            .inputArbolTopicos{
                padding: 0;
            }

            .alert-text{
                margin-top: 0.5%;
            }

            .space{
                padding-top: 10px;
            }

            .horaMensaje{
                background-color: coral;
                padding: 3px;
                margin: 3px;
                border-radius: 15px;
            }

            .fechaMensaje{
                background-color: deepskyblue;
                padding: 3px;
                margin: 3px;
                border-radius: 15px;
            }

            .separator{
                padding: 3px;
                margin: 3px;
                border-radius: 15px;
            }

            .numbers{
                padding: 5px;
            }

            .mensajeNumbers{
                margin-top: 3%;
            }
            .message{
                font-size: 13px
            }
            .titulo{
                margin: 0;
            }
            .indicadorEstado{
                width: 8px;
                height: 8px;
                border-radius: 5px;
                margin: 6px 0 0 4px;
            }
            .indicadorEstadoConectado{
                background-color: var(--paper-green-500);
            }
            .indicadorEstadoDesconectado{
                background-color: var(--paper-red-300);
            }
        </style>

        <!-- 
            Configuracion inicial
        -->
        <config-component app-config="{{appConfig}}"></config-component>

        <!-- 
            WebSocket
         -->
        <websocket-component id="websocket" url="[[appConfig.auditoriaComponent.wsProtocol]][[appConfig.auditoriaComponent.wsHost]]:[[appConfig.auditoriaComponent.wsPort]]"
            on-websocket-open="_webSocketOpened" on-websocket-error="_error" on-websocket-message="_addWebsocketMessage">
        </websocket-component>

        <!-- 
            Icono que abre poopUp y comienza funcionalidad
         -->
        <span id="icon" hidden="true">
            <dali-icon-button on-tap="open" icon="assignment" type="button-action-normal-v" tooltip-text="Ver auditoría"></dali-icon-button>
        </span>

        <!-- 
            Dialogo de auditoria
         -->
        <paper-dialog id="auditoriaDialog" class="width-96 size-position">
            <div class="container flex-horizontal">
                <div class="container flex-vertical">
                    <h2 class="titulo">Mensajes de auditoria online</h2>
                    <span></span>
                    <div class="container flex-horizontal subtitle">
                        Estado: <div id="indicadorEstado" class="indicadorEstado indicadorEstadoDesconectado"></div> &nbsp;[[estado]]</div>
                </div>
                <span></span>

                <paper-input id="nombreTopico" class="inputArbolTopicos flexchild" readonly="[[!showConnect]]" label="Topico a visualizar"
                    value="auditoria/#" always-float-label>
                </paper-input>

                <template is="dom-if" if="{{showConnect}}">
                    <dali-button type="button-action-go" on-tap="conectar">
                        <iron-icon icon="launch"></iron-icon>
                        &nbsp;
                        Conectar
                    </dali-button>
                </template>
                <template is="dom-if" if="{{!showConnect}}">
                    <dali-button type="button-action-cancel" on-tap="desconectar">
                        <iron-icon icon="clear"></iron-icon>
                        &nbsp;
                        Desconectar
                    </dali-button>
                </template>
            </div>

            <div class="container flex-horizontal">
                <!-- filtro -->
                <dali-input id="filtroInput" class="inputArbolTopicos flexchild" label="Filtro" on-keyup="_onKeyFiltro"
                    type="json" always-float-label>
                </dali-input>
                <dali-button type="button-action-go" on-tap="filtrar">
                    <iron-icon icon="find-in-page">
                    </iron-icon>
                    &nbsp;
                    Filtrar
                </dali-button>
                <!-- <dali-button type="button-action-go" on-tap="buscarDummy">
                    <iron-icon icon="find-in-page">
                    </iron-icon>
                    &nbsp;
                    BuscarDummy
                </dali-button> -->


                <dali-button type="button-response-card" on-tap="descargarAuditoria">
                    <iron-icon icon="file-download"></iron-icon>
                    &nbsp;
                    Descargar
                </dali-button>
            </div>

            <paper-dialog-scrollable class="space">
                <div id="wsMessages" class="streamWraper">

                    <template is="dom-repeat" items="{{alerts}}" as="alert">
                        <div class="container flex-horizontal">
                            <dali-icon icon-name="warning" color="coral" tooltipo-position="top" tooltip-text="Mensage del servidor">
                            </dali-icon>
                            <span></span>
                            <div class="alert-text flexchild">
                                [[alert.hora]] - [[alert.fecha]]: &nbsp;
                                [[alert.message]]
                            </div>
                            <dali-icon-button icon="delete-forever" tooltip-text="Limpiar los mensajes" on-tap="limpiarMensajes" type="button-action-cancel"></dali-icon-button>
                        </div>

                    </template>
                    <template is="dom-repeat" items="{{messages}}" as="message">
                        <div class="container flex-horizontal">
                            <dali-icon icon-name="arrow-drop-down" color="black" tooltipo-position="top" tooltip-text="Mensage del servidor">
                            </dali-icon>
                            <span></span>
                            <div class="alert-text flexchild message">
                                <div class="container flex-horizontal">
                                    <div class="horaMensaje">
                                        [[message.hora]]
                                    </div>
                                    &nbsp;
                                    <div class="fechaMensaje">
                                        [[message.fecha]]
                                    </div>
                                    <div class="separator">
                                    </div>
                                </div>
                                <div>
                                    [[message.message]]
                                </div>
                            </div>
                        </div>
                    </template>

                </div>
            </paper-dialog-scrollable>


            <div class="container flex-horizontal">
                <div id="numeroMensajes" class="container flex-horizontal padding-1">
                    <div class="container flex-horizontal padding-1">
                        <div class="mensajeNumbers">Mensajes entrantes&nbsp;</div>
                        <div class="button-action-go border-radius-20 numbers">[[getNumberOfMessages(messagesTmp.length)]]</div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="container flex-horizontal padding-1">
                        <div class="mensajeNumbers">Mensajes filtrados&nbsp;</div>
                        <div class="button-action-go border-radius-20 numbers">[[getNumberOfMessages(messages.length)]]</div>
                    </div>
                </div>
                <div class="flexchild"></div>
                <div class="buttons">
                    <paper-button id="ocultarButton" dialog-dismiss class="button-action-cancel">Ocultar</paper-button>
                    <paper-button id="cerrarButton" dialog-dismiss class="button-action-cancel" on-tap="cerrarDialogo">Cerrar</paper-button>

                    <paper-tooltip for="ocultarButton" position="left">Oculta la ventana, pero mantiene la conexión
                        a al
                        sistema de auditoría abierta</paper-tooltip>
                    <paper-tooltip for="cerrarButton" position="left">Cierra la ventana y la conexión al sistema de
                        auditorias</paper-tooltip>

                </div>
            </div>
        </paper-dialog>


        <!-- 
            Componente localStorage que contiene los datos del ambiente
        -->
        <iron-localstorage id="authStorage" name="auth-storage" value="{{authVariables}}"></iron-localstorage>

    </template>

    <script>
        /**
         * `auditoria-component` Description
         *
         * Componente que se conecta con servidor websocket y recibe mensajes de auditoria
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class AuditoriaComponent extends Polymer.Element {
            static get is() {
                return 'auditoria-component';
            }

            static get properties() {
                return {
                    appConfig: {
                        type: Object,
                        notify: true,
                        observer: '_configChange'
                    },
                    reintentosConexion: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    alerts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    messages: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    messagesTmp: {
                        type: Array,
                        value: []
                    },
                    estado: {
                        type: String,
                        notify: true,
                        value: "No conectado"
                    },
                    topicoConectar: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    showConnect: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    rolesToSee: {
                        type: String,
                        notify: true
                    },
                    filtro: {
                        type: String,
                        notify: true
                    },
                    filtroActivo: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    mensajeTipo: {
                        type: Object,
                        value: {
                            action: {
                                toConnect: "toConnect",
                                forSearch: "forSearch"
                            }
                        }
                    }
                };
            }



            /**
             * Limpia los mensajes entrantes y filtrados
             * */
            limpiarMensajes(){
                this.set("messages", [])
                this.set("messagesTmp", [])
            }

            getNumberOfMessages(number){
                if(number){
                    if(number > 99){
                        return "99+"
                    }else{
                        return number
                    }
                }else{
                    return "0"
                }
            }

            /**
             * Accion de secribir en input de filtro.
             * Se valida json a medida que se escribe
             * */
            _onKeyFiltro(evt) {
                evt.currentTarget.validate();

                switch (evt.keyCode) {
                    case 13: //Enter
                        this.filtrar(evt)
                        break;
                    case 27: //Esc
                        evt.currentTarget.value = null
                }
            }


            /**
             * Accion de aplicar filtros en input
             * de filtros. 
             * - Guarda coleccion 'messages' en propiedad temporal
             * - Reemplaza coleccion 'messages' por resultado de filtrar.
             * */
            filtrar(evt) {
                 var input = this.$.filtroInput
                 var filtro = input.value.trim().toString()

                 if(filtro){
                    var message = {
                        action: this.mensajeTipo.action.forSearch,
                        value: this.filtro
                    }
                    this.sendToServer(JSON.stringify(message))
                }

                // if (this.messagesTmp.length > 0) {
                //     this.set("messages", this.messagesTmp)
                // }

                // if (filtro) {
                //     this.filtroActivo = true
                //     var messages = this.messages
                //     this.set("messages", [])
                //     this.set("messagesTmp", messages);

                //     if (input.validate(null)) {
                //         this.filtro = JSON.parse(filtro);
                //         messages = this.aplicarFiltro(messages, this.filtro)
                //         this.set("messages", messages);
                //     }
                // } else {
                //     if (this.messagesTmp) {
                //         this.set("messages", this.messagesTmp)
                //     }

                //     this.filtroActivo = false
                // }
            }

            aplicarFiltro(messages, filtro) {
                var fecha = filtro.fecha,
                    hora = filtro.hora,
                    is = filtro.is,
                    not = filtro.not


                if (fecha) {
                    messages = messages.filter(message => {
                        var fechaMensaje = this.formatDateAndTime(message.date)[1]
                        if (fechaMensaje.includes(fecha)) {
                            return message;
                        }
                    })
                }

                if (hora) {
                    messages = messages.filter(message => {
                        var horaMensaje = this.formatDateAndTime(message.date)[0]
                        if (horaMensaje.includes(hora)) {
                            return message;
                        }
                    })
                }

                if (is) {
                    messages = messages.filter(message => {
                        var contenidoTrim = is.replace(/ /g, '');
                        var messageTrim = message.message.replace(/ /g, '').replace(/"/g, '');

                        if (messageTrim.includes(contenidoTrim)) {
                            return message;
                        }
                    })
                }

                if (!is && not) {
                    messages = messages.filter(message => {
                        var contenidoTrim = not.replace(/ /g, '');
                        var messageTrim = message.message.replace(/ /g, '').replace(/"/g, '');

                        if (!messageTrim.includes(contenidoTrim)) {
                            return message;
                        }
                    })
                }

                return messages;
            }

            buscarDummy() {
                var toSearch = {
                    action: this.mensajeTipo.action.forSearch,
                    value: "Esta es la busqueda..."
                }

                this.$.websocket.send(JSON.stringify(toSearch));
            }

            /**
             * Evento de autenticacion
             * */
            reload(roles) {
                this.set("rolesToSee", roles.roles)
                if (this.appConfig) {
                    this.showAuditIcon(this.appConfig.auditoriaComponent.config)
                }
            }

            /**
             * Carga configuracion inicial
             * */
            _configChange(newValue) {
                if (newValue && newValue.auditoriaComponent) {
                    this.$.authStorage.reload()
                    this.set("rolesToSee", this.authVariables.roles)
                    this.showAuditIcon(newValue.auditoriaComponent.config)
                    //this.set("appConfig", newValue.auditoriaComponent)
                }
            }

            /**
             * Detecta el rol y muestra componente
             * segun resultado
             * */
            showAuditIcon(config) {
                try {
                    var config = JSON.parse(window.atob(config)),
                        rolesToSee = this.rolesToSee,
                        isInRol = false;

                    rolesToSee.forEach(rol => {
                        if (config.alowedRoles.includes(rol.name)) {
                            isInRol = true;
                            return;
                        }
                    });

                    this.$.icon.hidden = !isInRol;

                } catch (err) {
                    console.error("No se puede leer configuracion de auditoria. Error al cargar Json de configuracion")
                }
            }

            open(evt) {
                this.$.auditoriaDialog.open();
            }

            cambiarIndicadorEstado(isConnected){
                var indicadorEstado = Polymer.dom(this.root).querySelector("#indicadorEstado");
                indicadorEstado.classList.toggle('indicadorEstadoConectado', isConnected);
                indicadorEstado.classList.toggle('indicadorEstadoDesconectado', !isConnected);
            }

            desconectar(evt) {
                this.$.websocket.close();
                this.set("estado", "No conectado");
                this.set("showConnect", true);
                this.set("alerts", [])
                this.set("messages", [])
                this.set("messagesTmp", [])
                
                this.filtroActivo = false
                this.$.filtroInput.value = ''
                this.cambiarIndicadorEstado(false)
            }

            cerrarDialogo(evt) {
                console.log("Boton cerrar ventana presionado. Cerrando conexiones al servidor de auditoria.")
                this.desconectar(evt);
            }

            /**
             * Accion de conectar a la auditoria
             * */
            conectar(evt) {
                var topicoConectar = this.$.nombreTopico.value;
                var message;

                if (topicoConectar) {
                    this.set("topicoConectar", topicoConectar)
                    this.$.websocket.open()
                } else {
                    message = "Ingrese el nombre de un tópico válido.";
                    console.error("No se ha podido determinar el topico a conectar")
                }

                this.set("estado", message);
            }

            /**
             * Maneja el evento de conexion.
             * Entra cuando se establece conexion con el servidor
             * */
            _webSocketOpened(event) {
                var message = "Conectado con servidor. Conectando con tópico.";
                this.set("estado", message);

                console.log("Conectando a topico: " + this.topicoConectar)
                var jsonToConnect = {
                    action: this.mensajeTipo.action.toConnect,
                    value: this.topicoConectar
                }
                this.sendToServer(JSON.stringify(jsonToConnect))
                this.set("estado", "Conexión establecida.");
                this.cambiarIndicadorEstado(true)
                this.set("showConnect", false);
            }

            /**
             * Envia mensaje a servidor mediante websocket
             * */
            sendToServer(message){
                this.$.websocket.send(message);
            }

            _addWebsocketMessage(event) {
                var message = JSON.parse(event.detail.data),
                    tratarMensaje = (message) => {
                        try {
                            var type = message.type;
                            var horaFecha = this.formatDateAndTime(message.date)
                            message.hora = horaFecha[0]
                            message.fecha = horaFecha[1]
                            message.message = JSON.stringify(message.message).replace('\"', '"')
                        } catch (err) {
                            message = event.detail.data;
                            type = "message"
                        }

                        if (type) {
                            if (type == "message") {
                                this.pushToMessages(message);
                            } else if (type == "alert") {
                                this.pushToAlerts(message)
                            }
                        } else {
                            this.pushToMessages(message);
                        }
                    }

                if(Array.isArray(message)){
                    message.forEach(singleMessage => {
                        tratarMensaje(singleMessage)
                    })
                }else{
                    tratarMensaje(message)
                }
            }

            /**
             * Muestra dialogo par adescargar archivo
             * representativo de la auditoria
             * */
            descargarAuditoria(evt) {
                var element = document.createElement('a');
                var textToDownload = JSON.stringify(this.alerts) + JSON.stringify(this.messages)
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + textToDownload);
                element.setAttribute('download', "auditoria-" + JSON.stringify(new Date) + ".txt");

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

            formatDateAndTimeHead(date) {
                var splitFechas = date.split("T");
                var fecha = splitFechas[0];
                var hora = splitFechas[1].split(".")[0];
                return hora + " - " + fecha
            }


            formatDateAndTime(date) {
                var date = new Date(date)
                var minutos = date.getMinutes()
                var segundos = date.getSeconds()
                var mes = date.getMonth()
                var dia = date.getDate()

                var parseMenorDiez = (numero) => {
                    if (numero < 10) {
                        numero = '0' + numero
                    }

                    return numero;
                }

                minutos = parseMenorDiez(minutos)
                segundos = parseMenorDiez(segundos)
                mes = parseMenorDiez((parseInt(mes) + 1))
                dia = parseMenorDiez(dia)

                var hora = date.getHours() + ":" + minutos + ":" + segundos;
                var fecha = date.getFullYear() + "-" + mes + "-" + dia


                return [hora, fecha]
            }

            pushToMessages(message) {
                this.unshift("messagesTmp", message)
                this.unshift("messages", message)
                //this.push('messages', message);
            }

            pushToAlerts(alert) {
                this.push('alerts', alert);
            }


            _error(event) {
                console.log("Error en Websocket. Intentando reconectar.")
            }

        }

        window.customElements.define(AuditoriaComponent.is, AuditoriaComponent);
    </script>
</dom-module>