<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-input/paper-input.html">

<dom-module id="auditoria-search-box">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <dali-input 
            id="filtro"
            label="Filtro"
            on-keyup="onKeyFiltro"
            always-float-label
        >
        </dali-input>
        

    </template>

    <script>
        class AuditoriaSearchBox extends Polymer.Element {
            static get is() {
                return 'auditoria-search-box';
            }

            static get properties() {
                return {
                    
                };
            }



            /**
             * Accion de escribir en input de filtro
             * */
            onKeyfiltro(evt){
                var input = evt.currentTarget;
                if(validar(input.value)){
                    switch(evt.keyCode){
                        case 13: //Enter
                            this.aplicarFiltro(evt)
                            break;
                        case 27: //Esc
                            evt.currentTarget.value = null
                    } 

                }
            }

            validar(value){
                var simbolosExpresion = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/;
            }

            aplicarFiltro(evt){

            }

        }

        window.customElements.define(AuditoriaSearchBox.is, AuditoriaSearchBox);
    </script>
</dom-module>