<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">


<dom-module id="dali-button">
    <template>
        <style include="my-colors">
            
        </style>

        <paper-button
            id="button"
            class$="[[type]]"
            raised="[[raised]]"
            value="[[value]]"
        ><slot></slot></paper-button>


        <paper-tooltip 
            for="button" 
            position="[[tooltipoPosition]]" 
            animation-delay="[[tooltipDelay]]">
                [[tooltipText]]
        </paper-tooltip>

    </template>

    <script>
      
        class DaliButton extends Polymer.Element {
            static get is() {
                return 'dali-button';
            }
            
            static get properties() {
                return {
                    type: {
                        type: String,
                        notify: true,
                        value: "button-action-normal"
                    },
                    tooltipoPosition: {
                        type: String,
                        notify: true,
                        value: "bottom"
                    },
                    tooltipDelay:{
                        type: Number,
                        value: 0
                    },
                    tooltipText:{
                        type: String
                    },
                    value: {
                        type: String,
                        notify: true
                    },
                    raised: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                };
            }

        }

        window.customElements.define(DaliButton.is, DaliButton);
    </script>
</dom-module>