<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="fuse-rest-call">
    <template>
        <style>
        </style>

        <!--  
            Carga la configuracion para llamar a fuse
        -->
        <iron-ajax
            id="intialConfigAjax"
            url="src/components/apis/service-api/components/config/config/config.json"
            handle-as="json"
            content-type="application/json"
            on-response="_handleResponseInitialConfig"
            method="GET"
            auto
        ></iron-ajax>
        
        <!-- 
            Hace la llamada a fuse
         -->
        <iron-ajax
            id="callFuseAjax"
            url="[[config.hostServiceConfig.hostServiceNode]]:[[config.hostServiceConfig.portServiceNode]][[path]]"
            handle-as="{{handleAs}}"
            last-response="{{lastResponse}}"
            content-type="{{contentType}}"
            on-response="{{onResponse}}"
            method="[[method]]"
            auto="[[auto]]"      
        ></iron-ajax>        
    </template>

    <script>
        class FuseRestCall extends Polymer.Element {
           
            static get is() {
                return 'fuse-rest-call';
            }

            static get properties() {
                return {
                    lastResponse: {
                        type: Object,
                        notify: true
                    },
                    auto: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    body: {
                        type: Object,
                        notify: true
                    },
                    config:{
                        type: Object,
                        notify:true
                    },
                    callServiceConfig:{
                        type: Object,
                        notify:true
                    },
                    method: {
                        type: String,
                        value: "POST",
                        notify: true
                    },
                    contentType: {
                        type: String,
                        notify: true,
                        value: "application/json"
                    },
                    handleAs: {
                        type: String,
                        notify: true,
                        value: "json"
                    },
                    path: {
                        type: String,
                        notify: true
                    },
                    onResponse: {
                        type: Object,
                        notify: true
                    }
                };
            }

            /**
             * Maneja la respuesta de la carga de configuracion
             * */
            _handleResponseInitialConfig(evt){
                this.config = evt.detail.response
            }

            /**
             * Inicia el llamado a fuse
             * */
            _callFuse(body){
                if(this.method){
                    if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "put"){
                        if(body){
                            this.body = body;
                            this.$.callFuseAjax.body = this.body;
                        }else{
                            if(!this.body){
                                console.error("No se ha encontrado el cuerpo del mensaje.");
                                return;
                            }
                        }
                    }
                }

                this.$.callFuseAjax.generateRequest();
            }

        }

        window.customElements.define(FuseRestCall.is, FuseRestCall);
    </script>
</dom-module>