<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../../../../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../dali-icon/dali-icon.html">

<dom-module id="dali-input">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <paper-input
            id="input"
            label="{{label}}"
            required="{{required}}"
            value="{{value}}"
            type="{{type}}"
            invalid="{{invalid}}"
            on-focus="_onFocus"
            no-label-float="{{noLabelFloat}}"
            readonly="{{readOnly}}"
            always-float-label="{{alwaysFloatLabel}}"
            >
                <template is="dom-if" if="{{prefixText}}"> 
                    <div id="prefixDiv">
                        {{prefixText}}
                    </div>
                </template>

                <template is="dom-if" if="{{prefixIcon}}">
                    <dali-icon
                        id="prefixIcon"
                        icon-name="[[prefixIcon]]"
                    ></dali-icon>
                </template>

                <dali-icon
                    id="helpIcon"
                    icon-name="help-outline"
                    type="{{iconType}}"
                    tooltip-text="{{helpMessage}}"
                ></dali-icon>
            </div>
        </paper-input>
       
    </template>

    <script>
        class DaliInput extends Polymer.Element {
          
            static get is() {
                return 'dali-input';
            }

            static get properties() {
                return {
                    errorMessage: {
                        type: String,
                        notify: true
                    },
                    validationType: {
                        type: String,
                         notify: true
                    },
                    label: {
                        type: String,
                        notify: true
                    },
                    required: {
                        type: Boolean,
                        notify: true
                    },
                    value: {
                        type: String,
                        notify: true
                    },
                    helpMessage: {
                        type: String,
                        notify: true,
                        observer: '_helpMessageChange'
                    },
                    helpPosition: {
                        type: String,
                        notify: true,
                        value: "left"
                    },
                    withHelp:{
                        type: Boolean,
                        notify: true
                    },
                    type: {
                        type: String,
                        notify: true
                    },
                    iconType: {
                        type: String,
                        notify: true
                    },
                    prefixText: {
                        type: String,
                        notify: true
                    },
                    prefixIcon: {
                        type: Object,
                        notify: true
                    },
                    readOnly: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    noLabelFloat:{
                        type: Boolean,
                        notify: true
                    },
                    alwaysFloatLabel: {
                        type: Boolean,
                        notify: true
                    },
                    invalid: {
                        type: String,
                        notify: true
                    },
                    types: {
                        type: Object,
                        value: {
                            validation: {
                                empty: "empty",
                                onlyNumber: "onlyNumber",
                                mail: "mail",
                                onlyLetter: "onlyLetter",
                                json:"json"
                            }
                        }
                    }
                };
            }

            ready(){
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    const prefix = "prefix",
                        prefixDiv =  Polymer.dom(this.root).querySelector("#prefixDiv"),
                        prefixIcon =  Polymer.dom(this.root).querySelector("#prefixIcon")

                    if(prefixDiv){
                        if(this.prefixText){
                            prefixDiv.slot = prefix
                        }else{
                            prefixDivslot = null
                        }
                    }

                    if(prefixIcon){
                        if(this.prefixIcon){
                            prefixIcon.slot = prefix
                        }else{
                            prefixIcon = null
                        }
                    }
                })

            }

            /**
             * Asigna el focus al elemento input
             * */
            focus(){
                this.$.input.focus()
            }

            /**
             * cambia estado de invalid a false
             * */
            _onFocus(evt){
                var input = this.$.input

                input.invalid = false
                input.errorMessage = null
            }

            _helpMessageChange(newValue){
                const suffix = "suffix"
                if(newValue){
                    this.$.helpIcon.slot = suffix
                }else{
                    this.$.helpIcon.slot = null
                }
            }

            /**
             * Start de validation according the "this.validationType" variable
             * */
            validate(evt){
                var input = this.$.input,
                    isValid = true;

                 if(this.required){
                    this.errorMessage = "Campo requerido"
                    var value = input.value
                    if(!value || value.trim().length == 0){
                        input.errorMessage = this.errorMessage
                        input.invalid = true
                        isValid = !input.invalid
                    }else{
                        input.errorMessage = null
                        input.invalid = false
                        isValid = !input.invalid
                    }
                }

                if(this.type == this.types.validation.json){
                    var value = input.value
                    
                    try{
                        if(value){
                            value = JSON.parse(value)
                            input.errorMessage = null
                            input.invalid = false
                            isValid = !input.invalid
                        }else{
                            input.errorMessage = null
                            input.invalid = false
                            isValid = !input.invalid
                        }
                    }catch(err){
                        input.errorMessage = "Json inválido"
                        input.invalid = true
                        isValid = !input.invalid
                    }
                }


                return isValid
            }
        }

        window.customElements.define(DaliInput.is, DaliInput);
    </script>
</dom-module>