<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item-behavior.html">
<link rel="import" href="../../../../../shared/shared-styles.html">
<link rel="import" href="../../config/config-component.html">

<dom-module id="ambiente-component">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }

            .ambientes{
                padding: 1px 0px 1px 10px;
                max-width: 285px;

                --paper-input-container-input: {
                    color: aliceblue;
                    font-size: 21px;
                    text-transform: uppercase;
                };

                --paper-input-container-underline: {
                    display: none;
                };

                --paper-input-container-label: {
                    color: aliceblue;
                };

                --paper-dropdown-menu-ripple: {
                    display: none;
                }
            }
        </style>

        <!-- 
            Obtiene la configuracion de los ambientes  

            this.config.hostServiceConfig
            this.config.ambienteConfig
        -->
         <iron-ajax
            id="obtenerAmbientesAjax"
            url="[[config.hostServiceConfig.hostServiceNode]]:[[config.hostServiceConfig.portServiceNode]][[config.ambienteConfig.path]]"
            handle-as="json"
            content-type="application/json"
            on-response="_handleResponseAmbiente"
            method="[[config.ambienteConfig.methodObtenerTodos]]"
         ></iron-ajax>

        <!-- 
            Configuracion inicial
        -->
        <config-component
            app-config="{{appConfig}}"
        ></config-component>

        <!-- 
            Componente localStorage para guardar los datos del usuario
        -->
        <iron-localstorage 
            id="ambienteStorage"
            name="ambiente-storage"
            value="{{ambienteSeleccionado}}"
            on-iron-localstorage-load-empty="_initializeStorage"
        ></iron-localstorage>

        <!-- 
            Componente localStorage para guardar los datos del usuario
        -->
        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>

        <span>
            <paper-dropdown-menu 
                vertical-offset="60"
                id="dropDownMenu"
                label="Ambiente seleccionado: [[hostSeleccionado]]" 
                class="ambientes">
                <paper-listbox 
                    id="listBox" 
                    role="listbox"
                    selected="0"
                    on-selected-changed="changeAmbiente"
                    slot="dropdown-content">
                        <template is="dom-repeat" items="{{ambientes}}" as="ambiente">
                                <paper-item 
                                    class="manito"
                                    ambiente="[[ambiente]]" 
                                    value="[[ambiente.host]]">
                                    <paper-item-body two-line >
                                            <div id="ambienteNombre">
                                                [[ambiente.nombre]]
                                            </div>
                                            <div id="ambienteHost" secondary>
                                                &nbsp; [[ambiente.host]]
                                           </div>
                                        </paper-item-body>
                                   
                                </paper-item>
                        </template>
                </paper-listbox>
            </paper-dropdown-menu>
        </span>
    </template>

    <script>
       
        class AmbienteComponent extends Polymer.Element {
            static get is() { return 'ambiente-component';}
           
            static get properties() {
                return {
                    ambientes: {
                        type: Object,
                        notify: true
                    },
                    config: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    ambienteSeleccionado: {
                        type: Object,
                        notify: true
                    },
                    hostSeleccionado: {
                        type: String,
                        notify: true
                    },
                    appConfig:{
                        type: Object,
                        notify: true,
                        observer: '_appConfigChanged'
                    },
                    authVariables:{
                        type: Object,
                        notify: true,
                        observer: "_changedAuth"
                    }
                };
            }

            _changedAuth(newValue){
                console.log();
            }

            reloadAmbiente(roles){
                this.set("ambienteSeleccionado", null)
                this.set("hostSeleccionado", null)
                //this.set("ambientes", [])

                var rolesTmp = roles.roles.map(rol => {
                    return rol.name;
                });

                this.$.obtenerAmbientesAjax.body = {
                    roles: rolesTmp
                }
                this.$.obtenerAmbientesAjax.generateRequest();
            }

            _appConfigChanged(newValue){
                if(newValue){
                    /**
                     * Setea la configuracion
                     * */
                     this.set("config.ambienteConfig", this.appConfig.ambienteComponent)
                     this.set("config.hostServiceConfig", this.appConfig.hostServiceConfig)

                    //Llama a servicio para obtener los ambientes
                    if(this.authVariables && this.authVariables.roles){
                        var roles = this.authVariables.roles.map(rol => {
                            return rol.name;
                        });

                        this.$.obtenerAmbientesAjax.body = {
                            roles: roles
                        }
                        this.$.obtenerAmbientesAjax.generateRequest();
                    }
                    

                }
            }

            /**
             * Accion de seleccionar un ambiente
             * */
            changeAmbiente(evt){
                if(evt.currentTarget.selectedItem){
                    var ambiente = evt.currentTarget.selectedItem.ambiente
                    this.seleccionarAmbiente(ambiente)
                }else{
                    if(this.ambientes && this.ambientes.length != 0){
                        this.seleccionarAmbiente(this.ambientes[0])
                    }
                }
            }

            /**
             * Selecciona el ambiente y lo guarda dentro del localStorage
             * */
            seleccionarAmbiente(ambiente){
                if(ambiente){
                    this.set("ambienteSeleccionado", ambiente)
                    this.set("hostSeleccionado", ambiente.host)
                }else{
                    console.error("No se ha podido seleccionar el ambiente.")
                }
            }

            /**
             * Inicializa el objeto de localStorage
             * */
            _initializeStorage(){
                this.ambienteVariables = {
                    host: "",
                    nombre: "",
                    port: ""
                }
            }

            /**
             * Respuesta de obtener los ambientes
             * */
            _handleResponseAmbiente(evt){
                var ambientes = evt.detail.response;

                if(ambientes){
                    this.$.listBox.selected = null;
                    this.set("ambientes", ambientes);
                    //this.seleccionarAmbiente(ambientes[0]);
                    if(!this.$.listBox.selected){
                        this.$.listBox.selected = 0;
                        //this.seleccionarAmbiente(ambientes[0])
                    }
                        
                }else{
                    console.error("Error cargando los ambientes");
                }
            }
        }

        window.customElements.define(AmbienteComponent.is, AmbienteComponent);
    </script>
</dom-module>