<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../../../../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../dali/dali-icon-item/dali-icon-item.html">
<link rel="import" href="../dali/dali-input/dali-input.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">


<dom-module id="edit-ambiente-component">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }

            #cabecera{
                margin-top: 0.5em;
                
            }
        </style>

        <!-- Obtener ambiente -->
        <iron-ajax id="obtenerAmbientesAjax" url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.path]]"
            handle-as="json" on-response="handleResponseObtenerAmbientes" on-error="handleResponseErrorObtenerAmbientes"
            content-type="[[config.obtenerServicios.contentType]]" method="[[hostServiceConfig.method.POST]]"></iron-ajax>
        <!-- Crear / editar ambiente-->
        <iron-ajax id="guardarAmbienteAjax" url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.guardarAmbiente]]"
            handle-as="json" on-response="handleResponseGuardarAmbientes" on-error="handleResponseErrorGuardarAmbientes"
            content-type="application/json" method="[[hostServiceConfig.method.POST]]"></iron-ajax>
        <!-- Eliminar ambiente -->
        <iron-ajax id="eliminarAmbienteAjax" url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[config.path]]"
            handle-as="json" on-response="handleResponseEliminarAmbientes" on-error="handleResponseErrorEliminarAmbientes"
            content-type="application/json" method="[[hostServiceConfig.method.DELETE]]"></iron-ajax>

        <!-- dialogo para crear/editar ambiente -->
        <paper-dialog id="nuevoAmbienteDialog" class="width-35" modal>
            <div id="cabecera" class="container flex-horizontal ">
                <div>
                    <h2>Editar nuevo ambiente</h2>
                </div>
                <div id="space" class="flexchild"></div>
            </div>

            <dali-input id="inputHost" label="Host" help-message="Direccion ip del ambiente. Ej: 127.0.0.1" required>
            </dali-input>
            <dali-input id="inputNombre" label="Nombre" help-message="Nombre del ambiente. Ej: Testing" required>
            </dali-input>
            <dali-input id="inputPort" label="Puerto" help-message="Puerto para conectarse al ambiente. Ej: 8080"
                required>
            </dali-input>
            <dali-input id="inputProtocol" label="Protocolo" help-message="http o https" value="https" required>
            </dali-input>
            <dali-input id="inputRoles" label="Roles" help-message="Roles que pueden utilizar el ambiente. Separados por coma sin espacios"
                required>
            </dali-input>

            <div class="buttons">
                <paper-button dialog-dismiss class="button-action-cancel" on-tap="cerrarCrear">Cerrar</paper-button>
                <paper-button class="button-action-go" on-tap="crearAmbiente">Aceptar</paper-button>
            </div>
        </paper-dialog>

        <!-- Dialogo confirmacion de eliminacion -->
        <paper-dialog id="eliminarDialog" class="width-35 danger-dialog">
            <div id="cabecera" class="container flex-horizontal">
                <div>
                    <h2>Eliminar ambiente</h2>
                </div>
                <div id="space" class="flexchild"></div>
            </div>

            <h4>
                Está seguro de eliminar el ambiente:
            </h4>
            <p>
                [[ambienteEliminar.nombre]]?
            </p>

            <div class="buttons">
                <paper-button dialog-dismiss class="button-action-cancel" on-tap="cerrarEliminar">Cancelar</paper-button>
                <paper-button class="button-action-delete" on-tap="eliminarAmbiente">Eliminar ambiente</paper-button>
            </div>
        </paper-dialog>

        <!-- dialogo principal. Despliega lista de ambientes para su administracion -->
        <paper-dialog id="dialog" class="width-50" modal>
            <div id="cabecera" class="container flex-horizontal ">
                <div>
                    <h2>Editar ambientes</h2>
                </div>
                <div id="space" class="flexchild"></div>
                <paper-button id="guardarButton" on-tap="abrirDialogoCrearAmbiente" class="button-action-normal">
                    <iron-icon icon="vaadin:plus"></iron-icon>
                    <span class="text-12">
                        Crear nuevo ambiente
                    </span>
                </paper-button>
            </div>
            <iron-scroll-threshold class="scroll-grupos">
                <div role="listbox">
                    <template is="dom-repeat" items="{{ambientes}}" as="ambiente">
                        <dali-icon-item grupo="[[ambiente]]" icon="home">
                            </dali-icon-button>
                            <paper-item-body two-line on-tap="_selectGroup">
                                <div>[[ambiente.nombre]]</div>
                                <div secondary>creado: [[ambiente.fecha]]</div>
                            </paper-item-body>
                            <dali-icon-button icon="vaadin:edit" ambiente="[[ambiente]]" tooltip-text="Editar"
                                tooltipo-position="left" on-tap="openEdit"></dali-icon-button>
                            <dali-icon-button icon="vaadin:trash" ambiente="[[ambiente]]" tooltipo-position="left"
                                tooltip-text="Eliminar" type="button-action-cancel" on-tap="abrirEliminar">
                        </dali-icon-item>
                    </template>
                </div>
            </iron-scroll-threshold>
            <div class="buttons">
                <paper-button dialog-dismiss class="button-action-cancel">Cerrar</paper-button>
            </div>
        </paper-dialog>

        <!--  local stoprage -->
        <iron-localstorage id="authStorage" name="auth-storage" value="{{authVariables}}"></iron-localstorage>

    </template>

    <script>
        class EditAmbienteComponent extends Polymer.Element {

            static get is() {
                return 'edit-ambiente-component';
            }

            static get properties() {
                return {
                    ambientes: {
                        type: Array,
                        notify: true
                    },
                    loading: {
                        type: Object,
                        notify: true
                    },
                    config: {
                        type: Object,
                        notify: true
                    },
                    hostServiceConfig: {
                        type: Object,
                        notify: true
                    },
                    idEditar: {
                        type: String,
                        notify: true
                    },
                    callBack: {
                        type: Object
                    },
                    ambienteEliminar: {
                        type: Object,
                        notify: true
                    },
                    toaster: {
                        type: Object,
                        notify: true
                    },
                    ambienteComponent:{
                        type: Object,
                        notify: true,
                        computed: "asignarAmbienteComponent()"
                    }
                };
            }


            /**
             * Maneja respuesta de error de eliminar ambiente
             * */
            handleResponseErrorEliminarAmbientes(evt){
                var status = evt.detail.request.status
                console.error("Error eliminando ambiente: " + JSON.stringify(this.ambienteEliminar) +" status devuelto: " + status)
                this.ambienteEliminar = null
            }

            /**
             * Maneja respuesat de eliminar ambiente
             * */
            handleResponseEliminarAmbientes(evt){
                var status = evt.detail.status

                if(status == 200){
                    console.log("Se ha eliminado el servicio: " + this.ambienteEliminar.nombre)
                    var index = this.ambientes.findIndex(amb => this.ambienteEliminar._id == amb._id)

                    if (index == -1) {
                        console.error("No se puede encontrar el ambiente eliminado para quitarlo de la vista")
                    } else {
                        this.splice("ambientes", index, 1)
                        this.ambienteEliminar = null
                        this.$.eliminarDialog.close()
                        this.reloadAmbienteComponent();
                    }
                }
            }

            /**
             * Invoca al servicio para eliminar ambiente seleccionado
             * */
            eliminarAmbiente(evt){
                var body = {
                    _id: this.ambienteEliminar._id
                }
                this.$.eliminarAmbienteAjax.body = body
                this.$.eliminarAmbienteAjax.generateRequest()

            }

            /**
             * Abre dialogo confirmacion de eliminacion
             * */
            abrirEliminar(evt) {
                var ambiente = evt.currentTarget.ambiente
                if (ambiente) {
                    this.$.eliminarDialog.open()
                    this.ambienteEliminar = ambiente
                } else {
                    console.error("No se puede seleccionar el ambiente.")
                }
            }

            cerrarEliminar(evt) {
                this.ambienteEliminar = null
            }

            /**
             * Maneja respuesta de guardar ambiente
             * */
            handleResponseGuardarAmbientes(evt) {
                var response = evt.detail.response
                status = evt.detail.status

                if (status = 200) {
                    console.log("Se ha guardado correctamente el ambiente")
                    this.$.nuevoAmbienteDialog.close();
                    this.limpiarControles()

                    response.fecha = this._getToday(new Date(response.fechaCreacion))

                    var index = this.ambientes.findIndex(amb => response._id == amb._id)

                    if (index == -1) {
                        this.push("ambientes", response)
                    } else {
                        this.set("ambientes." + index, response)
                    }

                    this.fitPrincipal()
                    this.reloadAmbienteComponent();
                }
            }

            /**
             * Maneja error al guardar ambiente
             * */
            handleResponseErrorGuardarAmbientes(evt) {
                var status = evt.detail.request.status;
                console.error("Error intentando guarda los ambiente, retorna status: " + status)
            }

            /**
             * Abre el dialogo para editar ambiente
             * */
            openEdit(evt) {
                var ambiente = evt.currentTarget.ambiente
                this.idEditar = ambiente._id;
                this.$.nuevoAmbienteDialog.open()

                this.$.inputHost.value = ambiente.host
                this.$.inputNombre.value = ambiente.nombre
                this.$.inputPort.value = ambiente.port
                this.$.inputProtocol.value = ambiente.protocolo
                this.$.inputRoles.value = ambiente.roles.toString()
            }

            /**
             * Abre dialogo para crear ambiente
             * */
            abrirDialogoCrearAmbiente(evt) {
                this.idEditar = null;
                this.$.nuevoAmbienteDialog.open()
            }



            /**
             * Llama al ervicio de crear nuevo ambiente
             * */
            crearAmbiente(evt) {
                var inputs = [
                    this.$.inputHost, //0 
                    this.$.inputNombre, //1 
                    this.$.inputPort, //2
                    this.$.inputProtocol, //3 
                    this.$.inputRoles //4
                ],
                    allValid = true

                inputs.forEach(input => {
                    allValid = input.validate() && allValid
                })

                this.$.authStorage.reload()
                var username = this.authVariables.username
                if (allValid) {
                    var roles
                    try {
                        roles = inputs[4].value.split(",")
                    } catch (err) {
                        inputs[0].invalid = true
                        return;
                    }

                    var ambiente = {
                        host: inputs[0].value,
                        nombre: inputs[1].value,
                        port: inputs[2].value,
                        protocolo: inputs[3].value,
                        username: username,
                        roles: roles,
                        fechaCreacion: new Date()
                    }
                    var method = this.hostServiceConfig.method.POST

                    if (this.idEditar) {
                        method = this.hostServiceConfig.method.PUT
                        ambiente._id = this.idEditar
                    }

                    this.$.guardarAmbienteAjax.body = ambiente
                    this.$.guardarAmbienteAjax.method = method
                    this.$.guardarAmbienteAjax.generateRequest()
                } else {

                }
            }

            cerrarCrear(evt) {
                this.limpiarControles()
            }

            limpiarControles() {
                var inputs = [
                    this.$.inputHost, //0 
                    this.$.inputNombre, //1 
                    this.$.inputPort, //2
                    this.$.inputProtocol, //3 
                    this.$.inputRoles //4
                ]

                inputs.forEach(input => {
                    input.invalid = false
                    input.value = ""
                })

                this.$.inputProtocol.value = "https"
                this.idEditar = null
                this.callBack = null
            }


            /**
             * Maneja buscar ambientes
             * */
            handleResponseObtenerAmbientes(evt) {
                var response = evt.detail.response.map(ambiente => {
                    ambiente.fecha = this._getToday(new Date(ambiente.fechaCreacion))
                    return ambiente
                })

                if (evt.detail.status == 200) {
                    this.set("ambientes", response)
                    this.$.dialog.open()
                } else {
                    console.error("Ha ocrrido un error buscando los ambientes. Status: " + evt.detail.status)
                }
            }

            /**
             * Maneja error al buscar ambientes
             * */
            handleResponseErrorObtenerAmbientes(evt) {
                var status = evt.detail.request.status;

                console.error("Error intentando buscar los ambentes, retorna status: " + status)
            }

            /**
             * Hace llamado para obtener ambientes por usuario (header: 'username')
             * 
             * */
            open() {
                this.$.authStorage.reload()
                var username = this.authVariables.username,
                    body = {
                        username: username
                    }

                this.$.obtenerAmbientesAjax.body = body
                this.$.obtenerAmbientesAjax.generateRequest()
            }

            /**
             * Corrige posicion de dialogo
             * */
            fitPrincipal() {
                this.$.dialog.fit()
            }

            /**
             * Asigna ambiente component para callback al agregar, modificar, eliminar
             * */
            asignarAmbienteComponent(){          
                return this.parentNode.host.$.ambienteComponent
            }

            /**
             * Recarga componente selector de ambientes
             * */
            reloadAmbienteComponent(){
                this.$.authStorage.reload()
                var roles= {
                    roles: this.authVariables.roles
                }
                this.ambienteComponent.reloadAmbiente(roles)
            }

            _getToday(fecha) {
                var today;

                if (fecha) {
                    today = fecha;
                } else {
                    today = new Date()
                }

                var dd = today.getDate(),
                    mm = today.getMonth() + 1, //January is 0!
                    yyyy = today.getFullYear();

                if (dd < 10) { dd = '0' + dd }
                if (mm < 10) { mm = '0' + mm }

                today = dd + '/' + mm + '/' + yyyy;
                return today;
            }

        }

        window.customElements.define(EditAmbienteComponent.is, EditAmbienteComponent);
    </script>
</dom-module>