<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../dali/dali-icon-button/dali-icon-button.html">


<dom-module id="edit-ambiente-layout">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <dali-icon-button 
            id="icon"
            icon="icons:create" 
            hidden="{{hidden}}"
            type="button-action-normal-v"
            tooltip-text="Editar ambientes"
            on-tap="abrirDialogoPrincipal"
        ></dali-icon-button>

        <!-- storage de sesion -->
        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>


    </template>

    <script>
        class EditAmbienteLayout extends Polymer.Element {
            static get is() {return 'edit-ambiente-layout';}

            static get properties() {
                return {
                    dialog: {
                        type: Object,
                        notify: true,
                        computed: "asignarDialog()"
                    },
                    rolToSee: {
                        type: String,
                        value: "ENV_ADMIN_CONSOLE"
                    },
                    hidden: {
                        type: Boolean,
                        value: true
                    }
                    
                };
            }

            ready(){
                super.ready();
                this.$.authStorage.reload()
                this.reload(this.authVariables.roles)
            }

            asignarDialog(){
                return this.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector("#editAmbienteComponent")
            }

            abrirDialogoPrincipal(){
                this.dialog.open();
            }

            reload(roles){
                if(roles){
                    var index = roles.findIndex(rol => rol.name == this.rolToSee)
                    if(index != -1){
                        this.set("hidden", false)
                    }else{
                        this.set("hidden", true)
                    }
                }else{
                    this.set("hidden", true)
                }
            }
        }

        window.customElements.define(EditAmbienteLayout.is, EditAmbienteLayout);
    </script>
</dom-module>