<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../config/config-component.html">
<link rel="import" href="../fuse-rest-call/fuse-rest-call.html">

<dom-module id="historial-servicios">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

         <!-- 
            Configuracion inicial
        -->
        <config-component
            app-config="{{appConfig}}"
        ></config-component>
        
        <!-- 
            Guarda el historial en la DB
         -->
        <iron-ajax
            id="guardarAuditoriaAjax"
            url="[[appConfig.hostServiceConfig.hostServiceNode]]:[[appConfig.hostServiceConfig.portServiceNode]]/historial/"
            method="POST"
            content-type="application/json"
            handle-as="json"
            on-response="_resultadoGuardar"
        >
        </iron-ajax>
        <!-- 
            Guarda el ticket en el historial
         -->
        <iron-ajax
            id="guardarTicketAjax"
            url="[[appConfig.hostServiceConfig.hostServiceNode]]:[[appConfig.hostServiceConfig.portServiceNode]]/historial/ticket/[[ultimoHistorial._id]]"
            method="PUT"
            content-type="application/json"
            handle-as="json"
            on-response="_resultadoGuardarTicket"
        >
         </iron-ajax>

         <!-- 
            Guarda la respuesta en el historial
         -->
        <iron-ajax
            id="guardarRespuestaAjax"
            url="[[appConfig.hostServiceConfig.hostServiceNode]]:[[appConfig.hostServiceConfig.portServiceNode]]/historial/respuesta/[[ultimoHistorial._id]]"
            method="PUT"
            content-type="application/json"
            handle-as="json"
            on-response="_resultadoGuardarRespuesta"
        >
        </iron-ajax>
        <!-- <fuse-rest-call
            id="guardarAuditoriaAjax"
            path="/auditoria/"
            on-response="_resultadoGuardar"
        ></fuse-rest-call> -->

        <!-- 
            Obtiene el historial
         -->
         <iron-ajax
            id="obtenerAuditoriaAjax"
            url="[[appConfig.hostServiceConfig.hostServiceNode]]:[[appConfig.hostServiceConfig.portServiceNode]]/historial/"
            method="GET"
            content-type="application/json"
            handle-as="json"
            on-response="_obtenerHistorialResponse"
        >
        </iron-ajax>

        <!-- 
            Componente localStorage para guardar los datos del usuario
        -->
        <iron-localstorage 
            id="authStorage"
            name="auth-storage"
            value="{{authVariables}}"
        ></iron-localstorage>
     
    </template>

    <script>
        class HistorialServicios extends Polymer.Element {
          
            static get is() {
                return 'historial-servicios';
            }

            static get properties() {
                return {
                    nombre: {
                        type: String,
                        notify: true
                    },
                    data: {
                        type: Object,
                        notify: true
                    },
                    historialObtenido: {
                        type: Object,
                        notify: true
                    },
                    isHistorialCalled: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    ultimoHistorial: {
                        type: Object,
                        notify: true,
                        observer: '_ultimoHistorialChange'
                    },
                    ultimaRespuesta: {
                        type: Object,
                        notify: true
                    },
                    appConfig: {
                        type: Object,
                        notify: true
                    },
                    elementosPorPagina: {
                        type: Number,
                        value: 10
                    },
                    numeroPagina: {
                        type: Number,
                        notify: true,
                        value: 1
                    }
                };
            }

            _obtenerHistorialResponse(evt){
                console.log()
                this.parentNode.host._historialResponse(evt)
                //Ir a nodo padre y presentar la informacion
            }


            guardarTicketEnHistorial(ticket){
                if(ticket){
                    //this.$.guardarTicketAjax.url = this.$.guardarTicketAjax.url + this.ultimoHistorial._id
                    this.$.guardarTicketAjax.body = ticket
                    this.$.guardarTicketAjax.generateRequest()
                }else{
                    console.error("No se ha podido guardar el ticket [historialId,ticket]: [" + historialId + "],[" + ticket + "]")
                }
            }

            guardarRespuesta(status, respuesta){
                var response;

                if(respuesta){

                    if(respuesta.error){
                        response = respuesta.error
                    }else{
                        response = respuesta
                    }

                    if(JSON.stringify(response) == "{}"){
                        response = response.message
                    }
                    
                    var body = {
                        status: status,
                        response: response
                    }                   

                    if(this.ultimoHistorial && this.ultimoHistorial._id){
                        this.$.guardarRespuestaAjax.body = body
                        console.log("Guardando desde flujo normal. El ultimo historial existe con id: " +this.ultimoHistorial._id)
                        this.$.guardarRespuestaAjax.generateRequest()
                        this.set("ultimaRespuesta", {})
                    }else{
                        this.set("ultimaRespuesta", body)
                        console.log("El ultimo historial no existe, guardando data de respuesta.")
                    }
                }
            }

            /**
             * Detecta cambios en el ultimo historial.
             * Si encuentra una respuesta para ese ultimo historial, la guarda en db
             * */
            _ultimoHistorialChange(newValue){
                if(this.ultimaRespuesta){
                    this.$.guardarRespuestaAjax.body = this.ultimaRespuesta
                    console.log("Guardando desde observer. El ultimo historial existe con id: " +this.ultimoHistorial._id)
                    this.$.guardarRespuestaAjax.generateRequest()
                    this.set("ultimaRespuesta", {})
                }
            }

            /**
            Maneja la respuesta de "guardar respuesta"
            */
            _resultadoGuardarRespuesta(evt){
                console.log("Entrando a guardar respuesta de: " + this.ultimoHistorial._id);
                const status = evt.detail.status

                if(status != 200 && status != 201){
                    console.error("No se ha podido guardar la respusta de la invocación en el historial")
                }
            }

            /**
             * Callback de guarda ticket
             * */
            _resultadoGuardarTicket(evt){
                const status = evt.detail.status

                if(status != 200 || status != 201){
                    console.error("No se ha podido guardar el ticket en el historial")
                }
            }

            /**
             * Obtiene el historial completo.
             * Se trabajara en una soluccion para buscar los llamados
             * */
            obtenerHistorial(){
                this.$.authStorage.reload()
                this.$.obtenerAuditoriaAjax.headers.username = this.authVariables.username
                this.$.obtenerAuditoriaAjax.headers.elementosPorPagina = this.elementosPorPagina
                this.$.obtenerAuditoriaAjax.headers.numeroPagina = this.numeroPagina
                this.$.obtenerAuditoriaAjax.generateRequest();
            }

            /**
             * Guarda el historial en base de datos.
             * si el campo no está definido y no se han pasado 
             * parmámetros a la función, no hace el llamado e imprime en la consola el error.
             * */
            guardarServicio(data, servicio){
                this.$.authStorage.reload()

                if(!data){
                    if(!this.data){
                        console.error("No se encontrado datos para guardar en el historial")
                        return;
                    }
                }else{
                    if(!servicio){
                        console.error("No se encontrado datos del servicio para guardar en el historial")
                        return;
                    }
                    this.data = data;
                }
                    
                var body = {
                    usuario: this.authVariables.username,
                    data: this.data,
                    servicio: servicio
                }

                this.$.guardarAuditoriaAjax.body = body;
                this.$.guardarAuditoriaAjax.generateRequest();
            }

            /**
             * Respuesta del guardado del historial.
             * Logea respuesta
             * */
            _resultadoGuardar(evt){
                const status = evt.detail.status;
                const response = evt.detail.response

                if(status == 201 || status == 200){
                    this.set("ultimoHistorial", response)
                    console.log("Historial guardado: " + response._id)
                    this.set("isHistorialCalled", true)
                }else{
                    console.log("Problemas al guardar el historial de la útima invocación.")
                }
            }

        }

        window.customElements.define(HistorialServicios.is, HistorialServicios);
    </script>
</dom-module>