<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../../../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="dali-icon">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <div hidden="{{hidden}}">
            <iron-icon id="icon" icon="{{iconName}}"></iron-icon>
            <paper-tooltip 
            fit-to-visible-bounds
            for="icon" 
            position="{{tooltipoPosition}}">{{tooltipText}}</paper-tooltip>
        </div>

    </template>

    <script>
        class DaliIcon extends Polymer.Element {
           
            static get is() {
                return 'dali-icon';
            }

            static get properties() {
                return {
                    iconName: {
                        type: String,
                        notify: true
                    },
                    tooltipText: {
                        type: String,
                        notify: true
                    },
                    tooltipoPosition: {
                        type: String,
                        notify: true,
                        value: "left"
                    },
                    color: {
                        type: String,
                        notify: true,
                        value: "lightcoral",
                        observer: '_colorChange'
                    },
                    type: {
                        type: Object,
                        notify: true
                    },
                    hidden:{
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    types:{
                        type: Object,
                        notify: true,
                        value: {
                            go: {
                                color: "color: var(--paper-light-blue-500);"
                            },
                            normal:{
                                color: "color: black;"
                            }
                        }
                    }
                };
            }

            _colorChange(newValue){
                var icon = this.$.icon;
                icon.style = "color: " + this.color
            }

            ready(){
                super.ready()
                var icon = this.$.icon;
                if(this.type){
                    var color = this.types[this.type].color

                    if(color){
                        icon.style = color
                    }
                }else{
                    icon.style = "color: " + this.color
                }
            }
        }

        window.customElements.define(DaliIcon.is, DaliIcon);
    </script>
</dom-module>