<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../dali-icon/dali-icon.html">

<dom-module id="dali-check">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }

            .space{
                margin-left: 0.5em;
            }

            paper-checkbox{
                --paper-checkbox-checked-color: var(--paper-light-blue-500);
                --paper-checkbox-checked-ink-color: var(--paper-light-blue-500);
                --paper-checkbox-unchecked-color: var(--paper-light-blue-500);
                --paper-checkbox-unchecked-ink-color: var(--paper-light-blue-500);
            }
            
        </style>

        <div class="container flex flex-center-align">
            <paper-checkbox
                id="check"
                checked="{{checked}}">
                    {{label}}
            </paper-checkbox>
    
            <template is="dom-if" if="{{helpMessage}}">
                <dali-icon
                    class="space"
                    icon-name="help-outline"
                    tooltip-text="{{helpMessage}}"
                    tooltipo-position="{{tooltipoPosition}}"
                ></dali-icon>
            </template>
           
        </div>

    </template>

    <script>
        
        class DaliCheck extends Polymer.Element {
           
            static get is() {
                return 'dali-check';
            }
            
            static get properties() {
                return {
                    checked: {
                        type: Boolean,
                        notify: true
                    },
                    label: {
                        type: String,
                        notify: true
                    },
                    helpMessage: {
                        type: String,
                        notify: true
                    },
                    tooltipoPosition: {
                        type: String,
                        notify: true,
                        value: "left"
                    }
                };
            }

        }

    
    
        window.customElements.define(DaliCheck.is, DaliCheck);
    </script>
</dom-module>