<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">

<dom-module id="dali-ticket-search">
    <template>
        <style include="my-colors">
            :host{
               
            }
            .search-button{
                color: #000;
                padding: 0em 1em 0em 1em;
            }
            .custom-input-search{
                --paper-input-container: { padding: 0;};
                --paper-input-container-underline: { display: none; height: 0;};
                --paper-input-container-underline-focus: { display: none; };
                --primary-text-color: #01579B;
                --paper-input-label-color: #01579B;
            }
            paper-input-container label{
                --paper-input-label-color: #01579B;                
            }
          
            .borders{
                border-radius: 7px;
            }
        </style>

        <div class="borders white-background">
            <paper-input 
                no-label-float 
                class="custom-input-search text-14"
                label="Buscar ticket" 
                value="{{valueSearch}}" 
                on-keydown="_pressEnter"
                id="input">
                <iron-icon 
                    class="search-button" 
                    icon="search" 
                    slot="prefix"
                ></iron-icon>
                <paper-icon-button 
                    class="color-go"
                    slot="suffix"  
                    icon="vaadin:arrow-right"
                    on-tap="_buscar"
                    title="buscar">
                </paper-icon-button>
                <paper-icon-button 
                    class="color-clear"
                    slot="suffix"  
                    icon="vaadin:close-small"
                    on-tap="_clear"
                    title="limpiar">
                </paper-icon-button>
            </paper-input>
        </div>
        <!-- <paper-button id="button" on-tap="_toggle" >
            <iron-icon id="icon" icon="search"></iron-icon>
            <span class="text-14">
                Buscar ticket
            </span>
        </paper-button> -->

    </template>

    <script>
        class DaliTicketSearch extends Polymer.Element {
            static get is() {
                return 'dali-ticket-search';
            }

            static get properties() {
                return {
                    valueSearch: {
                        type: String,
                        notify: true
                    },
                    ticket: {
                        type: String,
                        notify: true
                    }
                };
            }

            _buscar(evt){
                console.log("Buscando ticket: " + this.valueSearch);
                this.ticket = this.valueSearch;
                this["parentNode"].querySelector("#dali-ticket-content")._initSearch(this.valueSearch)
            }

            /**
                Comienza la busqueda con caso 13, tecla enter
                Tecla 27 (esc) borra contenido. Si no existe contenido cierra input de busqueda
            */
            _pressEnter(e){
                switch(e.keyCode){
                    case 13: //Enter
                        this._buscar(null)
                        break;
                    case 27: //Esc
                        if(this.$.input.value && this.$.input.value.trim().length != 0){
                            this.$.input.value = null;
                        }
                }  
            }

            _clear(evt){
                this.$.input.value = null;
                //this._toggle(evt);
            }

            _toggle(evt){
                this.$.collapse.toggle();
                var isOpened = this.$.collapse.opened;
                this.$.icon.hidden = isOpened;
                this.$.button.hidden = isOpened;
                this.$.input.focus();
            }
        }

        window.customElements.define(DaliTicketSearch.is, DaliTicketSearch);
    </script>
</dom-module>