<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="../../../../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../../../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">



<link rel="import" href="../../../../../../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../../../../../../../src/components/apis/service-api/components/fuse-rest-call/fuse-rest-call.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../dali-button/dali-button.html">

<dom-module id="dali-ticket-content">
    <template>
        <style include="my-colors" > 
            #alignedDialog {
                margin: 0;
            }
            .tool{
                --paper-tooltip-background: black;
                --paper-tooltip-text-color: var(--paper-pink-100);
                width: 190px;
            }

            .maxHeigth{
                /* max-height: 52em; */
            }
            .scrollable {
                @apply --layout-flex;
            }

            paper-dialog {
                width: 100%;
                @apply --layout-vertical;
            }

            paper-dialog paper-dialog-scrollable {
                --paper-dialog-scrollable: {
                    box-sizing: border-box;
                    max-height: 640px;
                }
            }
                
        </style>

        <fuse-rest-call
            
        ></fuse-rest-call>

        <iron-ajax
            id="obtenerTicketAjax"
            url="[[hostServiceConfig.hostServiceNode]]:[[hostServiceConfig.portServiceNode]][[hostServiceConfig.callFusePath]]"
            handle-as="json"
            on-response="_handleResponseTicket"
            on-error="_handleResponseTicketError"
            content-type="application/json",
            method="POST"      
        ></iron-ajax>

        <!-- 
            Componente localStorage que guarda los datos del ambiente
        -->
        <iron-localstorage 
            id="ambienteStorage"
            name="ambiente-storage"
            value="{{ambienteSeleccionado}}"
        ></iron-localstorage>

        <paper-dialog id="alignedDialog" class="" no-overlap horizontal-align="left" vertical-align="top" auto-fit-on-attach="true">
            <h2>Buscando ticket: <span>[[ticket]]</span></h2>
                    <paper-dialog-scrollable class="flexchild">
                        <paper-datatable data="{{data}}" >
                                <paper-datatable-column header="Proceso" property="proceso" type="String" sorted>
                                </paper-datatable-column>
                                <paper-datatable-column header="Fecha" property="fecha" type="String" sorted>
                                </paper-datatable-column>
                                <paper-datatable-column header="Estado" property="icon" sorted>
                                    <template>
                                        <iron-icon icon="{{value.name}}" ></iron-icon>
                                    </template> 
                                </paper-datatable-column>
                                <paper-datatable-column header="Detalle" property="detalle" type="String" sorted>
                                    <template is="dom-if" if="{{value}}" >
                                        <b>{{_getErrorPorTipo(item)}}</b><p></p>
                                        {{value}}
                                        <template is="dom-if" if="{{item.trace}}">
                                            <dali-button id="verDetalleButton{{item.index}}" 
                                                on-tap="_verTraza" 
                                                index="{{item.index}}" 
                                                class="space-left"
                                                type="button-action-normal"
                                                >
                                                    Ver traza
                                            </dali-button>
                                            <paper-dialog id="trazaDialog{{item.index}}">
                                                    <h2>{{_getErrorPorTipo(item)}}</h2>
                                                    <paper-dialog-scrollable>
                                                        {{item.trace}}
                                                    </paper-dialog-scrollable>
                                                    <div class="buttons button-action-cancel" style="color:palevioletred;">
                                                        <paper-button dialog-dismiss>Cerrar</paper-button>
                                                    </div>
                                            </paper-dialog>
                                            <paper-tooltip for="verDetalleButton{{index}}" id="toolT" fit-to-visible-bounds="true" class="tool" style="left: 0px;" animation-delay="0">
                                                {{item.trace}}
                                            </paper-tooltip>
                                        </template>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>
                        </paper-dialog-scrollable>
        </paper-dialog>
    </template>

    <script>
        
        class DaliTicketContent extends Polymer.Element {
           
            static get is() {
                return 'dali-ticket-content';
            }

            static get properties() {
                return {
                    target: {
                        type: String,
                    },
                    ticket: {
                        type: String,
                        notify: true
                    },
                    result: {
                        type: Object,
                        notify: true
                    },
                    data:{
                        type: Array,
                        notify: true
                    },
                    config:{
                        type: Object,
                        notify: true
                    },
                    hostServiceConfig: {
                        type: Object,
                        notify: true
                    },
                    toastText: {
                        type: String,
                        notify: true
                    },
                    ambiente:{
                        type: Object,
                        notify: true
                    }
                }
            };


            /**
             * Abre popUp y muestra la traza del error
             * */
            _verTraza(evt){
                var index = evt.currentTarget.index

                var dialog = evt.currentTarget.parentElement.querySelector("#trazaDialog" + index)
                dialog.open()
            }

            _getErrorPorTipo(item) {
                var tipo = item.tipo

                if(tipo){
                    var error= this.config.tipoErrores[tipo]

                    if(!error){
                        return this.config.reponseTypes.ok.noDetailText;
                    }

                    return error;
                }
                
            }

            _initSearch(ticket){
                if(this.target && ticket){
                    this.ticket = ticket;
                    var daliTicketSearch = this.parentNode.querySelector("#" + this.target);
                    this.$.alignedDialog.positionTarget = daliTicketSearch;
                    this._getTicket();
                }else{
                    // Lanzarr error de configuracion. Deben incluirse parametros
                    // taget y ticket
                }
            }

            /**
             * Crea mensaje para obtener ticket. Hace llamado
             * */
            _getTicket(){
                this.$.ambienteStorage.reload();

                var host = this.ambienteSeleccionado.host,
                    port = this.ambienteSeleccionado.port,
                    protocolo = this.ambienteSeleccionado.protocolo;

                var body = {
                    host: host,
                    port: port,
                    method: this.config.servicioTicket.method,
                    path: this.config.servicioTicket.path,
                    logBody: true,
                    protocolo: protocolo,
                    body: {
                        ticket: this.ticket
                    }
                }

                this.$.obtenerTicketAjax.body = body
                this.$.obtenerTicketAjax.generateRequest();
            }

            /**
             * Response de la obtencion del ticket
             * */
            _handleResponseTicket(evt){
                console.log("Respuesta del ticket: " + JSON.stringify(evt.detail.response));
                var iconName,
                    iconStyleClass;
                
                this.set('data', []);

                var data = evt.detail.response.map((respuestaTicket, index) => {
                    if(respuestaTicket.estado){
                        if(respuestaTicket.estado.toLowerCase().trim() == this.config.reponseTypes.ok.ok){
                            iconName = this.config.reponseTypes.ok.icon;
                            iconStyleClass =  this.config.reponseTypes.ok.style;
                        }else if(respuestaTicket.estado.toLowerCase().trim() == this.config.reponseTypes.nok.nok){
                            iconName = this.config.reponseTypes.nok.icon;
                            iconStyleClass = this.config.reponseTypes.nok.style  ;                   
                        }
                    }else{
                        iconName =  this.config.reponseTypes.nok.icon;
                        iconStyleClass = this.config.reponseTypes.nok.style  ;       
                    }

                    var icon = {
                        name: iconName,
                        styleClass: iconStyleClass,
                        index: index
                    }

                    respuestaTicket.icon = icon;
                    respuestaTicket.index = index;

                    return respuestaTicket;
                });

                this.set('data', data);
                

                this.$.alignedDialog.open();
            }


            /**
             * Maneja un error en la busqueda del ticket
             * */
            _handleResponseTicketError(evt){
                this.toastText = ''
                this.toastText = "Error interno del servidor. Por favor consulte con el administrador"
            }
        }

        window.customElements.define(DaliTicketContent.is, DaliTicketContent);
    </script>
</dom-module>