<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-upload/vaadin-upload.html">

<dom-module id="dali-file-reader" >
    <template>
        <style include="my-colors">
            .color-fix{
                color: #000;
            }

            file-list{
                color: #000;
            }
        </style>

        <vaadin-upload  id="file" files="{{files}}" accept="{{accept}}" noAuto="true" max-files="1">
            <paper-button id="uploadButton"  slot="add-button" class="button-action-go">[[buttonText]]</paper-button>
            <span slot="drop-label" class="color-fix">[[dropFileText]]</span>
        </vaadin-upload>

        
    </template>
    <div class="tres" id="tres" hidden="true" />
    <script>
        class PascalCaseName extends Polymer.Element {
            static get is() {
                return 'dali-file-reader';
            }
            static get properties() {
                return {
                    files: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    accept: {
                        type: String,
                        default: ".xml"
                    },
                    buttonText: {
                        type: String,
                        value: "Seleccione archivo"
                    },
                    dropFileText: {
                        type: String,
                        value: "Arrastre documento aqui"
                    },
                    content: {
                        type: String,
                        notify: true
                    },
                    readerType: {
                        type: String,
                        value: "text",
                        enum: {
                            text: "text",
                            blob: "blob"
                        }
                    },
                    encoding: {
                        type: String,
                        default: "UTF-8"
                    },
                    toastText: {
                        type: String,
                        notify: true
                    },
                    result: {
                        type: String,
                        notify: true,
                        observer: '_resultChange'
                    }
                };
            }

            _getResult(){
                return this.result
            }

            _resultChange(newValue){
                if(newValue){
                    this.toastText = "Archivo cargado exitosamente: '" + newValue.substring(40, 70) + "...'";
                }else{
                    this.toastText = null
                }
            }

            _fileChange(newValue, oldValue){
                if(newValue){
                    if(this.readerType == "text"){
                        var file = Polymer.dom(this.root).querySelector("#file");
                        //file.files = []
                        //file.files[0] = newValue.indexSplices[0].object[0]
                        if(file.files[0]){
                            var reader = new FileReader();
                            //this.toastText = "Iniciando carga de archivo"
                            reader.readAsText(file.files[0], this.encoding);

                            reader.onloadend = function(evt){
                                this.result = "";
                                this.result = evt.target.result;
                            }.bind(this)
                        }else{
                            this.result = null
                        }
                    }else if(this.readerType == "blob"){
                        console.error("Blob type not implemented yet!")
                    }else{
                        console.error("Cant read readerType!")
                    }
                }
            }

            static get observers() {
                return [
                    '_fileChange(files.splices)'
                ]
            }

        }

        window.customElements.define(PascalCaseName.is, PascalCaseName);
    </script>
</dom-module>