<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../../../../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../dali-icon/dali-icon.html">
<link rel="import" href="../../../../../../../../src/components/shared/shared-styles.html">


<dom-module id="dali-icon-button">
    <template>
        <style include="my-colors">
            :host {
                display: block
            }
        </style>

        <paper-icon-button 
            id="button"
            hidden="{{hidden}}"
            class="width-icon" 
            icon="[[icon]]" 
        ></paper-icon-button>

        <paper-tooltip 
            for="button" 
            position="[[tooltipoPosition]]" 
            animation-delay="[[tooltipDelay]]">
                [[tooltipText]]
        </paper-tooltip>
    </template>

    <script>
        class DaliIconButton extends Polymer.Element {
            static get is() {
                return 'dali-icon-button';
            }

            _typeChanged(newValue, oldValue){
                if(newValue){
                    this.$.button.classList.toggle(newValue, true);  
                    
                    if(oldValue){
                        this.$.button.classList.toggle(oldValue, false);                          
                    }
                }else{
                    this.$.button.classList.toggle("button-action-normal", true);  
                }
            }
            
            static get properties() {
                return {
                    type:{
                        type: String,
                        notify: true,
                        value: "button-action-normal",
                        observer: '_typeChanged'
                    },
                    icon:{
                        value: String
                    },
                    tooltipText:{
                        type: String
                    },
                    tooltipoPosition:{
                        type: String,
                        notify: true,
                        value: "bottom"
                    },
                    tooltipDelay:{
                        type: Number,
                        value: 0
                    },
                    hidden: {
                        type: Boolean,
                        notify: true
                    },
                    config:{
                        type: Object,
                        value:{
                            go: "button-action-go",
                            normal: "button-action-normal",
                            cancel: "button-action-cancel"
                        }
                    }             
                };
            }

        }

        window.customElements.define(DaliIconButton.is, DaliIconButton);
    </script>
</dom-module>